<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <div class="close-dismiss"></div>
        <div class="close-dismiss" (click)="close()"></div>
    </div>
    <div class="modal-body">
        <p>Are you sure to delete?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-theme btn-sm pull-right" (click)="delete()">Delete</button>
        <a href="javascript:void(0)" class="btn btn-border-gray btn-sm pull-right" (click)="cancel()">Cancel</a>
    </div>
</div>