<div class="main-page-body block-scheduler-page">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="page-header-title">Block Lease Scheduler</div>
            </div>

        </div>
    </div>
    <div class="inner-page-body">
        <div class="search-field search-field-theme">
            <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                    <div class="theme-form">

                        <div class="form-group autocomplete form-group1  normal-text">
                            <div class="theme-label">Facility</div>
                            <div>
                                <ng-select [items]="facilityList" placeholder="Select" bindLabel="FacilityName"
                                     [closeOnSelect]="false" bindValue="FacilityID" [multiple]="false"
                                    
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedFacility">
                                    <!-- <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                            <span class="ng-value-label"> {{item.FacilityName}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                aria-hidden="true">×</span>
                                        </div>
                                    </ng-template> -->
                                </ng-select>
                            </div>
                        </div>                        
                        <div class="form-group autocomplete form-group1">
                            <div class="theme-label">Modality</div>
                            <div>
                                <ng-select [items]="modalityList" placeholder="Select" bindLabel="ModalityName"
                                    [closeOnSelect]="false" bindValue="ModalityName" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedModality">
                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                            <span class="ng-value-label"> {{item.ModalityName}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                aria-hidden="true">×</span>
                                        </div>                                      
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group autocomplete form-group1">
                            <div class="theme-label">Schedule Created</div>
                            <div class="input-group">
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedScheduleStatus">
                                    <option value= -1>Select</option>
                                    <option value="1">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group autocomplete form-group1">
                            <div class="theme-label">Lease Status</div>
                            <div class="input-group">
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="SelectedsLeaseStatus">
                                <option value= -1 >Select</option>
                                <option value=0>Facility not signed</option>
                                <option value=1>Completed</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group autocomplete form-group1">
                            <div class="theme-label">Paid Status</div>
                            <div class="input-group">
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selectedPaid">
                                <option value= -1 >ALL</option>
                                <option value=1>PAID</option>
                                <option value=0>UNPAID</option>

                            </select>
                            </div>
                        </div>
                        <div class="form-action">
                            <a href="javascript:void(0)" class="btn btn-theme" (click)="applyFilter()">SEARCH</a>
                            <a href="javascript:void(0)" class="btn btn-border" (click)="clearApplyFilter()">CLEAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                    <ul class="top-left action-menu">
                        <li class="pull-right">
                            <!-- <a href="javascript:void(0)" title="Settings" class="pe-7s-config"></a> -->
                            <a href="javascript:void(0);" class="pe-7s-config" data-toggle="modal"
                                data-target="#creditReasonsSettings">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cash-price-table table-responsive">
            <div class="scheduling-facillities-table">
                <dx-data-grid id="gridContainer" [dataSource]="AllBlockLeaseList" keyExpr="FacilityID"
                    [columnAutoWidth]="true" [showBorders]="true" [allowColumnReordering]="true"
                    [wordWrapEnabled]="true">
                    <!-- <dxo-column-chooser [enabled]="true"></dxo-column-chooser> -->
                    <dxi-column  caption="Facility" cellTemplate="viewCellTemplate" [fixed]="true" dataField="Facilityname"> </dxi-column>
                    <dxi-column [width]="250"
                        [caption]="checkUndefiend('MonthLabels0')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels1')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels2')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels3')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels4')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels5')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels6')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels7')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels8')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels9')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels10')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels11')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <dxi-column [width]="250" [caption]="checkUndefiend('MonthLabels12')">
                        <dxi-column [width]="125" caption="MRI" cellTemplate="getDataTemplate">
                        </dxi-column>
                        <dxi-column [width]="125" caption="CT" cellTemplate="getDataTemplate">
                        </dxi-column>
                    </dxi-column>
                    <div *dxTemplate="let data of 'getDataTemplate'">
                        <ul class="datagrid-list">
                            <li *ngIf="(getColumnByDataField(data)[0].IsScheduledComplete == true && (getColumnByDataField(data)[0].MRI !== null || getColumnByDataField(data)[0].MRI > 0 )) && data.column.caption == 'MRI'">
                                <img [src]="getColumnByDataField(data)[0].IsScheduledComplete==true?'assets/images/schedule-check.png':'assets/images/schedule-cancel.png'"
                                    style="width: 18px;" />
                                <span *ngIf="getColumnByDataField(data)[0].MRI > 0 && data.column.caption == 'MRI'"
                                    class="displayCounter">{{getColumnByDataField(data)[0].MRI}}</span>

                            </li>
                            <li *ngIf="(getColumnByDataField(data)[0].IsScheduledComplete== true && ( getColumnByDataField(data)[0].CT !== null || getColumnByDataField(data)[0].CT > 0 ))  && data.column.caption == 'CT'">
                                <img [src]="getColumnByDataField(data)[0].IsScheduledComplete==true?'assets/images/schedule-check.png':'assets/images/schedule-cancel.png'"
                                    style="width: 18px;" />
                               
                                <span *ngIf="(getColumnByDataField(data)[0].CT !== null || getColumnByDataField(data)[0].CT > 0  ) && data.column.caption == 'CT'"
                                    class="displayCounter">{{getColumnByDataField(data)[0].CT}}</span>
                            </li>
                            <li
                                *ngIf="getColumnByDataField(data)[0].IsCtService === false && data.column.caption == 'CT'">
                                <img src="/assets/images/schedule-cross.png" style="width: 18px;" />
                            </li>
                            <li
                                *ngIf="getColumnByDataField(data)[0].IsMriService === false && data.column.caption == 'MRI'">
                                <img src="/assets/images/schedule-cross.png" style="width: 18px;" />
                            </li>
                            <li *ngIf="getColumnByDataField(data)[0].IsPaid  && (  getColumnByDataField(data)[0].MRI !== null && getColumnByDataField(data)[0].MRI > 0 ) && data.column.caption == 'MRI'">
                                <img class="paid_unpaid_cursor"
                                    (click)="getFacilityDetail(data.data.FacilityID,'LeasePaymentsPaid')"
                                    data-toggle="modal" data-target="#add-Edit-facility"
                                    src="assets/images/paid.png"
                                    style="width: 11px;" />
                            </li>
                            <li *ngIf="getColumnByDataField(data)[0].IsPaid  && (  getColumnByDataField(data)[0].CT !== null && getColumnByDataField(data)[0].CT > 0  ) && data.column.caption == 'CT'">
                                <img class="paid_unpaid_cursor"
                                    (click)="getFacilityDetail(data.data.FacilityID,'LeasePaymentsPaid')"
                                    data-toggle="modal" data-target="#add-Edit-facility"
                                    src="assets/images/paid.png"
                                    style="width: 11px;" />
                            </li>
                            <!-- <li><span>CT data:</span>{{getColumnByDataField(data)[0].CT}}</li> -->
                            <li *ngIf="getColumnByDataField(data)[0].IsUnpaid && (getColumnByDataField(data)[0].MRI !== null || getColumnByDataField(data)[0].MRI > 0 )   && data.column.caption == 'MRI'">
                                <img class="paid_unpaid_cursor"
                                    (click)="getFacilityDetail(data.data.FacilityID,'LeasePaymentsUnPaid')"
                                    data-toggle="modal" data-target="#add-Edit-facility"
                                    src="assets/images/unpaid.png"
                                    style="width: 11px;" />
                            </li>
                            <li *ngIf="getColumnByDataField(data)[0].IsUnpaid && ( getColumnByDataField(data)[0].CT !== null || getColumnByDataField(data)[0].CT > 0 )  && data.column.caption == 'CT'">
                                <img class="paid_unpaid_cursor"
                                    (click)="getFacilityDetail(data.data.FacilityID,'LeasePaymentsUnPaid')"
                                    data-toggle="modal" data-target="#add-Edit-facility"
                                    src="assets/images/unpaid.png"
                                    style="width: 11px;" />
                            </li>
                            <li *ngIf="getColumnByDataField(data)[0].IsFacilitySign  && (getColumnByDataField(data)[0].MRI !== null || getColumnByDataField(data)[0].MRI > 0 )  && data.column.caption == 'MRI'">
                                <img data-toggle="modal" data-target="#all-leases-popup"
                                    (click)="getAllLeasesOfFacilityByStatus(data.data.FacilityID,data,true,'LEASESIGNED')"
                                    src="assets/images/sign-lease.png" class="paid_unpaid_cursor"
                                    style="width: 18px;" />
                            </li>
                            <li *ngIf="getColumnByDataField(data)[0].IsFacilitySign && (getColumnByDataField(data)[0].CT !== null || getColumnByDataField(data)[0].CT > 0 )   && data.column.caption == 'CT'">
                                <img data-toggle="modal" data-target="#all-leases-popup"
                                    (click)="getAllLeasesOfFacilityByStatus(data.data.FacilityID,data,true,'LEASESIGNED')"
                                    src="assets/images/sign-lease.png" class="paid_unpaid_cursor"
                                    style="width: 18px;" />
                            </li>
                            
                            <li *ngIf="getColumnByDataField(data)[0].IsFacilityNotSign && (getColumnByDataField(data)[0].MRI !== null || getColumnByDataField(data)[0].MRI > 0 ) && data.column.caption == 'MRI'">
                                <img data-toggle="modal" data-target="#all-leases-popup"
                                    (click)="getAllLeasesOfFacilityByStatus(data.data.FacilityID,data,true,'LEASEUNSIGNED')"
                                    src="assets/images/sign-pending.png" class="paid_unpaid_cursor"
                                    style="width: 18px;" />
                            </li>
                            <li *ngIf="getColumnByDataField(data)[0].IsFacilityNotSign && ( getColumnByDataField(data)[0].CT !== null || getColumnByDataField(data)[0].CT > 0 ) && data.column.caption == 'CT'">
                                <img data-toggle="modal" data-target="#all-leases-popup"
                                    (click)="getAllLeasesOfFacilityByStatus(data.data.FacilityID,data,true,'LEASEUNSIGNED')"
                                    src="assets/images/sign-pending.png" class="paid_unpaid_cursor"
                                    style="width: 18px;" />
                            </li>
                        </ul>
                    </div>
                    <div *dxTemplate="let data of 'viewCellTemplate'">
                        <a href="javascript:void(0);" class="link-btn" (click)="getCalendarSchedulerWindowById(data)"
                            data-toggle="modal" data-target="#CalendarSchedulerWindow">
                            {{data.data.Facilityname}}</a>
                    </div>
                </dx-data-grid>

            </div>
            <div>
                <div>
                    <div
                        *ngFor="let item of AllBlockLeaseList | paginate: { id:'paginatelist',itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }">
                    </div>
                    <pagination-controls id="paginatelist" (pageChange)="pageChangedForAllLeases($event)">
                    </pagination-controls>

                </div>
            </div>

        </div>

        <div class="cash-price-list">
            <ul>
                <li>
                    <img src="/assets/images/schedule-check.png" />
                    <span>Schedule Complete</span>
                </li>
                <li>
                    <img src="/assets/images/schedule-cross.png" />
                    <span>Modality is not offered at facility</span>
                </li>
                <li>
                    <img src="/assets/images/schedule-cancel.png" />
                    <span>Schedule not complete</span>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="/assets/images/sign-lease.png" />
                    <span>Lease signed</span>
                </li>
                <li>
                    <img src="/assets/images/sign-pending.png" />
                    <span>Pending facility signature</span>
                </li>
                <li>
                    <img src="/assets/images/paid.png" style="width:11px;" />
                    <span>Paid</span>
                </li>
                <!-- <li>
                    <img src="/assets/images/sign-parties.png" />
                    <span>Lease not signed by both parties</span>
                </li> -->
            </ul>
            <ul>
                <!-- <li>
                    <img src="/assets/images/paid.png" style="width:11px;" />
                    <span>Paid</span>
                </li> -->
                <li>
                    <img src="/assets/images/unpaid.png" style="width:11px;" />
                    <span>Unpaid</span>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="modal fade modal-theme modal-small" id="all-leases-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leases</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <!--<div class="page-top-action">
            <div class="precisemri-search">
              <select class="form-search">
                <option selected="">Select an Action</option>
                <option>Paid</option>
                <option>Unpaid</option>
              </select>
              <a href="javascript:void(0)" class="search">Go</a>
            </div>
          </div>-->
                <div class="table-responsive">
                    <dx-data-grid id="facility-leases-grid-container" [dataSource]="facilityLeasesList"
                        [allowColumnResizing]="true" [columnAutoWidth]="true" [allowColumnReordering]="true"
                        [columnMinWidth]="30" keyExpr="LeaseId" [showBorders]="true">
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

                        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                        <dxi-column dataField="LeaseId" caption="Lease #"></dxi-column>
                        <dxi-column dataField="LeaseDate" caption="LEASE CREATION DATE"  cellTemplate="leaseDateCellTemplate"></dxi-column>
                        <dxi-column dataField="ModalityType" caption="modality" ></dxi-column>
                        <dxi-column dataField="BlockLeaseNumber" caption="Token"></dxi-column>
                        <dxi-column dataField="TotalHours" caption="Lease Hours"></dxi-column>
                        <dxi-column dataField="LeaseAgreement" cellTemplate="leaseAggrementTemplate"
                            caption="Lease Agreements"></dxi-column>
                        <div *dxTemplate="let data of 'leaseDateCellTemplate'">
                            <ng-container *ngIf="data && data.value">
                                {{data.value | date:dateTimeFormatCustom.Date}}
                            </ng-container>
                        </div>
                        <div *dxTemplate="let data of 'leaseAggrementTemplate'">
                            <a href="javascript:void(0)" (click)="getLeaseAggrementDetail(data.data.LeaseAgreement,'')"
                                class="link-btn fa fa-file-pdf-o" data-toggle="modal"
                                data-target="#view-lease-aggrement-pdf"></a>
                        </div>
                    </dx-data-grid>
                </div>
                <div>
                    <div>
                        <div
                            *ngFor="let item of facilityLeasesList | paginate: { itemsPerPage: leasePageSize, currentPage: leasePageNumber, totalItems:totalLeaseRecords }">
                        </div>
                        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-border btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-theme in" id="view-lease-aggrement-pdf" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lease Agreement</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body" *ngIf="fileData">
                <iframe width="100%" height="100%" frameBorder="0" [src]="fileData"></iframe>
            </div>
        </div>
    </div>
</div>
<app-calendar-scheduler></app-calendar-scheduler>
<app-credit-reasons-setting></app-credit-reasons-setting>