<!---------------------------add funding company modal start---------------------------->
<div class="modal fade modal-theme in modal-small" data-backdrop="static" data-keyboard="false" *ngIf="fundingCompanyId != undefined && fundingCompanyId != null"
    id="AddFundingCmpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <form (ngSubmit)="onSubmit()" [formGroup]="fundingCompanyForm" class="modal-dialog modal-dialog-centered"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    [innerText]="(fundingCompanyId == 0?'Add New Funding Company':'Edit Funding Company')"></h5>
                <div class="close-dismiss" data-dismiss="modal" #modal_close></div>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                    <div class="tab-section addFundingCmp-tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#companyinfo">Company Info</a>
                            </li>
                            <li class="nav-item" *ngIf="fundingCompanyId > 0">
                                <a class="nav-link" data-toggle="tab" href="#pricing">Pricing</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="companyinfo">
                                <div class="company-form">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control"
                                                        formControlName="fundingCompanyName"
                                                        placeholder="Company Name*">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['fundingCompanyName'].invalid &&
                                                        fundingCompanyForm.controls['fundingCompanyName'].touched
                                                        && fundingCompanyForm.controls['fundingCompanyName'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['fundingCompanyName'].errors.required">
                                                        Company Name is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control"
                                                        formControlName="contactName" placeholder="Contact Name*">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['contactName'].invalid &&
                                                        fundingCompanyForm.controls['contactName'].touched
                                                        && fundingCompanyForm.controls['contactName'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['contactName'].errors.required">
                                                        Contact Name is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control" formControlName="address1"
                                                        placeholder="Address 1*">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['address1'].invalid &&
                                                        fundingCompanyForm.controls['address1'].touched
                                                        && fundingCompanyForm.controls['address1'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['address1'].errors.required">
                                                        Address 1 is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control"
                                                        formControlName="contactEmail" placeholder="Contact Email*">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['contactEmail'].invalid &&
                                                        fundingCompanyForm.controls['contactEmail'].touched
                                                        && fundingCompanyForm.controls['contactEmail'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['contactEmail'].errors.required">
                                                        Contact Email is required.
                                                    </small>
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['contactEmail'].errors.pattern">
                                                        Please provide a valid Contact Email.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control" formControlName="address2"
                                                        placeholder="Address 2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                  <input type="text" class="form-control" maxlength="14"  mask="(000) 000-0000"
                                                  formControlName="contactPhone" placeholder="Contact Phone*">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['contactPhone'].invalid &&
                                                        fundingCompanyForm.controls['contactPhone'].touched
                                                        && fundingCompanyForm.controls['contactPhone'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['contactPhone'].errors.required">
                                                        Contact Phone is required.
                                                    </small>
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['contactPhone'].errors.pattern">
                                                        Please enter a valid Contact Phone.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control" formControlName="city"
                                                        placeholder="City*">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['city'].invalid &&
                                                        fundingCompanyForm.controls['city'].touched
                                                        && fundingCompanyForm.controls['city'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['city'].errors.required">
                                                        City is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control" formControlName="fax"
                                                        placeholder="Contact Fax">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['fax'].invalid &&
                                                        fundingCompanyForm.controls['fax'].touched
                                                        && fundingCompanyForm.controls['fax'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['fax'].errors.pattern">
                                                        Please enter a valid Contact Fax.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <ng-select [items]="state" bindLabel="abbreviation"
                                                        bindValue="abbreviation" [multiple]="false"
                                                        formControlName="state" class="w-100 funding-state" [selectableGroup]="false"
                                                        placeholder="State*">
                                                    </ng-select>
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['state'].invalid &&
                                                        fundingCompanyForm.controls['state'].touched
                                                        && fundingCompanyForm.controls['state'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['state'].errors.required">
                                                        State is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                    <input type="text" class="form-control" formControlName="taxId"
                                                        placeholder="Tax ID*">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['taxId'].invalid &&
                                                        fundingCompanyForm.controls['taxId'].touched
                                                        && fundingCompanyForm.controls['taxId'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['taxId'].errors.required">
                                                        Tax ID is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="input-group validation-tooltip">
                                                  <input type="text" class="form-control" formControlName="zip" minlength="5" maxlength="5"
                                                  placeholder="Zip*" mask="00000">
                                                </div>
                                                <div *ngIf="fundingCompanyForm.controls['zip'].invalid &&
                                                        fundingCompanyForm.controls['zip'].touched
                                                        && fundingCompanyForm.controls['zip'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['zip'].errors.required">
                                                        Zip is required.
                                                    </small>
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['zip'].errors.minLength || fundingCompanyForm.controls['zip'].errors.pattern">
                                                        Please enter the valid Zip code.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                          <div class="input-group validation-tooltip">
                                            <ng-select [items]="assignment" bindLabel="text" bindValue="value"
                                                [multiple]="true" groupBy="selectedAllGroup" class="w-100 funding-notify-assignment"
                                                [readonly]="isNotify_readonly"
                                                formControlName="notifyAssignment" [selectableGroup]="false"
                                                placeholder="Notify of assignment*">
                                            </ng-select>
                                        </div>
                                            <div *ngIf="fundingCompanyForm.controls['notifyAssignment'].invalid &&
                                            fundingCompanyForm.controls['notifyAssignment'].touched
                                            && fundingCompanyForm.controls['notifyAssignment'].errors"
                                                    class="tooltiptext">
                                                    <small class="error text-danger"
                                                        *ngIf="fundingCompanyForm.controls['notifyAssignment'].errors.required">
                                                        Notify of assignment is required.
                                                    </small>
                                                </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="checkbox-theme pull-left">
                                                    <input id="fundingcmp" class="styled" (change)="onDefaultCompanyChanged()"
                                                        type="checkbox" formControlName="defaultCompany">
                                                    <label for="fundingcmp" style="text-transform:capitalize;"
                                                        class="arrow-label">Default Funding Company</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="checkbox-theme pull-left">
                                                    <input id="isactive" class="styled" type="checkbox"
                                                        formControlName="isActive" [attr.disabled]="isNotify_readonly ? true : null">
                                                    <label for="isactive" style="text-transform:capitalize;"
                                                        class="arrow-label">Is Active</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pricing">
                                <h4 class="pricingTitle">Please enter a selling price for each type of study</h4>
                                <p class="note">* Every row must have a selling price</p>
                                <div class="study-table-price">
                                    <table class="table-responsive table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Study Type</th>
                                                <th>Sell AR Assignment Price</th>
                                            </tr>
                                        </thead>
                                        <tbody [formGroup]="fundingCompanyPriceForm">
                                            <tr *ngFor="let item of cptGroupList">
                                                <td>{{item.groupName}}</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" formControlName="{{item.groupId}}">
                                                        <!-- <label *ngIf="item.price >0">{{item.price}}</label> -->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-left btn-sm"
                    data-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-theme pull-right btn-sm"
                    [ngClass]="!fundingCompanyForm.valid ? 'btn-grey disabled' : 'btn-primary'"
                    id="btnUpdate">{{fundingCompanyId==0?'Add':'Save'}} Funding
                    Company</button>
            </div>
        </div>
    </form>
</div>
<!--------------------------end------------------------------->
