<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        
        <div class="close-dismiss"></div>
        <div class="close-dismiss" (click)="close()"></div>
    </div>
    <div class="modal-body">  
                <p *ngIf="isPastDateOrOffDays">ALERT
                    FACILITY IS EITHER CLOSED OR HAVE LESS SCHEDULING HOURS ON SOME OF THE DAYS SELECTED IN BLOCK LEASE DURATION. DO YOU STILL WANT TO LEASE THIS BLOCK?"</p>
                <p *ngIf="!isPastDateOrOffDays">YOU HAVE SELECTED PAST DATE(S) IN THE LEASE BLOCK, ARE YOU SURE YOU WANT TO PROCEED?"</p> 
    </div>
    <div class="modal-footer">      
        <button type="button" class="btn btn-theme btn-sm pull-right" (click)="confirm()">Yes</button>
        <a href="javascript:void(0)" class="btn btn-border-gray btn-sm pull-right" (click)="cancel()">No</a>
    </div>
</div>