
:host ::ng-deep .ck-editor__editable_inline {
    height: 280px !important;
    overflow-y: scroll !important
}
.disabledClass{
	pointer-events: none !important;
  }
  /* .dxDataGrid {
    height: calc(100vh - 140px);
    } */

    .dx-freespace-row {  
      height: 0px !important;  
   }  