<div class="tab-pane active" id="pickup-status">
    <div class="theme-form-center">
        <form [formGroup]="pickupForm" class="theme-form">
            <div class="theme-panel-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <ckeditor #myckeditor formControlName="body"
                            required [config]="CkeConfig" id="email-editor" (paste)="onPaste($event)"
                            (change)="onChange($event)">
                        </ckeditor>
                        <!-- <ckeditor [editor]="Editor" [config]="editorConfig"  formControlName="body">
                            <textarea class="form-control" id="email-editor" cols="300" rows="100" formControlName="body" required></textarea>
                        </ckeditor> -->
                        <div *ngIf="submitted && pForm.body" class="tooltiptext text-right">
                            <small class="error text-danger" *ngIf="pForm.body.invalid">Content is required</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="theme-panel-footer">
                <button type="button" (click)="onSubmit()" class="btn btn-theme">SAVE</button>
            </div>
        </form>
    </div>
</div>