<div class="radProtal-section Liensettings">
  <app-header></app-header>
  <div class="radportal-body">
    <div class="rad-lien-setting">
      <h3 class="lien-title"> <a routerLink="/lien-portal"><i class="fa fa-arrow-left"></i></a> Change Password</h3>

      <div class="profile-page-body">
        <div class="container">
          <div class="theme-panel theme-panel-white">
            <div class="theme-panel-header">
              <div class="panel-title">Change your password</div>
            </div>
            <div class="theme-panel-body">
              <form class="theme-form" [formGroup]="changePasswordForm">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <div class="theme-label">Current Password</div>
                      <div class="input-group icon-active">
                        <input type="password" class="form-control ng-untouched ng-pristine ng-invalid"
                          [ngClass]="{'is-invalid': IsSubmitted && getFromControls.currentPassword.errors}"
                          formControlName="currentPassword">
                        <i class="pe-icon pe-7s-check text-green"></i>
                      </div>
                      <div *ngIf="IsSubmitted && (getFromControls.currentPassword.errors || !clearFields)"
                        class="tooltiptext text-right">
                        <small class="error text-danger" *ngIf="getFromControls.currentPassword.errors.required">Current
                          Password is required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <div class="theme-label">New Password</div>
                      <div class="input-group icon-active">
                        <input type="password" class="form-control ng-dirty ng-untouched ng-pristine ng-invalid"
                          [ngClass]="{'is-invalid': IsSubmitted && getFromControls.newPassword.errors}"
                          formControlName="newPassword">
                        <i class="pe-icon pe-7s-check text-green"></i>
                        <div *ngIf="IsSubmitted && getFromControls.newPassword.errors" class="tooltiptext text-right">
                          <small *ngIf="IsSubmitted && getFromControls.newPassword.errors.required"
                            class="error text-danger">New Password is Required</small>
                          <small *ngIf="IsSubmitted && getFromControls.newPassword.errors.pattern"
                            class="error text-danger">Invalid Password</small>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <div class="theme-label">Confirm Password</div>
                      <div class="input-group icon-active">
                        <input type="password" class="form-control ng-untouched ng-pristine ng-invalid"
                          [ngClass]="{'is-invalid': IsSubmitted && getFromControls.confirmPassword.errors}"
                          formControlName="confirmPassword">
                        <i class="pe-icon pe-7s-check text-green"></i>
                      </div>
                      <div *ngIf="IsSubmitted && getFromControls.confirmPassword.errors" class="tooltiptext text-right">
                        <small class="error text-danger"
                          *ngIf="IsSubmitted && getFromControls.confirmPassword.errors.required"> Confirm Password is
                          Required</small>
                        <small class="error text-danger"
                          *ngIf="IsSubmitted && getFromControls.confirmPassword.errors.pattern">Invalid Password</small>
                        <small class="error text-danger"
                          *ngIf="IsSubmitted && getFromControls.confirmPassword.errors.mustMatch">Confirm Password must
                          match with new password </small>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="alert alert-info" role="alert">
                  Password must contain: Minimum 8 characters, one lowercase, one capital and one numeric character
                </div>
                <div class="theme-panel-footer">
                  <button type="submit" class="btn btn-theme" (click)="onSubmit()">Update</button>
                  <a href="javascript:void(0)" class="btn btn-border" (click)="clearFields()">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>