<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header-title">Communication</div>
            </div>
        </div>
    </div>
    <div class="inner-page-body">
            <div class="search-field search-field-theme collapse show">
                <form>
                    <div class="theme-form">
                             <div class="form-group">
                                <div class="theme-label">Search</div>
                                <div class="input-group">
                                    <input type="text" class="form-control" [(ngModel)]="searchTextBoxModal" #searchBox>
                                </div>
                            </div>
                            <div class="form-action">
                                <div class="input-group">                         
                                    <!-- <button type="submit" class="btn btn-theme" [disabled]="(searchBox.value=='') ?true:false"
                                    [ngStyle]="{'background-color': (searchBox.value=='') ? '#bfbfbf' : '#3b8beb'}"
                                        (click)="searchFilter(searchBox.value)">Search</button> -->
                                    <button type="submit" class="btn btn-theme"
                                            (click)="searchFilter(searchBox.value)">Search</button>
                                    <button type="button" class="btn btn-border"
                                        (click)="clearFilters(searchBox)">Clear</button>
                                </div>
                            </div>
                     </div>
                </form>
            </div>

        <div class="tab-section">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'outbound'" routerLinkActive="active">Outbound</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'atty-bill-log'" routerLinkActive="active">Atty Bill Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'failure'" routerLinkActive="active">Failure</a>
                </li>
            </ul>
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>    
        </div>
    </div>
</div>
