<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="page-header-title">Action Needed</div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <a href="javascript:void(0)" class="btn btn-theme filter-btn filter-mobile"><i class="fa fa-filter"
                        aria-hidden="true"></i> Filter</a>
            </div>
        </div>
    </div>
    <div class="inner-page-body">
        <div class="search-field search-field-theme collapse show">
            <div class="remove-cataloge" data-toggle="collapse" data-target="#fillter"></div>
            <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" class="theme-form">
                <div class="form-group">
                    <div class="theme-label">PATIENT ID</div>
                    <div class="input-group">
                        <input type="text" formControlName="patientId" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="theme-label">STATUS</div>
                    <ng-select [items]="statusList" [multiple]="true" bindLabel="Status" placeholder="Select"
                        groupBy="Type" formControlName="status" [selectableGroup]="true"
                        [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="STATUS"
                        [loading]="showDropdownLoader">
                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{ standalone : true }"
                                [(ngModel)]="item$.selected" /> {{item.Type | uppercase}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{ standalone : true }"
                                [(ngModel)]="item$.selected" /> {{item.STATUS}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                <span class="ng-value-label"> {{item.STATUS}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <ng-template ng-multi-label-tmp let-items="items" let-index="index" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                    <span class="ng-value-label"> {{item.financialtypename}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)"
                                        aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 1">
                                    <span *ngIf="(items.length)>1" class="ng-value-label">{{items.length - 1}} more...</span>
                                </div>
                            </ng-template>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="form-group">
                    <div class="theme-label">FINANCIAL TYPE</div>
                    <ng-select [items]="financialTypeList" placeholder="Select" bindLabel="FINANCIALTYPENAME"
                        formControlName="financialType" [multiple]="true" id="id131" (add)="a1=ValidateMultiSelectTextLength('id131',a1)" [closeOnSelect]="false"
                        [loading]="showDropdownLoader" bindValue="FINANCIALTYPENAME">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:a1">
                                <span class="ng-value-label"> {{item.FINANCIALTYPENAME}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > a1">
                                <span class="ng-value-label">{{items.length - a1}} more...</span>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="form-group">
                    <div class="theme-label">Funding Company</div>
                    <ng-select [items]="brokerList" placeholder="Select" bindLabel="BROKER" formControlName="broker"
                        [multiple]="true" id="id132" (add)="a2=ValidateMultiSelectTextLength('id132',a2)" [closeOnSelect]="false" [loading]="showDropdownLoader" bindValue="BROKER">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:a2">
                                <span class="ng-value-label"> {{item.BROKER}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > a2">
                                <span class="ng-value-label">{{items.length - a2}} more...</span>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="form-group">
                    <div class="theme-label">Priority</div>
                    <ng-select [items]="priorityList" placeholder="Select" bindLabel="PRIORITYNAME"
                        formControlName="priority" [multiple]="true"id="id133" (add)="a3=ValidateMultiSelectTextLength('id133',a3)" [closeOnSelect]="false"
                        [loading]="showDropdownLoader" bindValue="PRIORITYNAME">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:a3">
                                <span class="ng-value-label"> {{item.PRIORITYNAME}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > a3">
                                <span class="ng-value-label">{{items.length - a3}} more...</span>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="form-group">
                    <div class="theme-label">Modality</div>
                    <ng-select [items]="modalityList" placeholder="Select" bindLabel="MODALITYNAME"
                        formControlName="modality" [multiple]="true" id="id134" (add)="a4=ValidateMultiSelectTextLength('id134',a4)" [closeOnSelect]="false"
                        [loading]="showDropdownLoader" bindValue="MODALITYNAME">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:a4">
                                <span class="ng-value-label"> {{item.MODALITYNAME}}</span>
                                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                            </div>
                            <div class="ng-value" *ngIf="items.length > a4">
                                <span class="ng-value-label">{{items.length - a4}} more...</span>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="form-action">
                    <button type="submit" class="btn btn-theme">SEARCH</button>
                    <button type="button" (click)="onReset()" class="btn btn-border">CLEAR</button>
                </div>
            </form>
        </div>

        <div class="search-field search-field-theme page-top-action">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <!--  <div class="pull-left">
                        <a href="javascript:void(0)" class="btn btn-theme" data-toggle="modal" data-target="#conformation">Settle</a>
                        <button type="button" (click)="onClearSelection()" class="btn btn-border">Clear Selection</button>
                    </div> -->
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="precisemri-search">
                        <select class="form-search" #actionDropDown>
                            <option selected value="0">Select an Action</option>
                            <option value="Resolved">Resolved</option>
                        </select>
                        <button type="button" class="search" [disabled]="actionDropDown.value==0?true:false"
                            [ngStyle]="{'background-color': (actionDropDown.value==0) ? '#bfbfbf' : '#3b8beb'}"
                            (click)="goButtonClick(actionDropDown)">Go</button>
                    </div>
                    <div class="precisemri-search page-select">
                        <div class="theme-label">Page Size</div>
                            <select class="form-search" (change)= "onPageSizeChange($event.target.value)">
                                <option *ngFor = "let item of pageSizeArray" [selected]= "item.IsSelected == true"  value={{item.value}}>{{item.value}}</option>
                            </select>
                        </div>
                    </div>
              </div>
        </div>
        <div class="table-responsive">
            <dx-data-grid id="gridContainer" [dataSource]="dataList" [allowColumnResizing]="true"
                [columnAutoWidth]="true" [allowColumnReordering]="true" [columnResizingMode]="columnResizingMode"
                [columnMinWidth]="30" keyExpr="myId" [(selectedRowKeys)]="selectedRows"
                (onCellPrepared)="onCellPrepared($event)" (onSelectionChanged)="onSelectionChanged($event)"
                [showBorders]="true">
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
                <!-- <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter> -->
				<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                                 <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection> 
                <dxi-column dataField="Notes" [visible]="false">
                <!-- <dxo-form-item
                    [colSpan]="2"
                    editorType="dxTextArea"
                    [editorOptions]="{ height: 100 }">
                </dxo-form-item> -->
                </dxi-column>
                <dxi-column caption="Action Needed" dataField="ActionNeeded" [allowFiltering]="false"
                    [allowSorting]="false"></dxi-column>
                <dxi-column dataField="PATIENTID" cellTemplate="patientTemplate" [width]="100" caption="Patient ID">
                </dxi-column>
                <!-- <dxi-column dataField="Resolved" [width]="100" caption="Resolved" (click)="ResolveStudyData">
                </dxi-column> -->
                <dxi-column dataField="Resolved" caption="Resolved" cellTemplate="Resolved"
               [(visible)]="isShowColumnWithNoData">
               </dxi-column>
                <!-- <dxi-column dataField="PatientLien" [customizeText]="customizeText"></dxi-column> -->
                <!-- <dxi-column dataField="PatientLien" caption="Patient Lien"></dxi-column> -->
                <dxi-column dataField="PatientLien" caption="Patient Lien" cellTemplate="PatientLien"
               [(visible)]="isShowColumnWithNoData"> </dxi-column>
                <!-- <dxi-column dataField="AttorneyLien" caption="Attorney Lien"></dxi-column> -->
                <dxi-column dataField="AttorneyLien" caption="Attorney Lien" cellTemplate="AttorneyLien"
                [(visible)]="isShowColumnWithNoData"> </dxi-column>
                <dxi-column dataField="PROCCODENAME" caption="CPT"></dxi-column>
                <dxi-column dataField="FINANCIALTYPENAME" caption="FINANCIAL TYPE"></dxi-column>
                <dxi-column dataField="STUDYDESCRIPTION" caption="STUDY DESCRIPTION"></dxi-column>
                <dxi-column dataField="DOB" caption="DOB" cellTemplate="cell1Template">
                </dxi-column>
                <dxi-column dataField="DOS" caption="DOS" cellTemplate="cell2Template" [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="INSTITUTIONNAME" caption="Facility" [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="Attorney" caption="Attorney" [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="Broker" caption="Funding Co." [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="Bpart" caption="B part" [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="Lat" caption="Lat" [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="InjuryDate" caption="Injury Date" cellTempate="cell3Template"  [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="ATTORNEYLF" caption="ATTORNEY LF" [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="Insurance" caption="Insurance" [(visible)]="isShowColumnWithNoData"></dxi-column>
                <dxi-column dataField="REPORTSIGNEDTIME" cellTemplate="cell2Template" caption="REPORT SIGNED TIME" [(visible)]="isShowColumnWithNoData"></dxi-column>
                
                <div *dxTemplate="let data of 'Resolved'"> {{data.value ? "Yes":"No"}} </div>
                <div *dxTemplate="let data of 'PatientLien'"> {{data.value ? "Yes":"No"}} </div>
                <div *dxTemplate="let data of 'AttorneyLien'"> {{data.value ? "Yes":"No"}} </div>

                <div *dxTemplate="let data of 'cell1Template'">
                    {{data.data.DOB | date: dateTimeFormatCustom.Date }}
                </div>
                <div *dxTemplate="let data of 'cell2Template'">
                    {{data.data.DOS | date: dateTimeFormatCustom.DateTime }}
                </div>

                <div *dxTemplate="let data of 'cell3Template'">
                    {{data.data.InjuryDate | date: dateTimeFormatCustom.Date }}
                </div>
                <div *dxTemplate="let data of 'cell4Template'">
                    {{data.data.REPORTSIGNEDTIME | date: dateTimeFormatCustom.DateTime }}
                </div>



                <!-- <div *dxTemplate="let data of 'group1Template'">
                <pat-detail [data]="data"></pat-detail>
            </div> -->
                <!-- <div *dxTemplate="let data of 'editTemplate'">
                <a *ngIf="data.data.IsEditable == 1" href="javascript:void(0)" (click)="getSettleStudyData(data.data.Id, data.data.INTERNALSTUDYID, data.data.PATIENTID)" class="single-action fa fa-pencil-square-o" data-toggle="modal" data-target="#edit-record"></a>
            </div> -->
                <!-- <div *dxTemplate="let data of 'docTemplate'">
                <i class="fa fa-file-text-o"></i>
            </div> -->

                <!-- <div *dxTemplate="let data of 'settleTemplate'">
                {{data.data.SettlementDate | date: 'short' }}
            </div> -->
                <!-- <div *dxTemplate="let data of 'esTemplate'">
                {{data.data.EstPaymentDate | date: 'short' }}
            </div> -->
                <div *dxTemplate="let data of 'patientTemplate'">
                    <a href="javascript:void(0);" class="link-btn" (click)="getPatientDetailById(data)"
                        data-toggle="modal" data-target="#patient-Detail-Window">
                        {{data.data.PATIENTID}} </a>
                </div>
            </dx-data-grid>
        </div>
        <div>
            <div>
                <div
                    *ngFor="let item of dataList | paginate: { id:'paginate2', itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }">
                </div>
                <pagination-controls id="paginate2" (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<app-patient-detail></app-patient-detail>