.filter-title-setting-sec {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.setting {
    margin-left: auto;
}
.setting i.fa {
    cursor: pointer;
    font-size: 18px;
    color: #3b8beb;
    line-height: normal;
}
.tab-section .nav-tabs .nav-item .nav-link.active{
    border-top: 1px solid #dee2e6;
}
.tab-section .nav-tabs .nav-link:hover{
    border-top: 1px solid #dee2e6;
}