<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="page-header-title">By Patient Details</div>
            </div>

        </div>
    </div>
    <br>

        <div class="inner-page-body">
            <div class="filter-sec search-field search-field-theme">
                <div class="theme-form">
                   
                    <div class="form-group">
                        <div class="theme-label">Patient ID</div>
                        <div class="input-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="theme-label">Reading Rad</div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>Today</option>
                                <option>Yesterday</option>
                                <option>Last 7 Days</option>
                                <option>Last 14 Days</option>
                                <option>Last 30 Days</option>
                                <option>Last 60 Days</option>
                                <option>Last 90 Days</option>
                                <option>Last 180 Days</option>
                                <option>Last 365 Days</option>
                                <option>Year To Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">From Date</div>
                        <div class="input-group icon-active">
                            <dx-date-box [displayFormat]="'dd/MM/yyyy'" type="date" [showClearButton]="true"
                                [useMaskBehavior]="true">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">To Date</div>
                        <div class="input-group icon-active">
                            <dx-date-box [displayFormat]="'dd/MM/yyyy'" type="date" [showClearButton]="true"
                                [useMaskBehavior]="true">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">Date Type</div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>Type 1</option>
                                <option>Type 2</option>
                                <option>Type 3</option>
                                <option>Type 4</option>
                                <option>Type 5</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group" >
                       <div class="theme-label">Batch #</div>
                       <div class="input-group">
                           <input type="text" class="form-control">
                       </div>
                   </div>
                    <div class="form-group" >
                       <div class="theme-label">Check</div>
                       <div class="input-group">
                           <input type="text" class="form-control">
                       </div>
                   </div>
                   
                    <div class="form-action">
                        <a href="javascript:void(0)" class="btn btn-theme">SEARCH</a>
                        <a href="javascript:void(0)" class="btn btn-border" (click)="clearFilter()">CLEAR</a>
                    </div>
                </div>
            </div>
            <div class="tab-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#pending-signature"
                            (click)="onPendingSignatureTabClicked()">Pending Signature</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#FundingCounpaid" (click)="onFundingCoUnpaidTabClicked()">Unpaid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#FundingCopaid" (click)="onFundingCoPaidTabClicked()">Paid</a>
                    </li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="pending-signature" >
                        pending signature
                    </div>
                    <div class="tab-pane fade" id="FundingCounpaid">
                        unpaid
                    </div>
                    <div class="tab-pane fade" id="FundingCopaid">
                       paid
                    </div>
                    
                </div>
            </div>
        </div>
</div>
