<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="page-header-title">Request Search</div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <a href="javascript:void(0)" class="btn btn-theme filter-btn filter-mobile"><i class="fa fa-filter"
                        aria-hidden="true"></i> Filter</a>
            </div>
        </div>
    </div>

    <div class="inner-page-body">
        <form>
        <div class="search-field search-field-theme collapse show">
            <div class="theme-form"> 
                    <div class="form-group autocomplete form-group1">
                        <div class="theme-label">Rad readings</div>
                        <div class="input-group">
                            <ng-select [items]="dropDownList" placeholder="Select" bindLabel="dropDownName"
                            [multiple]="false" [closeOnSelect]="false" bindValue="dropDownName"
                            (change)="filterDropDownOnChange()">
                        </ng-select>
                        </div>
                    </div>
                
                <div class="form-action">
                    <button href="javascript:void(0)" class="btn btn-theme" type="submit" >SEARCH</button>
                    <a href="javascript:void(0)" class="btn btn-border"  >CLEAR</a>
                </div>
            </div>
        </div>
    </form>
        <div class="page-top-action">
           
            <div class="row mt-3">
                <div class="col-sm-3">
                    <a href="javascript:void(0)" class="btn btn-border">To Sign</a>
                    <a href="javascript:void(0)" class="btn btn-border">ASSIGNED</a>
                    <a href="javascript:void(0)" class="btn btn-border">PAID</a>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0)" class="btn btn-border">UNPAID</a>
                    <a href="javascript:void(0)" class="btn btn-border">PAID</a>
                </div>
            </div>
        </div>

        <div class="table-responsive manual-table">
            <table class="table table-theme">

            </table>
        </div>

    </div>
</div>