<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header-title">Use Book Markes</div>
            </div>
        </div>
    </div>
    <div class="inner-page-body">
        <div class="theme-form-center">
            <form class="theme-form"> 
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <div class="theme-label">Search Book Mark</div>
                            <div class="input-group">
                                <input class="form-control" type="text" [(ngModel)]="searchKeyword" name="searchText" />
                            </div>
                        </div>
                        <a routerLink="/settings/server-settings/player-type" class="link pull-right">Player Type</a> 
                    </div>
                </div> 
                <div class="use-book-marks" *ngFor="let table of bookmarkList | bookmark: searchKeyword;;  let i= index; ">
                    <a class="usebookmark-title" data-toggle="collapse" href="#collapseExample-{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{table.TableName}}
                    </a>						
                    <div class="usebookmark-collapse collapse show" id="collapseExample-{{i}}">
						<div class="table-responsive manual-table">
							<table class="table table-theme"> 
								<tbody>		
									<tr *ngFor="let column of table.TableColumns | sqlField: searchKeyword;">
										<td width="250">{{'{' + column.SqlFields + '}'}}</td> 
										<td>{{column.Description}}</td>
										<td width="120"><div (click)="copyToClipboard(column.SqlFields)" class="copy-button"><i class="fa fa-copy"></i></div></td>
									</tr>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>