.PDFIcon{
    cursor: pointer;
}
.PDFIcon i.fa {
    color: #3b8beb;
    font-size: 16px;
    font-weight: 600;
}


.clsBatchBox {
    text-align: left;
    width: 30%;
    display: inline-block;
    white-space: nowrap;
}
