<div class="modal fade modal-theme in" data-backdrop="static" data-keyboard="false" id="CalendarSchedulerWindow"
    role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true" style="padding-left:5.99219px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{FacilityName}} - scheduler
                </h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <div #scheduler_here class="dhx_cal_container" style="width: 100%; height:100vh">
                    <div class="dhx_cal_navline">

                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button"></div>
                        <div class="dhx_cal_date"></div>
                        <!-- <div style='position:absolute; top:2px; left:400px'>My button</div> -->


                        <div class="dhx_cal_tab" name="timeline_tab"></div>

                        <div class="dhx_cal_tab" name="day_tab"></div>
                        <div class="dhx_cal_tab" name="week_tab"></div>
                        <div class="dhx_cal_tab" name="month_tab"></div>
                        <div style='position:absolute; top:17px; left:811px'>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#approveLeasePopup" class="btn btn-theme pull-left btn-sm">Approve and send lease
                                agreement to facility</a>
                        </div>
                        <!--- HERE -->

                        <div class="dhx_minical_icon" style="margin-left: 101px;" id="dhx_minical_icon"
                            (click)="show_minical()">&nbsp;</div>

                        <!--- end HERE -->


                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm" #closebtn id="closebtn"
                    data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-theme in modal-small" id="approveLeasePopup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <p>DO YOU WANT TO LEASE BLOCK?</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"
                    data-dismiss="modal">Cancel</a>
                <a (click)="confirmBlockToLease()" hrefTo="javascript:void(0)" class="btn btn-theme pull-left btn-sm"
                    data-dismiss="modal">Yes</a>
            </div>
        </div>
    </div>
</div>
<app-schd-facilities [isGridDisplay]="false"></app-schd-facilities>