<div class="modal fade modal-theme create-alert-popup" id="create-alert" role="dialog"  data-backdrop="static"
   aria-labelledby="exampleModalLabel" aria-modal="true">
   <div class="modal-dialog modal-dialog-centered" role="document" >
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Create Alert</h5>
            <div class="close-dismiss" (click)="close()" data-dismiss="modal"></div>
         </div>
         <div class="modal-body">
            <div class="modal-body-inner"> 
               <form class="theme-form" [formGroup]="contactInfoForm" *ngIf="contactInfoForm">
                  <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="row">
                           <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                              <div class="theme-label-subtitle">Type</div>
                           </div>
                           <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                 <div class="input-group">
                                    <select id="alertSelect" class="form-control"
                                       [ngClass]="{'is-invalid':Issubmitted && contactInfoFormRef.alertType.errors}"
                                       (change)="onAlertChange($event.target.value)">
                                       <option [value]="" disabled selected>Select Alert</option>
                                       <option *ngFor="let item of alertList" value={{item.Alerttype}}>
                                          {{item.Alerttype}}</option>
                                    </select>
                                 </div>
                                 <div *ngIf="(Issubmitted && contactInfoFormRef.alertType.errors)"
                                    class="invalid-feedback">
                                    <div *ngIf=" contactInfoFormRef.alertType.errors?.required">
                                       ALERT TYPE IS REQUIRED</div>
                                 </div>  
                              </div>
                           </div>
                           <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                              <div class="theme-label-subtitle">Reason</div>
                           </div>
                           <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                 <div class="input-group">
                                    <select id="reasonSelect" class="form-control" formControlName="reason"
                                       (change)="onReasonChange($event.target.value)"
                                       [ngClass]="{'is-invalid':Issubmitted && contactInfoFormRef.reason.errors}">
                                       <option [value]="0">Select Reason</option>
                                       <option *ngFor="let item of reasonList" value={{item.Reason}}>
                                          {{item.Reason}}
                                       </option>
                                    </select>
                                 </div>
                                 <div *ngIf="(Issubmitted && contactInfoFormRef.reason.errors)"
                                 class="invalid-feedback">
                                 <div *ngIf=" contactInfoFormRef.reason.errors?.required">
                                    ALERT REASON IS REQUIRED</div>
                                 </div>
                              </div>
                           </div>
                           <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                              <div class="theme-label-subtitle">Patient ID</div>
                           </div> -->
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                 <div class="input-group">
                                    <div class="theme-label">Patient ID</div>
                                    <input type="text" class="form-control caPatientID" id="patientID"
                                       [disabled]="patientFieldDisable"
                                       [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoFormRef.patientID.errors) }"
                                       [(ngModel)]="patientIdModel" (keyup.enter)="showContactInfo($event.target.value)"
                                       (focusout)="showContactInfo($event.target.value)"
                                       (change)="showContactInfo($event.target.value)"
                                       [ngModelOptions]="{standalone: true}">
                                 </div>
                                 <div *ngIf="(Issubmitted && contactInfoFormRef.patientID.errors)"
                                    class="invalid-feedback">
                                    <div *ngIf=" contactInfoFormRef.patientID.errors?.required">
                                       PATIENT ID IS REQUIRED</div>
                                 </div>
                              </div>
                           </div>
                        
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                 <div class="input-group">
                                    <div class="theme-label">EMAIL SUBJECT</div>
                                    <input type="text" class="form-control" formControlName="emailSubModel"
                                       [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoFormRef.emailSubModel.errors) }">
                                 </div>
                                 <div *ngIf="(Issubmitted && contactInfoFormRef.emailSubModel.errors)"
                                    class="invalid-feedback">
                                    <div *ngIf=" contactInfoFormRef.emailSubModel.errors?.required">
                                       EMAIL SUBJECT IS REQUIRED</div>
                                 </div>
                              </div>
                              <!-- <div class="form-group">
                                 <div class="input-group">
                                    <input type="text" id="emailSub" class="form-control"
                                       formControlName="emailSubModel" />
                                       <div *ngIf="(contactInfoForm.controls.emailSubModel.errors)"
                                       class="invalid-feedback">
                                       <div *ngIf="contactInfoForm.controls.emailSubModel.errors?.required">
                                         Name is required</div>
                                    </div>
                                 </div>
                              </div> -->
                           </div>
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                 <div class="input-group">
                                 <div class="cke-editor-group">
                                    <ckeditor #myckeditor formControlName="emailBodyModel" (click)="onClickToolbarButton()"
                                     class="ck-editor-valid"
                                       required [config]="CkeConfig" (paste)="onPaste($event)" id="email-editor"
                                       [ngClass]="{'is-invalid':Issubmitted && contactInfoFormRef.emailBodyModel.errors}"
                                       (change)="onChange($event)">
                                    </ckeditor>
                                    <div *ngIf="(Issubmitted && contactInfoFormRef.emailBodyModel.errors)"
                                    class="invalid-feedback">
                                    <div *ngIf=" contactInfoFormRef.emailBodyModel.errors?.required">
                                      REQUIRED FIELD</div>
                                 </div>
                                    
                                    <!-- <ckeditor [editor]="Editor" (click)="onClickToolbarButton()" formControlName="emailBodyModel">
                                       <textarea class="form-control" id="email-editor" formControlName="emailBodyModel"
                                          required></textarea>
                                    </ckeditor> -->
                                    </div>
                                 </div>
                              </div>
                           </div> 
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf= "addPhoneChecked || IsPatientPhoneSent">
                              <div class="form-group">
                                 <div class="input-group">
                                    <div class="theme-label">Text Message Body</div>
                                    <textarea type="text" class="form-control" formControlName ='SmsTextModel' [(ngModel)]="smsTextModel"
                                    [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.SmsTextModel.errors) }"></textarea>
   
                                 </div>
                                 <div *ngIf="(Issubmitted && contactInfoForm.controls.SmsTextModel.errors)"
                                    class="invalid-feedback">
                                    <div *ngIf=" contactInfoForm.controls.SmsTextModel.errors?.required">
                                       message body is required</div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <textarea class="form-control" cols="10" rows="5" formControlName="notesModel"
                                 placeholder="Internal Notes (will not be sent)"></textarea>
                           </div>
                           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="checkbox-theme">
                                 <input id="chkInternalUser" type="checkbox" (change)="onchkUserChange($event)"
                                    style="opacity: 1; margin: 21px 0px 0px -5px" />
                                 <label class="arrow-labe2">Notify Internal Via Slack</label>
                                 <select id="inputUser"  (change)="onUserChange($event)" class="form-control" hidden>
                                    <option *ngFor="let item of userList" value={{item.UserName}}>
                                       {{item.UserName}}
                                    </option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <ng-container *ngIf="isContactModelShow">
                        <div id="showContactInfoModel" class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                           <div class="create-alert-list">
                              <div class="row">
                                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="theme-label-subtitle">
                                       <input type="text" readonly style="border:0; width: 500px"
                                          formControlName="patientHeaderModel" />
                                    </div>
                                 </div>
                                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
                                    <div class="theme-label-subtitle">Click an icon to send to that destination</div>
                                 </div>
                              </div>
                           </div>
                           <div class="create-alert-list">
                              <div class="create-alert-list-left">
                                 <div class="theme-label-subtitle">Attorney</div>
                              </div>
                              <div class="create-alert-list-right">
                                 <div class="create-alert-list-right-top">
                                    <input type="text" class="theme-label-subtitle" readonly style="border:0"
                                       formControlName="infoAttorneyName" />
                                 </div>
                                 <div class="create-alert-list-right-bottom">
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail">
                                          <input id="chkAttFax" style="display: none;" type="checkbox"
                                             formControlName="IsAttorneyFax" />
                                          <label  *ngIf = "attorneyAsDefaultContact == false"  for="chkAttFax"><img src="assets/images/FaxIconGray.png"></label>&nbsp;
                                          <label *ngIf = "attorneyAsDefaultContact == true" for="chkAttFax"><img src="assets/images/FaxIconGreen.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="infoAttorneyFax" />
                                       </div>
                                       <div class="create-alert-icon-detail"> 
                                          <input id="chkAttEmail" style="display: none;" type="checkbox"
                                             formControlName="IsAttorneyEmail" />
                                          <label *ngIf = "attorneyAsDefaultContact == false"  for="chkAttEmail"><img
                                                src="assets/images/EmailIconGray.png"></label>&nbsp;
                                                <label *ngIf = "attorneyAsDefaultContact == true"  for="chkAttEmail"><img
                                                   src="assets/images/EmailIconGreen.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="infoAttorneyEmail" />
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="create-alert-list">
                              <div class="create-alert-list-left">
                                 <div class="theme-label-subtitle">Ref.Phy.</div>
                              </div>
                              <div class="create-alert-list-right">
                                 <div class="create-alert-list-right-top">
                                    <input type="text" class="theme-label-subtitle" readonly style="border:0"
                                       formControlName="infoRefPhyName" />
                                 </div>
                                 <div class="create-alert-list-right-bottom">
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail">
                                          <input id="chkRefPhyFax" type="checkbox" style="display: none;"
                                             formControlName="IsRefPhyFax" />
                                          <label  *ngIf = "doctorAsDefaultContact == false"    for="chkRefPhyFax"><img
                                                src="assets/images/FaxIconGray.png"></label>&nbsp;&nbsp;
                                                <label  *ngIf = "doctorAsDefaultContact == true"  for="chkRefPhyFax"><img
                                                   src="assets/images/FaxIconGreen.png"></label>&nbsp;&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoRefPhyFax" />
                                       </div>
                                       <div class="create-alert-icon-detail">
                                          <input id="chkRefPhyEmail" style="display: none;" type="checkbox"
                                             formControlName="IsRefPhyEmail" />
                                          <label *ngIf = "doctorAsDefaultContact == false"  for="chkRefPhyEmail"><img
                                                src="assets/images/EmailIconGray.png"></label>&nbsp;&nbsp;
                                                <label *ngIf = "doctorAsDefaultContact == true"  for="chkRefPhyEmail"><img
                                                   src="assets/images/EmailIconGreen.png"></label>&nbsp;&nbsp;
                                                
                                          <input type="text" readonly style="border:0"
                                             formControlName="infoRefPhyEmail" />
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="create-alert-list">
                              <div class="create-alert-list-left">
                                 <div class="theme-label-subtitle">Broker</div>
                              </div>
                              <div class="create-alert-list-right">
                                 <div class="create-alert-list-right-top">
                                    <input class="theme-label-subtitle" type="text" readonly style="border:0"
                                       formControlName="infoBrokerName" />
                                 </div>
                                 <div class="create-alert-list-right-bottom">
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail">
                                          <input id="chkBrokerMainFax" type="checkbox" style="display: none;"
                                             formControlName="IsBrokerMainFax" />
                                          <label for="chkBrokerMainFax"><img
                                                src="assets/images/FaxIconGray.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoBrokerMainFax" />
                                       </div>
                                       <div class="create-alert-icon-detail">
                                          <input id="chkBrokerMainEmail" type="checkbox" style="display: none;"
                                             formControlName="IsBrokerMainEmail" />
                                          <label for="chkBrokerMainEmail"><img
                                                src="assets/images/EmailIconGray.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoBrokerMainEmail" />&nbsp; Main
                                       </div>
                                    </div>
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail">
                                          <input id="chkBrokerBillingFax" type="checkbox" style="display: none;"
                                             formControlName="IsBrokerBillingFax" />
                                          <label for="chkBrokerBillingFax"><img
                                                src="assets/images/FaxIconGray.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoBrokerBillingFax" />
                                       </div>
                                       <div class="create-alert-icon-detail">
                                          <input id="chkBrokerBillingEmail" type="checkbox" style="display: none;"
                                             formControlName="IsBrokerBillingEmail" />
                                          <label for="chkBrokerBillingEmail"><img
                                                src="assets/images/EmailIconGray.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoBrokerBillingEmail" />&nbsp; Billing
                                       </div>
                                    </div>             
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail">
                                          <input id="chkBrokerAPFax" type="checkbox" style="display: none;"
                                             formControlName="IsBrokerAPFax" />
                                          <label for="chkBrokerAPFax"><img
                                                src="assets/images/FaxIconGray.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoBrokerAPFax" />
                                       </div>
                                       <div class="create-alert-icon-detail">
                                          <input id="chkBrokerAPEmail" type="checkbox" style="display: none;"
                                             formControlName="IsBrokerAPEmail" />
                                          <label for="chkBrokerAPEmail"><img
                                                src="assets/images/EmailIconGray.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoBrokerAPEmail" />&nbsp; AP
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="create-alert-list">
                              <div class="create-alert-list-left">
                                 <div class="theme-label-subtitle">Patient</div>
                              </div>
                              <div class="create-alert-list-right">
                                 <div class="create-alert-list-right-top">
                                    <input class="theme-label-subtitle" type="text" readonly style="border:0"
                                       formControlName="InfoPatientName" />
                                 </div>
                                 <div class="create-alert-list-right-bottom">
                                    <div class="create-alert-icon-list">
                                       <!--use 2 divs to hide and show acc. to conditions-->
                                       <div class="create-alert-icon-detail"
                                          *ngIf="contactInfoFormRef.InfoPatientFax.value=='N/A'">
                                          <input id="chkPatientFax" type="checkbox" style="display: none;"
                                             formControlName="IsPatientFax"
                                             [attr.disabled]="contactInfoFormRef.InfoPatientFax.value=='N/A'" />
                                          <label for="chkPatientFax">
                                             <img src="assets/images/FaxIconGray.png">
                                          </label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="InfoPatientFax" />
                                       </div>
                                    </div>

                                    <div class="create-alert-icon-detail"
                                       *ngIf="contactInfoFormRef.InfoPatientFax.value!='N/A'">
                                       <input id="chkPatientFax" type="checkbox" style="display: none;"
                                          formControlName="IsPatientFax" />
                                       <label for="chkPatientFax">
                                          <img src="assets/images/FaxIconGray.png">
                                       </label>&nbsp;
                                       <input type="text" readonly style="border:0" formControlName="InfoPatientFax" />
                                    </div>

                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail">
                                          <input id="chkPatientEmail" type="checkbox" style="display: none;"
                                             formControlName="IsPatientEmail" />
                                          <label for="chkPatientEmail">
                                             <img src="assets/images/EmailIconGray.png">
                                          </label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="infoPatientEmail" />
                                       </div>
                                    </div>
                                    <div class="create-alert-icon-list">
                                       <!--to hide div if phone no. is not available-->
                                       <div class="create-alert-icon-detail"
                                          *ngIf="contactInfoFormRef.infoPatientPhone.value=='N/A'">
                                          <input id="chkPatientPhone" type="checkbox" style="display: none;"
                                             [attr.disabled]="contactInfoFormRef.infoPatientPhone.value=='N/A'"
                                             formControlName="IsPatientPhone"
                                             (change)="onchkPatientPhoneChange($event)" />
                                          <label for="chkPatientPhone"><img src="assets/images/sms.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="infoPatientPhone" />
                                       </div>
                                       <div class="create-alert-icon-detail"
                                          *ngIf="contactInfoFormRef.infoPatientPhone.value!='N/A'">
                                          <input id="chkPatientPhone" type="checkbox" style="display: none;"
                                             formControlName="IsPatientPhone"
                                             (change)="onchkPatientPhoneChange($event)" />
                                          <label for="chkPatientPhone"><img src="assets/images/sms.png"></label>&nbsp;
                                          <input type="text" readonly style="border:0"
                                             formControlName="infoPatientPhone" />
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="create-alert-list">
                              <div class="create-alert-list-left">
                                 <div class="theme-label-subtitle">Addt'tl <br />Desk</div>
                              </div>
                              <div class="create-alert-list-right">
                                 <div class="create-alert-list-right-top">
                                    <div class="theme-label-subtitle">N/A</div>
                                 </div>
                                 <div class="create-alert-list-right-bottom">
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail dflexbox">
                                          <input id="chkAddFax" type="checkbox" formControlName="AddtionalDeskFax" style="display: none;" 
                                             (change)="onchkFaxChange($event)" />
                                          <label for="chkAddFax"><img src="assets/images/FaxIconGray.png"></label>&nbsp;
                                          
                                          <input [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalFax1.errors)}"  type="text" mask="(000) 000-0000 (0000)" id="AddFax1"
                                          class="form-control"  formControlName="infoAdditionalFax1"   *ngIf = "addFaxChecked" />
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalFax1"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalFax1.invalid">Invalid Fax</small>
                                              </div>
                                          <input  [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalFax2.errors)}"  type="text" mask="(000) 000-0000 (0000)" id="AddFax2"
                                          class="form-control"  formControlName="infoAdditionalFax2" *ngIf = "addFaxChecked" />
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalFax2"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalFax2.invalid">Invalid Fax</small>
                                              </div>
                                          <input [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalFax3.errors)}" type="text" mask="(000) 000-0000 (0000)" id="AddFax3"
                                          class="form-control"  formControlName="infoAdditionalFax3" *ngIf = "addFaxChecked"/>
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalFax3"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalFax3.invalid">Invalid Fax</small>
                                              </div>
                                       </div>
                                    </div>
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail dflexbox">
                                          <input id="chkAddEmail" type="checkbox" formControlName="AddtionalDeskEmail" style="display: none;"
                                           (change)="onchkEmailChange($event)" />
                                          <label for="chkAddEmail"><img
                                                src="assets/images/EmailIconGray.png"></label>&nbsp;
                                          <input type="email" [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalEmail1.errors)}"
                                          *ngIf = "addEmailChecked"  id="AddEmail1" class="form-control" formControlName="infoAdditionalEmail1"
                                              />
                                            <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalEmail1"
                                            class="tooltiptext text-right">
                                             <small class="error text-danger"
                                                *ngIf="contactInfoForm.controls.infoAdditionalEmail1.invalid">Invalid email</small>
                                             </div>
                                          <input type="email"  [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalEmail2.errors)}"
                                          *ngIf = "addEmailChecked" id="AddEmail2" class="form-control" formControlName="infoAdditionalEmail2"
                                              />
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalEmail2"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalEmail2.invalid">Invalid email</small>
                                              </div>
                                          <input   [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalEmail3.errors)}"
														type="email" *ngIf = "addEmailChecked"  id="AddEmail3" class="form-control" formControlName="infoAdditionalEmail3"
                                              />
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalEmail3"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalEmail3.invalid">Invalid email</small>
                                              </div>
                                       </div>
                                    </div>
                                    <div class="create-alert-icon-list">
                                       <div class="create-alert-icon-detail dflexbox">
                                          <input id="chkAddPhone" type="checkbox" formControlName="AddtionalDeskSms" style="display: none;"
                                             (change)="onchkPhoneChange($event)" />
                                          <label for="chkAddPhone"><img src="assets/images/sms.png"></label>&nbsp;
                                          <input type="text" [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalPhone1.errors)}" mask="(000) 000-0000 (0000)" id="AddPhone1"
                                          class="form-control" formControlName="infoAdditionalPhone1" *ngIf = "addPhoneChecked" />
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalPhone1"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalPhone1.invalid">Invalid Phone</small>
                                              </div>
                                          <input  [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalPhone2.errors)}" type="text" mask="(000) 000-0000 (0000)" id="AddPhone2"
                                          class="form-control" formControlName="infoAdditionalPhone2"*ngIf = "addPhoneChecked" />
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalPhone2"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalPhone2.invalid">Invalid Phone</small>
                                              </div>

                                          <input [ngClass]="{ 'is-invalid': (Issubmitted && contactInfoForm.controls.infoAdditionalPhone3.errors)}"  type="text" mask="(000) 000-0000 (0000)" id="AddPhone3"
                                          class="form-control" formControlName="infoAdditionalPhone3" *ngIf = "addPhoneChecked" />
                                             <div *ngIf="Issubmitted && contactInfoForm.controls.infoAdditionalPhone3"
                                             class="tooltiptext text-right">
                                              <small class="error text-danger"
                                                 *ngIf="contactInfoForm.controls.infoAdditionalPhone3.invalid">Invalid Phone</small>
                                              </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </ng-container>
                  </div>
               </form>
            </div>

         </div>
         <div class="modal-footer">
            <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm" (click)="close()"
            [attr.data-dismiss]="modalValue">Cancel</a>
            <button type="button" class="btn btn-border pull-left btn-sm" 
             (click)="btnCreateAlert()"
             [attr.data-dismiss]="modalValue">Create Alert Only</button>
            <button type="button" class="btn btn-border pull-left btn-sm" (click)="btnCreateSendAlert()"
            [attr.data-dismiss]="modalValue">Create &amp; Send Alert</button>
         </div>
      </div>
   </div>
</div>


<div class="modal fade modal-theme in modal-small" id="CheckSmsEmailSlackFax" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <p> Text here  </p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"
                    data-dismiss="modal">CLOSE</a>
            </div>
        </div>
    </div>
</div>

<button class="d-none" #CheckSmsEmailSlackFax [hidden]="true" data-toggle="modal"
		data-target="#CheckSmsEmailSlackFax"></button>
<button #hiddenCreateAlertPopUpButton class="d-none" [hidden]="true" data-toggle="modal"
   data-target="#create-alert"></button>