.page-top-action .btn-theme .dx-button {
  width: auto !important;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  border: 0;
  padding: 0;
}
.page-top-action .btn-theme .dx-button .dx-button-content {
  padding: 0!important;
}
.dx-button-has-text .dx-button-content {
  padding: 0 !important;
}


.note-list.settementNote {
  max-height: 205px;
  margin-top: 15px;
}
