<div class="page-area">
    
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="page-working-area lien-funding-co">
    <div class="main-page-body">
        <div class="inner-page-body">
        <div class="rad-lien-setting">
            <h3 class="lien-title"> <a routerLink="/lien-portal"><i class="fa fa-arrow-left"></i></a> Radiologist Lien
                Management</h3>
            <div class="tab-section setting-tab">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="selectedMode=='settings'?'active':''" href="javascript:;"
                            (click)="onSettingTabClicked()">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="selectedMode=='funding_company'?'active':''" href="javascript:;"
                            (click)="onFundingCompanyTabClicked()">Funding Company</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" *ngIf="selectedMode=='settings'" id="settings">
                        <div class="reminder bill-patient">
                            <div class="setting-content">
                                <div class="switch-sec">
                                    <label class="toggle-switch">
                                        <input type="checkbox" [(ngModel)]="isEmailReminder" (change)="changeStatus()">
                                        <div class="slider"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="info-txt">Email me a reminder to bill patients & assign studies every</div>
                            <div class="selectedDays">
                                <div class="form-group">
                                    <ng-select [items]="days" bindLabel="name" bindValue="id" [multiple]="true"
                                        groupBy="selectedAllGroup" [selectableGroup]="false" placeholder="List of Days" [(ngModel)]="selectedDays" [readonly]="isReadonly">
                                    </ng-select>
                                </div>
                            </div>
                            <span>At</span>
                            <div class="showFilter">
                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control" #timeDropDown (change)="onSelected(timeDropDown.value)" [disabled]="isReadonly">
                                            <option *ngFor="let item of time"  [value]="item.timeValue" [selected]="item.timeValue == selectedTimeToReminder">{{item.timeValue}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span>PST</span>
                        </div>
                        <div class="reminder pdf-copy">
                            <div class="setting-content">
                                <div class="switch-sec">
                                    <label class="toggle-switch">
                                        <input type="checkbox" [(ngModel)]="isEmailSendCopy">
                                        <div class="slider"></div>
                                    </label>
                                </div>

                            </div>
                            <div class="info-txt">Email me a PDF copy of the fully executed AR assignment once both
                                parties sign it</div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Default email from user " [(ngModel)]="defaultEmail" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="addl' email to send file to" [(ngModel)]="firstEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="addl' email to send file to" [(ngModel)]="secondEmail">
                                </div>
                            </div>
                        </div>
                        <div class="reminder signature">
                            <div class="setting-content">
                                <div class="switch-sec">
                                    <label class="toggle-switch">
                                        <input type="checkbox" [(ngModel)]="isDefaultSignature">
                                        <div class="slider"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="info-txt">Insert my saved signature by default</div>
                            <div class="form-group">
                                <div class="signature-custom">
                                    <signature-pad [options]="signaturePadOptions" name="signature" ngDefaultControl
                                        [(ngModel)]="radiologistSign" [ngModelOptions]="{ standalone : true }"
                                        #signature="ngModel" (onEndEvent)="onSignatureComplete()">
                                    </signature-pad>
                                </div>
                                <div class="signatureBtn">
                                    <a href="javascript:void(0)" (click)="clearSign();"
                                        class="btn btnsignature btn-clear">Clear Signature</a>
                                    <a href="javascript:void(0)" (click)="saveSign();"
                                        class="btn btnsignature btn-preview">Save Signature</a>
                                </div>
                            </div>
                        </div>
                        <div class="theme-panel-footer">
                          <a href="javascript:void(0)" class="btn btn-theme" (click)="saveSettings()" *ngIf="permission && ((permission.IsAdd | lowercase) == 'true')">Save</a>
                          <a class="btn btn-border" routerLink="/lien-portal">Cancel</a>
                      </div>
                    </div>
                    <div class="tab-pane active" *ngIf="selectedMode=='funding_company'" id="funding-company">
                        <div class="funding-cmp-content">
                            <div class="headerBtn">
                                <a class="btn btn-common btn-preciseFunding btn-grey">Add Precise Imaging Funding
                                    Co.</a>
                                <a class="btn btn-common btn-newFunding btn-blue textUnSet" (click)="openFundCompPupup()" data-toggle="modal"
                                    data-target="#AddFundingCmpModal">Add new funding company</a>
                            </div>
                            <div class="funding-cmp-table">
                                <dx-data-grid [dataSource]="FundingCompanyDataSource" [allowColumnResizing]="true"
                                    [columnAutoWidth]="true" [allowColumnReordering]="true" [showBorders]="true">

                                    <dxo-scrolling columnRenderingMode="virtual"> </dxo-scrolling>
                                    <dxo-paging [pageSize]="pageSize" [pageIndex]="pageNumber"></dxo-paging>
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-load-panel [enabled]="true"> </dxo-load-panel>
                                    <dxo-pager [visible]="false"></dxo-pager>
                                    <dxo-sorting mode="multiple"></dxo-sorting>


                                    <dxi-column [width]="100" [allowFiltering]="false" [allowSorting]="false"
                                        cellTemplate="ActionTemplate" caption="Action">
                                    </dxi-column>
                                    <dxi-column dataField="fundingCompanyName" caption="Funding Company"></dxi-column>

                                    <dxi-column cellTemplate="DefaultCoTemplate" caption="Default Co."></dxi-column>
                                    <dxi-column cellTemplate="IsActiveTemplate" caption="Is Active"></dxi-column>

                                    <div *dxTemplate="let DefaultCoData of 'DefaultCoTemplate'">
                                        {{(DefaultCoData.data ? (DefaultCoData.data.isDefaultCompany?'Yes':'No') : '')}}
                                    </div>

                                    <div *dxTemplate="let IsActiveData of 'IsActiveTemplate'">
                                        {{(IsActiveData.data ? (IsActiveData.data.isActive?'Yes':'No') : '')}}
                                    </div>

                                    <div *dxTemplate="let data of 'ActionTemplate'">
                                        <a href="javascript:void(0)" *ngIf="data.data" data-toggle="modal"
                                        data-target="#AddFundingCmpModal" (click)="openFundCompPupup(data.data.fundingCompanyId)" class="editAction">Edit</a>
                                    </div>
                                </dx-data-grid>
                                <div class="pagination-theme">
                                    <div class="pagination-theme">
                                        <div
                                            *ngFor="let item of FundingCompanyDataSource | paginate: { id: 'pagination1' , itemsPerPage: pageSize, currentPage: currentPageNumber, totalItems:totalRecord}">
                                        </div>
                                        <pagination-controls id="pagination1" (pageChange)="onFundCompPageNumberChange($event)"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<app-add-funding-company (returnSuccess)="onReturnSuccess($event)" ></app-add-funding-company>

