.radProtal-section {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.radportal-body {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
}

.tab-section .nav-tabs .nav-item .nav-link.active {
    border-top: 1px solid #dee2e6;
}

.tab-section .nav-tabs .nav-link:hover {
    border-top: 1px solid #dee2e6;
}
.lien-title {
    font-size: 20px;
    color: #3D8AF7;
    font-weight: 400;
}
/*************toggle switch**************/
.toggle-switch {
    height: 28px;
    width: 60px;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}

.toggle-switch input {
    display: none;
}

.toggle-switch input:checked+.slider {
    background-color: #3D8AF7;
}

.toggle-switch input:checked+.slider::after {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.toggle-switch .slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #939393;
    transition: 1s;
    border-radius: 50px;

}

.toggle-switch .slider::after {
    position: absolute;
    content: '';
    height: 21px;
    width: 21px;
    background-color: #ffffff;
    left: 5px;
    bottom: 3px;
    transition: 1s;
    border-radius: 50px;
}
/**************end*******************/
.setting-tab .tab-content {
    padding-top: 30px;
}
.reminder {
    display: flex;
    align-items: center;
    margin-bottom: 18PX;
}

.setting-content {
    margin-right: 15px;
}

.info-txt {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    margin-right: 16px;
}

.selectedDays .form-group {
    margin-bottom: 0;
}

.selectedDays {
    margin-right: 16px;
}

#settings span {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    margin-right: 16px;
}

.showFilter .form-group {
    margin-bottom: 0;
}
.showFilter .form-control{
    font-size: 13px;
    color:#000000;
}
.pdf-copy .form-group{
    margin-bottom: 0;
    font-size: 13px;
    color: #000000;
    margin-right:16px;
}
.signature-custom{
    border: 1px solid #585858;
    border-radius: 6px;
}
.signature .form-group{
    margin-bottom: 0;
}
.signature{
    align-items: flex-start;
}
.signatureBtn {
    display: flex;
    align-items: center;
}

.btnsignature.btn-preview {
    margin-left: auto;
}

.btnsignature {
    text-decoration: underline !important;
    color: #3D8AF7 !important;
    font-size: 14px;
    padding: 4px 0 0 0;
    text-transform: capitalize;
    font-weight: 600;
}

/************funding tab css****************/
.btn-common {
    font-size: 14px;
    text-transform: capitalize;
    background: #3b8beb;
    border: 1px solid #3b8beb;
    color: #ffffff;
    margin-right: 16px;
    font-weight: 500;
}
.btn-common:hover{
    background-color: transparent;
    color:#3b8beb;
}


.btn-newFunding.btn-blue {
    background: transparent;
    color: #3b8beb;
}
.btn-newFunding.btn-blue:hover{
    background: #3b8beb;
    color: #ffffff;
}
.headerBtn {
    margin-bottom: 18px;
}