<div class="tab-pane" id="payment-bank">
    <div class="page-top-action">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <a href="javascript:void(0)" (click)="add()" class="btn btn-theme btn-sm pull-left" data-toggle="modal" data-target="#add-bank-record"><i class="fa fa-plus"></i> Add New Record</a>
                <div class="precisemri-search page-select">
                    <div class="theme-label">Page Size</div>
                        <select class="form-search" (change)= "onPageSizeChange($event.target.value)">
                            <option *ngFor = "let item of pageSizeArray" [selected]= "item.IsSelected == true"  value={{item.value}}>{{item.value}}</option>
                        </select>
                </div>
                <a href="javascript:void(0)" (click)="getAllPaymentBanks()" class="right btn btn-theme"><i class="fa fa-repeat"></i> Refresh</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <dx-data-grid
            id="gridContainer"
            [dataSource]="paymentBankList"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [allowColumnReordering]="true"
            [columnResizingMode]="columnResizingMode"
            [columnMinWidth]="30"
            keyExpr="PaymentTypeBankId"
            [showBorders]="true">

            <dxo-sorting mode="multiple"></dxo-sorting>
            <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
            <!-- <dxo-header-filter [visible]="showHeaderFilter" ></dxo-header-filter> -->
				<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>

            <dxi-column dataField="PaymentTypeBankId" [width]="100" caption="Action"  [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate" [visible]="true"></dxi-column>
            <dxi-column dataField="PaymentBank" caption="Payment Bank"></dxi-column>
            <dxi-column dataField="AccountNumber" caption="Account Number"></dxi-column>
            <dxi-column dataField="BankAddress" caption="Bank Address"></dxi-column>
            <dxi-column dataField="IsDeleted" caption="Active" cellTemplate="IsActive"></dxi-column>
            <div *dxTemplate="let data of 'IsActive'"> {{data.value ? "Yes":"No"}} </div>

            <div *dxTemplate="let data of 'cellTemplate'">
                <a href="javascript:void(0)" (click)="edit(data.data.PaymentTypeBankId)" class="single-action fa fa-pencil-square-o" data-toggle="modal" data-target="#edit-bank-record"></a>
            </div>
        </dx-data-grid>
    </div>
    <div>
        <div>
            <div *ngFor="let item of paymentBankList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }"></div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>


<div class="modal fade modal-theme modal-small" id="add-bank-record" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <form [formGroup]="addForm" class="theme-form">
				<div class="modal-body">
					<div class="modal-body-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="theme-label">Payment Bank</div>
                                    <div class="input-group">
                                        <input formControlName="paymentBank" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && aForm.paymentBank.errors}">
                                    </div>
                                    <div *ngIf="submitted && aForm.paymentBank" class="tooltiptext text-right">
                                        <small class="error text-danger" *ngIf="aForm.paymentBank.invalid">Payment bank is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">Account Number</div>
                                    <div class="input-group">
                                        <input formControlName="accountNumber" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && aForm.accountNumber.errors}">
                                    </div>
                                    <div *ngIf="submitted && aForm.accountNumber" class="tooltiptext text-right">
                                        <small class="error text-danger" *ngIf="aForm.accountNumber.invalid">Account number is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">Bank Address</div>
                                    <div class="input-group">
                                        <input formControlName="bankAddress" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && aForm.bankAddress.errors}">
                                    </div>
                                    <div *ngIf="submitted && aForm.bankAddress" class="tooltiptext text-right">
                                        <small class="error text-danger" *ngIf="aForm.bankAddress.invalid">Bank address is required</small>
                                    </div>
                                </div>
                                <div class="checkbox-theme">
                                    <input formControlName="isActive" class="form-control" id="edit-isactive" type="checkbox">
                                    <label for="edit-isactive" class="arrow-label">Is Active</label>
                                </div>
                            </div>
                        </div>


					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"  data-dismiss="modal">Cancel</a>
					<button type="submit" (click)="onInsertSubmit()" [attr.data-dismiss]="modelValue" class="btn btn-theme pull-left btn-sm">Insert</button>
				</div>
			</form>
        </div>
    </div>
</div>
<div class="modal fade modal-theme modal-small" id="edit-bank-record" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">UPDATE</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <form [formGroup]="editForm" class="theme-form">
				<div class="modal-body">
					<div class="modal-body-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="theme-label">Payment Bank</div>
                                    <div class="input-group">
                                        <input formControlName="paymentBank" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && eForm.paymentBank.errors}">
                                    </div>
                                    <div *ngIf="submitted1 && eForm.paymentBank" class="tooltiptext text-right">
                                        <small class="error text-danger" *ngIf="eForm.paymentBank.invalid">Payment bank is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">Account Number</div>
                                    <div class="input-group">
                                        <input formControlName="accountNumber" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && eForm.accountNumber.errors}">
                                    </div>
                                    <div *ngIf="submitted1 && eForm.accountNumber" class="tooltiptext text-right">
                                        <small class="error text-danger" *ngIf="eForm.accountNumber.invalid">Account number is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">Bank Address</div>
                                    <div class="input-group">
                                        <input formControlName="bankAddress" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted1 && eForm.bankAddress.errors}">
                                    </div>
                                    <div *ngIf="submitted1 && eForm.bankAddress" class="tooltiptext text-right">
                                        <small class="error text-danger" *ngIf="eForm.bankAddress.invalid">Bank address is required</small>
                                    </div>
                                </div>
                                <div class="checkbox-theme">
                                    <input formControlName="isActive" class="form-control" id="edit-isactive" type="checkbox">
                                    <label for="edit-isactive" class="arrow-label">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"  data-dismiss="modal">Cancel</a>
					<button type="submit" (click)="onUpdateSubmit()" [attr.data-dismiss]="modelValue1" class="btn btn-theme btn-sm pull-left">Save Changes</button>
				</div>
			</form>
        </div>
    </div>
</div>
