<div class="inner-tab-content">
    <div class="tableDataSection">
        <div class="row">
            <div class="col-md-8 pt-2">
                <label *ngIf="dataSource.length > 0">
                    <input type="checkbox" [(ngModel)]="isSelectedAll" (change)="onSelectAll($event.target.checked)">
                    Select All
                </label>

                <div class="clsPlusMinusButton" *ngIf="this.totalRecord>0">
                    <a href="javascript:;" (click)="onExpand()" class="btn btn-common">+</a>
                    <a href="javascript:;" (click)="onCollapse()" class="btn btn-common">-</a>
                </div>
            </div>
            <div class="col-md-4">
                <p class="headerBtnSection">
                    <a class="btn btn-common btn-assignAR btn-blue"
                        [ngClass]="selectedData.length > 0 && permission && (permission.IsAdd | lowercase) == 'true' ? 'btn-primary':'btn-grey disabled'" data-toggle="modal"
                        data-target="#SelectedBatches">Pay For Selected Assigned Batches </a>
                </p>
            </div>
        </div>
        <div class="tab-pane fundingcoUnpaid-section" id="FundingCoUnpaid">
            <div class="table-responsive">
                <dx-data-grid #grid id="gridContainerassignUnpaidList" class="radflowGrid radflowGrid_plusMinus" [dataSource]="dataSource"
                    [showBorders]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    (onSelectionChanged)="onSelectCheckbox($event)" [showColumnHeaders]="true">
                    <dxo-paging [pageSize]="pageSize" [pageIndex]="pageNumber"></dxo-paging>
                    <dxo-pager [visible]="false"></dxo-pager>
                    <dxo-sorting mode="none"></dxo-sorting>
                    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple">
                    </dxo-selection>
                    <!-- <dxi-column dataField="batchName" caption="Batchname" alignment="center" class="batchname">
                    </dxi-column> -->
                    <!-- <dxi-column cellTemplate="BatchTemplate">
                      <div class="clsBatchBox" *dxTemplate="let data of 'BatchTemplate'">
                      <span>{{data.data.radiologistName}}</span>
                      <span>{{data.data.transactionNumber}}</span>
                      <span>
                        {{data.data.studyCounts }} <span *ngIf="data.data.studyCounts > 1;else oneStudy">Studies</span>
                        <ng-template #oneStudy>
                           <span>Study</span>
                        </ng-template>
                      </span>
                      <span>{{data.data.totalAmount | currency:'USD':'symbol-narrow'}}</span>
                     </div>
                    </dxi-column> -->
                    <dxi-column dataField="radiologistName" caption="Reading Radiologist"></dxi-column>

                    <dxi-column dataField="transactionNumber" caption="Transaction Number" cellTemplate="transactionNumberTemplate">
                      <div *dxTemplate="let data of 'transactionNumberTemplate'" class="trnNumber">
                        <span>{{data.data.transactionNumber}}</span><a class="copyIcon" (click)="copyToClipboard(data.data.transactionNumber)"><i class="fa fa-copy"></i></a>
                      </div>
                    </dxi-column>

                    <dxi-column dataField="studyCounts" caption="Study Count"></dxi-column>
                    <dxi-column dataField="totalAmount" caption="Purchase Total" cellTemplate="TotalAmount"></dxi-column>
                    <div *dxTemplate="let data of 'TotalAmount'">
                      <span>{{data.data.totalAmount | currency:'USD':'symbol-narrow'}}</span>
                  </div>

                    <dxi-column dataField="fileName" caption="" cellTemplate="PDFIconTemplate"></dxi-column>
                    <div *dxTemplate="let data of 'PDFIconTemplate'">
                        <a class="PDFIcon" (click)="downloadPDF(data.data)"><i class="fa fa-file-pdf-o PDFIcon"></i></a>
                    </div>
                    <dxo-master-detail [enabled]="true" template="batchDetail"></dxo-master-detail>
                    <div class="innerTable" *dxTemplate="let detail of 'batchDetail'">
                        <dx-data-grid [dataSource]="detail.data.batchWiseData" class="innerList"
                            [columnAutoWidth]="true" [showBorders]="true" [repaintChangesOnly]="true"
                            [allowColumnResizing]="true">
                            <dxo-scrolling [useNative]="true"></dxo-scrolling>
                            <dxo-sorting mode="none"></dxo-sorting>

                            <dxi-column [width]="100" [width]="4+'%'" [allowFiltering]="false" [allowSorting]="false"
                                cellTemplate="readingIconTemplate">
                            </dxi-column>
                            <dxi-column dataField="rad" [width]="12+'%'" caption="RAD"> </dxi-column>
                            <dxi-column dataField="dateRead" [width]="7+'%'" caption="Date Read"></dxi-column>
                            <dxi-column dataField="dateARAssigned" [width]="7+'%'" caption="Date AR Assigned"></dxi-column>
                            <dxi-column dataField="executionDate" [width]="7+'%'" caption="Execution Date"></dxi-column>
                            <dxi-column dataField="patientId" [width]="7+'%'" caption="Patient ID"></dxi-column>
                            <dxi-column dataField="lastName" [width]="15+'%'" caption="Last Name"></dxi-column>
                            <dxi-column dataField="firstName" [width]="15+'%'" caption="First Name"></dxi-column>
                            <dxi-column dataField="dateOfBirth" [width]="7+'%'" caption="DOB"></dxi-column>
                            <dxi-column dataField="study" [width]="11+'%'" caption="Study"></dxi-column>
                            <dxi-column dataField="dateOfStudy" [width]="10+'%'" caption="DOS"></dxi-column>
                            <dxi-column cellTemplate="ARPriceTemplate" [width]="8+'%'" caption="AR Price">
                              <div *dxTemplate="let data of 'ARPriceTemplate'">
                                {{data.data.arPrice | currency:'USD':'symbol-narrow'}}
                              </div>
                            </dxi-column>
                            <!-- <dxi-column dataField="arPrice" caption="AR Price"></dxi-column> -->
                            <div *dxTemplate="let data of 'readingIconTemplate'">
                                <a href="javascript:void(0)" class="single-action fa  fa-file-text-o"
                                data-toggle="modal" data-target="#docManager" (click)="showDocManager(data.data.patientId)"></a>
                            </div>
                        </dx-data-grid>

                    </div>
                </dx-data-grid>
            </div>
            <div class="pagination-theme" *ngIf="this.totalRecord>0">
                <div class="pagination-theme">
                    <div
                        *ngFor="let item of dataSource | paginate: { id: 'pagination1' , itemsPerPage: pageSize, currentPage: currentPageNumber, totalItems:totalRecord}">
                    </div>
                    <pagination-controls id="pagination1" (pageChange)="onPageNumberChange($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------Pay for selected batches--------------------------->

<div class="modal fade modal-theme in modal-small" data-backdrop="static" data-keyboard="false" id="SelectedBatches"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <form class="modal-dialog modal-dialog-centered" (submit)="onSubmitPayment()" [formGroup]="paymentForm"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Confirmation</h5>
                <div class="close-dismiss" (click)="clearPaymentForm()" data-dismiss="modal" #modal_close></div>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                    <div class="check-form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="theme-label">Total For Check</div>
                                <label class="totlaPayAmt">{{paymentForm.get("checkAmount").value
                                    | currency:'USD':'symbol-narrow'}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="theme-label">Check Date </div>
                                <dx-date-box class="form-control textSize" [displayFormat]="'MM/dd/yyyy'"
                                    formControlName="checkDate" type="date" [showClearButton]="true"
                                    [useMaskBehavior]="true" [value]="defaultCheckDate">
                                </dx-date-box>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="theme-label">Check #</div>
                                <input type="text" class="form-control textSize" formControlName="checkNumber" maxlength="15" mask="000000000000000"
                                    placeholder="Check #">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" (click)="clearPaymentForm()" class="btn btn-border-gray pull-left btn-sm"
                    data-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-theme pull-right btn-sm" [ngClass]="paymentForm.valid ? 'btn-primary':'btn-grey disabled'" id="btnUpdate">Pay</button>
            </div>
        </div>
    </form>
</div>


<!--------------------end-------------------------->
