.btn-common {
    font-size: 14px;
    min-width: auto;
    height: 30px;
    line-height: 28px;
    padding: 0px 15px;
    margin-right: 0;
    background: #3b8beb;
    border-radius: 6px;
    color: #fff;
    border: 1px solid #3b8beb;
}

.btn-retainedAR {
    margin-right: 16px;
}

.btn-grey {
    background: #7e7e7e;
    border: 1px solid #7e7e7e;
}

.btn-common:hover {
    background: #ffffff;
    color: #3b8beb;
}

.btn-common.btn-grey:hover {
    background: #ffffff;
    color: #7e7e7e;
}

.headerBtnSection {
    display: flex;
    justify-content: flex-end;
}

.PDFIcon i.fa {
    color: #3b8beb;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.signature-custom {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 6px;
}

.btnsignature {
    border: 1px solid #eee;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
}

.btn-preview {
    margin-left: auto;
}

.signatureBtn {
    display: flex;
    margin-top: 16px;
}

.innerTitle {
    text-transform: capitalize;
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

#SelectedBatches .theme-label {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    min-width: 125px;
    line-height: 30px;
}

#SelectedBatches .modal-dialog {
    max-width: 370px;
}

.totlaPayAmt {
    margin-bottom: 0;
    font-size: 20px;
    color: green;
    font-weight: 500;
    line-height: 27px;
}

.clsBatchBox>span{
  text-align: right;
  flex: 25%;
}
.clsBatchBox>span:last-child{
  text-align: right;
}
.clsBatchBox>span:first-child{
  text-align: left;
}
.clsBatchBox {
  display: flex;
  width: 99%;
  margin: auto;
}
.textSize{
  font-size: 20px;
}
