<div class="radProtal-section">
  <app-header></app-header>
  <div class="radportal-body">
      <div class="inner-page-body">
          <form (submit)="onFilter()" [formGroup]="filterForm" class="filter-sec search-field search-field-theme">
              <div class="theme-form">
                  <div class="filter-title-setting-sec">
                      <div class="theme-label-title">By Patient Details</div>
                      <div class="setting">
                          <a routerLink="/lien-portal-setting"><i class="fa fa-cog"></i></a>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="theme-label">Patient ID</div>
                      <div class="input-group">
                          <input type="text" formControlName="patientId" class="form-control">
                      </div>
                  </div>
                  <div class="form-group" *ngIf="selectedMode == 'pending'">
                      <div class="theme-label">Reading Rad</div>
                      <div class="input-group">
                          <select formControlName="readingRad" class="form-control">
                              <option value="">Select</option>
                              <option *ngFor="let item of list_ReferrerByUser" [value]="item.referrerName">
                                  {{item.referrerName}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="theme-label">From Date</div>
                      <div class="input-group icon-active">
                          <dx-date-box [displayFormat]="'dd/MM/yyyy'" formControlName="dateFrom" type="date"
                              [showClearButton]="true" [useMaskBehavior]="true">
                          </dx-date-box>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="theme-label">To Date</div>
                      <div class="input-group icon-active">
                          <dx-date-box [displayFormat]="'dd/MM/yyyy'" formControlName="dateTo" type="date"
                              [showClearButton]="true" [useMaskBehavior]="true">
                          </dx-date-box>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="theme-label">Date Type</div>
                      <div class="input-group">
                          <select class="form-control" formControlName="dateType">
                              <option value="">Select</option>
                              <option value="birthDate">Date Of Birth</option>
                              <option value="dateRead">Date Of Read</option>
                              <option value="studyDate">Date Of Study</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group" *ngIf="selectedMode == 'pending'">
                      <div class="theme-label">CPT Group Combo</div>
                      <div class="input-group">
                          <select class="form-control" formControlName="cptGroup">
                              <option value="">Select</option>
                              <option *ngFor="let item of list_CPTGroup" [value]="item.groupName">{{item.groupName}}
                              </option>
                          </select>
                      </div>
                  </div>

                  <div class="form-group" *ngIf="selectedMode == 'assign_unpaid' || selectedMode == 'assign_paid'">
                      <div class="theme-label">Funding Company</div>
                      <div class="input-group">
                          <select class="form-control" formControlName="fundingCompany">
                              <option value="">Select</option>
                              <option value="1">Company 1</option>
                              <option value="2">Company 2</option>
                              <option value="3">Company 3</option>
                              <option value="4">Company 4</option>
                              <option value="5">Company 5</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group" *ngIf="selectedMode == 'assign_unpaid'">
                      <div class="theme-label">Funding Co Signed</div>
                      <div class="input-group">
                          <select class="form-control" formControlName="fundingCoSigned">
                              <option value="">Select</option>
                              <option value="1">Signed 1</option>
                              <option value="2">Signed 2</option>
                              <option value="3">Signed 3</option>
                              <option value="4">Signed 4</option>
                              <option value="5">Signed 5</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group" *ngIf="selectedMode == 'assign_paid'">
                      <div class="theme-label">Check#</div>
                      <div class="input-group">
                          <input type="text" formControlName="check" class="form-control">
                      </div>
                  </div>
                  <div class="form-group" *ngIf="selectedMode == 'retain_paid'">
                      <div class="theme-label">Check Number</div>
                      <div class="input-group">
                          <input type="text" formControlName="checkNumber" class="form-control">
                      </div>
                  </div>
                  <div class="form-action">
                      <!-- <a href="javascript:void(0)" class="btn btn-theme">SEARCH</a> -->
                      <button type="submit" class="btn btn-theme">SEARCH</button>
                      <a href="javascript:void(0)" class="btn btn-border" (click)="clearFilter()">CLEAR</a>
                  </div>
              </div>
          </form>
          <div class="tab-section">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                      <a class="nav-link" [ngClass]="(selectedMode == 'pending'?'active':'')" href="javascript:;" (click)="onPendingBillTabClicked()">Pending To
                          Bill</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [ngClass]="(selectedMode == 'assign_unpaid'?'active':'')" href="javascript:;" (click)="onAssignUnpaidTabClicked()">Assigned &
                          Unpaid</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [ngClass]="(selectedMode == 'assign_paid'?'active':'')" href="javascript:;" (click)="onAssignPaidTabClicked()">Assigned & Paid</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [ngClass]="(selectedMode == 'retain_unpaid'?'active':'')" href="javascript:;" (click)="onRetainedUnpaidTabClicked()">Retained &
                          Unpaid</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [ngClass]="(selectedMode == 'retain_paid'?'active':'')" href="javascript:;" (click)="onRetainedPaidTabClicked()">Retained & Paid</a>
                  </li>
              </ul>
              <div class="tab-content" *ngIf="selectedMode">
                  <div class="tab-pane active" *ngIf="selectedMode == 'pending'">
                      <app-pending-bill [filterData]="filter"></app-pending-bill>
                  </div>
                  <div class="tab-pane active" *ngIf="selectedMode == 'assign_unpaid'">
                      <app-assign-unpaid [filterData]="filter"></app-assign-unpaid>
                  </div>
                  <div class="tab-pane active" *ngIf="selectedMode == 'assign_paid'">
                      <app-assign-paid [filterData]="filter"></app-assign-paid>
                  </div>
                  <div class="tab-pane active" *ngIf="selectedMode == 'retain_unpaid'">
                      <app-retain-unpaid [filterData]="filter"></app-retain-unpaid>
                  </div>
                  <div class="tab-pane active" *ngIf="selectedMode == 'retain_paid'">
                      <app-retain-paid [filterData]="filter"></app-retain-paid>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
