<div class="tab-pane" id="auto-bill-tab">
    <div class="tab-section">
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" [routerLink]="'autobill'" routerLinkActive="active">AUTO BILL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" [routerLink]="'noasl'" routerLinkActive="active">NO ASL</a>
        </li>
    </ul>
    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>
</div>  
