<div class="modal-content scroll-up">
    <div class="modal-header">
        <h5 class="modal-title">{{FacilityName}}</h5>
        <div class="close-dismiss"></div>
        <div class="close-dismiss" (click)="close()"></div>
    </div>
    <div class="modal-body">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="!LeaseBlockId">
            <div class="radio-theme">
                <input class="form-control" name="ScheduleType" id="BlockTime" type="radio"
                    (change)="changeScheduleType($event.target.value)" value="true" checked="checked">
                <label for="BlockTime">Add time to lease</label>
            </div>
            <div class="radio-theme">
                <input class="form-control" name="ScheduleType" id="BlockOff"
                    (change)="changeScheduleType($event.target.value)" value="false" type="radio">
                <label for="BlockOff">Create black out time(Cannot lease during these times)</label>
            </div>
        </div>
        <form *ngIf="!isBlockOffTime" [formGroup]="leaseBlockOffForm" class="theme-form" novalidate>

            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Modality/Resource</div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ms-lf-col">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group">
                                <select #modalityGetOffDays id="modalityGetOffDays" class="form-control"
                                    formControlName="modalityType"
                                    [ngClass]="{ 'is-invalid': (BlockOffDaysSubmitted && editBlockOffFormControls.modalityType.errors) }"
                                    (change)="changedOffDays($event)">
                                    <option value="" selected>Select Modality</option>
                                    <option *ngIf="modalityResourcesList.length > 0" value="0" selected>All</option>
                                    <optgroup *ngFor="let group of modalityResourcesList" id={{group.Modality}}
                                        label="{{group.Modality}}">
                                        <option *ngFor="let item of group.Resources" value={{item.INTERNALRESOURCEID}}>
                                            {{item.RESOURCENAME}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="(BlockOffDaysSubmitted && editBlockOffFormControls.modalityType.errors)"
                            class="invalid-feedback">
                            <div *ngIf="editBlockOffFormControls.modalityType.errors?.required">
                                modality is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Lease Time Starts</div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ms-lf-col">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box (onValueChanged)="handleBlockOffDaysChange($event,'start_date')"
                                formControlName="start_date" type="date" onkeydown="return false"
                                [ngClass]="{ 'is-invalid': (BlockOffDaysSubmitted && editBlockOffFormControls.start_date.errors) }">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(BlockOffDaysSubmitted && editBlockOffFormControls.start_date.errors)"
                            class="invalid-feedback">
                            <div *ngIf="editBlockOffFormControls.start_date.errors?.required">
                                Start date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box (onValueChanged)="handleBlockOffDaysChange($event,'start_time')"
                                onkeydown="return false" formControlName="start_time" class="form-control"
                                [ngClass]="{ 'is-invalid': (BlockOffDaysSubmitted && editBlockOffFormControls.start_time.errors) }"
                                type="time" pickerType="list" [interval]="5">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(BlockOffDaysSubmitted && editBlockOffFormControls.start_time.errors)"
                            class="invalid-feedback">
                            <div *ngIf="editBlockOffFormControls.start_time.errors?.required">
                                Start time is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Lease Time Ends</div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ms-lf-col">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box (onValueChanged)="handleBlockOffDaysChange($event,'end_date')"
                                onkeydown="return false" formControlName="end_date" type="date"
                                [ngClass]="{ 'is-invalid': (BlockOffDaysSubmitted && editBlockOffFormControls.end_date.errors) }">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(BlockOffDaysSubmitted && editBlockOffFormControls.end_date.errors)"
                            class="invalid-feedback">
                            <div *ngIf="editBlockOffFormControls.end_date.errors?.required">
                                End date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box (onValueChanged)="handleBlockOffDaysChange($event,'end_time')"
                                formControlName="end_time" class="form-control" onkeydown="return false"
                                [ngClass]="{ 'is-invalid': (BlockOffDaysSubmitted && editBlockOffFormControls.end_time.errors) }"
                                type="time" pickerType="list" [interval]="5">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(BlockOffDaysSubmitted && editBlockOffFormControls.end_time.errors)"
                            class="invalid-feedback">
                            <div *ngIf="editBlockOffFormControls.end_time.errors?.required">
                                End time is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="repeater-block">
                <div class="rep-head">
                    <strong>Repeat Event</strong>
                    <span id="repeat-control" (click)="changetxtFunction()">Disabled</span>
                </div>
                <form [formGroup]="reccurringBlockForm" class="theme-form">
                    <div *ngIf="showReccuringBlock" class="rp-tab-block">
                        <div class="radio-tabs lab-space">
                            <label><input class="dhx_repeat_radio" type="radio" name="repeatEvery"
                                    formControlName="repeatEvery" value="day" id="" checked>Daily</label>
                            <label><input class="dhx_repeat_radio" type="radio" name="repeatEvery"
                                    formControlName="repeatEvery" value="week">Weekly</label>
                            <label><input class="dhx_repeat_radio" type="radio" name="repeatEvery"
                                    formControlName="repeatEvery" value="month">Monthly</label>
                        </div>
                        <div *ngIf="reccurringBlockForm.controls.repeatEvery.value == 'day'" class="lab-space bx-space"
                            id="dhx_repeat_day">
                            <label><input class="dhx_repeat_radio" type="radio" name="dailyOccurance"
                                    formControlName="dailyOccurance" value="everyDay">Every</label>
                            <label><input class="dhx_repeat_text" type="text" name="dailyOccranceNumberOfDays"
                                    formControlName="dailyOccranceNumberOfDays" value="1">day</label> <br>
                            <label><input class="dhx_repeat_radio" type="radio" name="dailyOccurance"
                                    formControlName="dailyOccurance" checked="" value="everySelectedWeekDay">Every
                                workday</label>
                        </div>
                        <div *ngIf="reccurringBlockForm.controls.repeatEvery.value == 'week'" class="bx-space">
                            <label> Repeat every<input class="dhx_repeat_text" type="text" name="OccuranceNumberOfWeeks"
                                    formControlName="OccuranceNumberOfWeeks" value="1"></label>
                            <span>week next days:</span><br>
                            <table class="dhx_days">
                                <tbody formArrayName="weekOccuranceDays">
                                    <tr
                                        *ngFor="let singleFormGroup of reccurringBlockForm.controls.weekOccuranceDays.controls; let i = index">
                                        <ng-container [formGroupName]="i">

                                            <td><label><input class="dhx_repeat_checkbox" id="checkMonday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringMonday"
                                                        formControlName="reccuringMonday" value="1">Monday</label>
                                                <label><input class="dhx_repeat_checkbox" id="checkTuesday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringTuesday"
                                                        formControlName="reccuringTuesday" value="2">Tuesday</label>
                                            </td>
                                            <td><label><input class="dhx_repeat_checkbox" id="checkWednesday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringWednesday"
                                                        formControlName="reccuringWednesday" value="3">Wednesday</label>
                                                <label><input class="dhx_repeat_checkbox" id="checkThursday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringThursday"
                                                        formControlName="reccuringThursday" value="4">Thursday</label>
                                            </td>
                                            <td> <label><input class="dhx_repeat_checkbox" id="checkFriday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringFriday"
                                                        formControlName="reccuringFriday" value="5">Friday</label>
                                                <label><input class="dhx_repeat_checkbox" id="checkSaturday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringSaturday"
                                                        formControlName="reccuringSaturday" value="6">Saturday</label>
                                            </td>
                                            <td> <label><input class="dhx_repeat_checkbox" id="checkSunday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringSunday"
                                                        formControlName="reccuringSunday" value="0">Sunday</label></td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="reccurringBlockForm.controls.repeatEvery.value == 'month'" class="monthlytabblock"
                            id="dhx_repeat_month">
                            <label class="dhx_repeat_month_label"><input class="dhx_repeat_radio" type="radio"
                                    name="monthlyOccurance" formControlName="monthlyOccurance"
                                    value="reapeatMonthlyOccurance">Repeat</label>
                            <label><input class="dhx_repeat_text" type="text" name="month_day" value="1">day
                                every</label>
                            <label><input class="dhx_repeat_text" type="text" name="reapeat_month_count"
                                    formControlName="reapeat_month_count" value="1">month</label><br>
                            <label class="dhx_repeat_month_label">
                                <input class="dhx_repeat_radio" type="radio" name="monthlyOccurance"
                                    formControlName="monthlyOccurance" checked="" value="OnEveryMonthweek">On</label>
                            <input class="dhx_repeat_text" type="text" name="onEveryDayOfWeek"
                                formControlName="onEveryDayOfWeek" value="1"><label>
                                <select class="form-control weekselect" name="repeatOnEveryMonthWeekDay"
                                    formControlName="repeatOnEveryMonthWeekDay">
                                    <ng-container *ngFor="let day  of days; let i=index;">
                                        <option [value]="i">{{day}}</option>
                                    </ng-container>
                                </select>every</label>
                            <label><input class="dhx_repeat_text" type="text" name="repeatOnEveryMonth"
                                    formControlName="repeatOnEveryMonth" value="1">month</label>
                        </div>
                        <div id="dhx_repeat_year" style="display:none;">
                            <label class="dhx_repeat_year_label"><input class="dhx_repeat_radio" type="radio"
                                    name="year_type" value="d">Every</label>
                            <label><input class="dhx_repeat_text" type="text" name="year_day" value="1">day</label>
                            <label><select name="year_month" class="form-control weekselect">
                                    <ng-container *ngFor="let month  of months; let i=index;">
                                        <option [value]="i">{{month}}</option>
                                    </ng-container>
                                </select>month</label><br>
                            <label class="dhx_repeat_year_label">
                                <input class="dhx_repeat_radio" type="radio" name="year_type" checked=""
                                    value="w">On</label>

                            <input class="dhx_repeat_text" type="text" name="year_week2" value="1">
                            <select class="form-control weekselect" name="year_day2">
                                <ng-container *ngFor="let day  of days; let i=index;">
                                    <option [value]="i">{{day}}</option>
                                </ng-container>
                            </select><span class="of-txt">of</span><select class="form-control weekselect"
                                name="year_month2">
                                <ng-container *ngFor="let month  of months; let i=index;">
                                    <option [value]="i">{{month}}</option>
                                </ng-container>
                            </select><br>
                        </div>
                        <div class="dhx_repeat_divider cs-diveider"></div>
                        <div class="dhx_repeat_right ndd-block">
                            <!-- <label><input class="dhx_repeat_radio" type="radio" formControlName="endOccurrance" name="endOccurrance" value="#no" checked="">No end date</label> -->
                            <br> <label><input class="dhx_repeat_radio" type="radio" formControlName="endOccurrance"
                                    name="endOccurrance" value="">After</label>
                            <input class="dhx_repeat_text" type="text" name="endOccurranceNumberOfDays"
                                formControlName="endOccurranceNumberOfDays"
                                value="endOccurranceNumberOfDays">occurrences<br>
                            <label><input class="dhx_repeat_radio" type="radio" value='endByDate'
                                    formControlName="endOccurrance" name="endOccurrance" />End by</label>
                            <!-- <input class="dhx_repeat_date" type="text" formControlName = "endOccurrancedate" name="endOccurrancedate" value="25.02.2023"><br>  -->
                            <dx-date-box (onValueChanged)="onOccuranceEndDate()" formControlName="endOccurrancedate"
                                type="date" onkeydown="return false">
                            </dx-date-box>
                        </div>
                    </div>
                </form>
            </div>

        </form>
        <form *ngIf="isBlockOffTime" [formGroup]="leaseForm" class="theme-form" novalidate>
            <div class="row">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle"><a class="link-btn" (click)="senddatatoschd_facilities()">Facility
                            Details</a></div>
                </div>
            </div>
            <div class="row" [class.disabled]="LeaseId?true:false">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Modality/Resource</div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ms-lf-col">
                    <div class="form-group">
                        <div class="input-group">
                            <div *ngIf="!LeaseId" [class.disabled]="LeaseId?true:false" class="input-group">
                                <select #modalityGetType id="modalityGetType" class="form-control"
                                    formControlName="modalityType"
                                    [ngClass]="{ 'is-invalid': (submitted && editFormControls.modalityType.errors) }"
                                    (change)="changed($event)">
                                    <option value='' selected>Select Modality</option>
                                    <optgroup *ngFor="let group of modalityResourcesList" id={{group.Modality}}
                                        label="{{group.Modality}}">
                                        <option *ngFor="let item of group.Resources" value={{item.INTERNALRESOURCEID}}>
                                            {{item.RESOURCENAME}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div *ngIf="LeaseId">
                                <input type="text" class="form-control" disabled
                                    [value]="selectedModality + ' / ' + selectedResourceName " />
                            </div>

                        </div>
                        <div *ngIf="(submitted && editFormControls.modalityType.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.modalityType.errors?.required">
                                modality is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div *ngIf="!LeaseId" class="input-group">
                            <select class="form-control" formControlName="contrastType"
                                [ngClass]="{ 'is-invalid': (submitted && editFormControls.contrastType.errors) }">
                                <option value="" selected>Select contrast Type</option>
                                <option value='w/o'>W / O Contrast ONLY</option>
                                <option value='w'>W / Contrast</option>
                            </select>

                        </div>
                        <div *ngIf="LeaseId">
                            <input type="text" class="form-control" disabled [value]="ResourceType + ' CONTRAST' " />
                        </div>
                        <div *ngIf="(submitted && editFormControls.contrastType.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.contrastType.errors?.required">
                                Contrast Type is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div *ngIf="IsLeaseIdExists" class="input-group icon-active">
                            Lease Id : {{displayLeaseIdSchedulerPopUp}}
                        </div>
                        <div *ngIf="TotalLeaseHours" class="input-group icon-active">
                            Total Lease Hour(s) :<br> {{TotalLeaseHours}}
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="TotalLeaseHours" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            Total Lease Hour(s) :<br> {{TotalLeaseHours}}
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row" [class.disabled]="LeaseId?true:false">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Lease Time Starts</div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ms-lf-col">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box [disabled]="isLeaseSigned ? 'disabled' : null"
                                [displayFormat]="dateTimeFormatCustom.Date" dateSerializationFormat="MM-dd-yyyy"
                                onkeydown="return false" (onValueChanged)="handleValueChange($event,'start_date')"
                                formControlName="start_date" type="date"
                                [ngClass]="{ 'is-invalid': (submitted && editFormControls.start_date.errors) }">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(submitted && editFormControls.start_date.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.start_date.errors?.required">
                                Start date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box [disabled]="isLeaseSigned ? 'disabled' : null"
                                (onValueChanged)="handleValueChange($event,'start_time')" onkeydown="return false"
                                formControlName="start_time" class="form-control"
                                [ngClass]="{ 'is-invalid': (submitted && editFormControls.start_time.errors) }"
                                type="time" pickerType="list" [interval]="5">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(submitted && editFormControls.start_time.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.start_time.errors?.required">
                                Start time is required</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="TotalBlockHours" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            Current blocked Hour(s) :<br> {{TotalBlockHours}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" [class.disabled]="LeaseId?true:false">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Lease Time Ends</div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 ms-lf-col">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box [disabled]="isLeaseSigned ? 'disabled' : null"
                                [displayFormat]="dateTimeFormatCustom.Date" dateSerializationFormat="MM-dd-yyyy"
                                (onValueChanged)="handleValueChange($event,'end_date')" onkeydown="return false"
                                formControlName="end_date" type="date"
                                [ngClass]="{ 'is-invalid': (submitted && editFormControls.end_date.errors) }">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(submitted && editFormControls.end_date.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.end_date.errors?.required">
                                End date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            <dx-date-box [disabled]="isLeaseSigned ? 'disabled' : null"
                                (onValueChanged)="handleValueChange($event,'end_time')" formControlName="end_time"
                                class="form-control" onkeydown="return false"
                                [ngClass]="{ 'is-invalid': (submitted && editFormControls.end_time.errors) }"
                                type="time" pickerType="list" [interval]="5">
                            </dx-date-box>
                        </div>
                        <div *ngIf="(submitted && editFormControls.end_time.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.end_time.errors?.required">
                                End time is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="repeater-block">
                <div class="rep-head">
                    <strong>Repeat Event</strong>
                    <span id="repeat-control" (click)="changetxtFunction()">Disabled</span>
                </div>
                <form [formGroup]="reccurringBlockForm" class="theme-form">
                    <div *ngIf="showReccuringBlock" class="rp-tab-block">
                        <div class="radio-tabs lab-space">
                            <label><input class="dhx_repeat_radio" type="radio" name="repeatEvery"
                                    formControlName="repeatEvery" value="day" id="" checked>Daily</label>
                            <label><input class="dhx_repeat_radio" type="radio" name="repeatEvery"
                                    formControlName="repeatEvery" value="week">Weekly</label>
                            <label><input class="dhx_repeat_radio" type="radio" name="repeatEvery"
                                    formControlName="repeatEvery" value="month">Monthly</label>
                        </div>
                        <div *ngIf="reccurringBlockForm.controls.repeatEvery.value == 'day'" class="lab-space bx-space"
                            id="dhx_repeat_day">
                            <label><input class="dhx_repeat_radio" type="radio" name="dailyOccurance"
                                    formControlName="dailyOccurance" value="everyDay">Every</label>
                            <label><input class="dhx_repeat_text" type="text" name="dailyOccranceNumberOfDays"
                                    formControlName="dailyOccranceNumberOfDays" value="1">day</label> <br>
                            <label><input class="dhx_repeat_radio" type="radio" name="dailyOccurance"
                                    formControlName="dailyOccurance" checked="" value="everySelectedWeekDay">Every
                                workday</label>
                        </div>
                        <div *ngIf="reccurringBlockForm.controls.repeatEvery.value == 'week'" class="bx-space">
                            <label> Repeat every<input class="dhx_repeat_text" type="text" name="OccuranceNumberOfWeeks"
                                    formControlName="OccuranceNumberOfWeeks" value="1"></label>
                            <span>week next days:</span><br>
                            <table class="dhx_days">
                                <tbody formArrayName="weekOccuranceDays">
                                    <tr
                                        *ngFor="let singleFormGroup of reccurringBlockForm.controls.weekOccuranceDays.controls; let i = index">
                                        <ng-container [formGroupName]="i">

                                            <td><label><input class="dhx_repeat_checkbox" id="checkMonday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringMonday"
                                                        formControlName="reccuringMonday" value="1">Monday</label>
                                                <label><input class="dhx_repeat_checkbox" id="checkTuesday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringTuesday"
                                                        formControlName="reccuringTuesday" value="2">Tuesday</label>
                                            </td>
                                            <td><label><input class="dhx_repeat_checkbox" id="checkWednesday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringWednesday"
                                                        formControlName="reccuringWednesday" value="3">Wednesday</label>
                                                <label><input class="dhx_repeat_checkbox" id="checkThursday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringThursday"
                                                        formControlName="reccuringThursday" value="4">Thursday</label>
                                            </td>
                                            <td> <label><input class="dhx_repeat_checkbox" id="checkFriday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringFriday"
                                                        formControlName="reccuringFriday" value="5">Friday</label>
                                                <label><input class="dhx_repeat_checkbox" id="checkSaturday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringSaturday"
                                                        formControlName="reccuringSaturday" value="6">Saturday</label>
                                            </td>
                                            <td> <label><input class="dhx_repeat_checkbox" id="checkSunday"
                                                        (change)="onChange(i,$event, $event.target.checked)"
                                                        type="checkbox" name="reccuringSunday"
                                                        formControlName="reccuringSunday" value="0">Sunday</label></td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="reccurringBlockForm.controls.repeatEvery.value == 'month'" class="monthlytabblock"
                            id="dhx_repeat_month">
                            <label class="dhx_repeat_month_label"><input class="dhx_repeat_radio" type="radio"
                                    name="monthlyOccurance" formControlName="monthlyOccurance"
                                    value="reapeatMonthlyOccurance">Repeat</label>
                            <label><input class="dhx_repeat_text" type="text" name="month_day" value="1">day
                                every</label>
                            <label><input class="dhx_repeat_text" type="text" name="reapeat_month_count"
                                    formControlName="reapeat_month_count" value="1">month</label><br>
                            <label class="dhx_repeat_month_label">
                                <input class="dhx_repeat_radio" type="radio" name="monthlyOccurance"
                                    formControlName="monthlyOccurance" checked="" value="OnEveryMonthweek">On</label>
                            <input class="dhx_repeat_text" type="text" name="onEveryDayOfWeek"
                                formControlName="onEveryDayOfWeek" value="1"><label>
                                <select class="form-control weekselect" name="repeatOnEveryMonthWeekDay"
                                    formControlName="repeatOnEveryMonthWeekDay">
                                    <ng-container *ngFor="let day  of days; let i=index;">
                                        <option [value]="i">{{day}}</option>
                                    </ng-container>
                                </select>every</label>
                            <label><input class="dhx_repeat_text" type="text" name="repeatOnEveryMonth"
                                    formControlName="repeatOnEveryMonth" value="1">month</label>
                        </div>
                        <div id="dhx_repeat_year" style="display:none;">
                            <label class="dhx_repeat_year_label"><input class="dhx_repeat_radio" type="radio"
                                    name="year_type" value="d">Every</label>
                            <label><input class="dhx_repeat_text" type="text" name="year_day" value="1">day</label>
                            <label><select name="year_month" class="form-control weekselect">
                                    <ng-container *ngFor="let month  of months; let i=index;">
                                        <option [value]="i">{{month}}</option>
                                    </ng-container>
                                </select>month</label><br>
                            <label class="dhx_repeat_year_label">
                                <input class="dhx_repeat_radio" type="radio" name="year_type" checked=""
                                    value="w">On</label>

                            <input class="dhx_repeat_text" type="text" name="year_week2" value="1">
                            <select class="form-control weekselect" name="year_day2">
                                <ng-container *ngFor="let day  of days; let i=index;">
                                    <option [value]="i">{{day}}</option>
                                </ng-container>
                            </select><span class="of-txt">of</span><select class="form-control weekselect"
                                name="year_month2">
                                <ng-container *ngFor="let month  of months; let i=index;">
                                    <option [value]="i">{{month}}</option>
                                </ng-container>
                            </select><br>
                        </div>
                        <div class="dhx_repeat_divider cs-diveider"></div>
                        <div class="dhx_repeat_right ndd-block">
                            <!-- <label><input class="dhx_repeat_radio" type="radio" formControlName="endOccurrance" name="endOccurrance" value="#no" checked="">No end date</label> -->
                            <br> <label><input class="dhx_repeat_radio" type="radio" formControlName="endOccurrance"
                                    name="endOccurrance" value="">After</label>
                            <input class="dhx_repeat_text" type="text" name="endOccurranceNumberOfDays"
                                formControlName="endOccurranceNumberOfDays"
                                value="endOccurranceNumberOfDays">occurrences<br>
                            <label><input class="dhx_repeat_radio" type="radio" value='endByDate'
                                    formControlName="endOccurrance" name="endOccurrance" />End by</label>
                            <!-- <input class="dhx_repeat_date" type="text" formControlName = "endOccurrancedate" name="endOccurrancedate" value="25.02.2023"><br>  -->
                            <dx-date-box (onValueChanged)="onOccuranceEndDate()" formControlName="endOccurrancedate"
                                type="date" onkeydown="return false">
                            </dx-date-box>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" *ngIf="isLeaseSigned">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-title">Credits</div>
                </div>
                <div *ngIf="TotalCreditHours" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group icon-active">
                            Total Credit Hour(s) :<br> {{TotalCreditHours}}
                        </div>
                    </div>
                </div>
                <div class="credit-outer" *ngIf="CreditDetailsList">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="table-responsive">
                            <dx-data-grid id="CreditDetailscontainer" [dataSource]="CreditDetailsList"
                                [wordWrapEnabled]="true" [showBorders]="true">
                                <dxo-state-storing [enabled]="true"></dxo-state-storing>
                                <dxo-paging [enabled]="false"></dxo-paging>
                                <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>
                                <dxi-column dataField="ReasonText" caption="Credit Reason"></dxi-column>
                                <dxi-column dataField="CreditReasonText" caption="Credit Reason description"
                                    width="300">
                                </dxi-column>
                                <dxi-column dataField="TotalHour" caption="Total Credit"></dxi-column>

                                <dxi-column cellTemplate="statusCellTemplate" caption="Status">
                                </dxi-column>
                                <div *dxTemplate="let data of 'statusCellTemplate'">
                                    <div *ngIf="data.data.IsUseCredit == true">
                                        <span>used</span>
                                    </div>
                                    <div *ngIf="data.data.IsUseCredit == false">
                                        <span>unused</span>
                                    </div>

                                </div>
                            </dx-data-grid>
                        </div>
                    </div>

                </div>

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Credit Reason</div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <select class="slwidth"
                                [ngClass]="{ 'is-invalid': (submitted && editFormControls.creditReasonID.errors) }"
                                formControlName="creditReasonID" class="form-control">
                                <option value="" selected>Select</option>
                                <option *ngFor="let group of creditReasonList" value={{group.ID}}>
                                    {{group.ReasonText}}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="(submitted && editFormControls.creditReasonID.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.creditReasonID.errors?.required">
                                Credit Reason is required</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" *ngIf="isLeaseSigned">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="theme-label-subtitle">Credits to Add</div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <select [ngClass]="{ 'is-invalid': (submitted && editFormControls.creditHours.errors) }"
                                formControlName="creditHours" class="form-control">
                                <option value="">Select Hour</option>
                                <option value="0">0</option>
                                <option *ngFor="let hours of getTotalHours(24)" value={{hours}}>
                                    {{hours}}
                                </option>
                            </select>
                        </div>

                        <div *ngIf="(BlockOffDaysSubmitted && editBlockOffFormControls.modalityType.errors)"
                            class="invalid-feedback">
                            <div *ngIf="editBlockOffFormControls.modalityType.errors?.required">
                                modality is required</div>
                        </div>
                        <div *ngIf="(submitted && editFormControls.creditHours.errors)" class="invalid-feedback">
                            <div class="required" *ngIf="editFormControls.creditHours.errors?.required">
                                Credit Hour is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <select [ngClass]="{ 'is-invalid': (submitted && editFormControls.creditMinutes.errors) }"
                                formControlName="creditMinutes" class="form-control">
                                <option value="">Select Minute</option>
                                <option *ngFor="let min of minutesList" value={{min}}>
                                    {{min}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="(submitted && editFormControls.creditMinutes.errors)" class="invalid-feedback">
                            <div *ngIf="editFormControls.creditMinutes.errors?.required">
                                Credit Minute is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-spacetextarea" *ngIf="isLeaseSigned">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <textarea class="form-control"
                        [ngClass]="{ 'is-invalid': (submitted && editFormControls.CreditReasonText.errors) }"
                        formControlName="CreditReasonText"
                        placeholder="Reason for adding a credit (Required)"></textarea>
                </div>
                <div *ngIf="(submitted && editFormControls.CreditReasonText.errors)" class="invalid-feedback mt-0">
                    <div *ngIf="editFormControls.CreditReasonText.errors?.required">
                        Credit Reason Text is required</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button #deleteBtn id="deleteBtn" (click)="confirmDelete()"
            class="btn btn-border-clear btn-sm pull-left">Delete</button>
        <button type="button" #SaveBtn id="SaveBtn" (click)="saveBlockLeaseData()"
            class="btn btn-theme btn-sm pull-left">{{isBlockOffTime?"Save":"Add Block"}}</button>


        <a href="javascript:void(0)" class="btn btn-border-gray btn-sm pull-right" (click)="close()">Cancel</a>
    </div>
</div>

<div class="modal fade modal-theme in modal-small" data-backdrop="static" id="checkFacilityPopup" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <ul style="list-style: none;">
                    <li><span>Facility is either closed, has a block of time already leased for this time or blacked
                            out.</span></li>
                    <li><span>Do you still want to lease during this time?</span></li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"
                    data-dismiss="modal">Cancel</a>
                <a (click)="confirmFacilityPopup()" href="javascript:void(0)" class="btn btn-theme pull-left btn-sm"
                    data-dismiss="modal">Yes</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-theme in modal-small" data-backdrop="static" id="checkAlreadyBlockedLeasePopup"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <p *ngIf="AlreadyBlockedLeaseList != 0 && AlreadyBlockedLeaseList != undefined;else isDateValid">
                    <span *ngIf="isBlockOffTime">YOU CAN NOT BLACK OUT SOME OF THE DATES SELECTED IN
                        BLACK OUT LEASE DURATION BECAUSE FOLLOWING DATES ARE
                        ALREADY LEASE
                        BLACKED OUT :</span>
                    <span *ngIf="!isBlockOffTime">YOU CAN NOT BLACK OUT SOME OF THE DATES SELECTED IN
                        BLACK OUT LEASE DURATION BECAUSE FOLLOWING DATES ARE
                        ALREADY BLACKED OUT :</span>
                </p>
                <ng-template #isDateValid>{{dateTimeValidationMsg}}</ng-template>
                <table>
                    <tbody>
                        <tr *ngFor="let template of AlreadyBlockedLeaseList">
                            <td><b>{{template.leasedate}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-theme pull-left btn-sm" data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-theme modal-small" id="pastDateConfirm" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <p>You have selected past date. do you want to continue</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"
                    (click)="confirmPastDate(false)" data-dismiss="modal">No</a>
                <a (click)="confirmPastDate(true)" href="javascript:void(0)" class="btn btn-theme pull-left btn-sm"
                    data-dismiss="modal">Yes</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-theme modal-small" id="greaterCreditTimePopUp" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <div class="close-dismiss" data-dismiss="modal" (click)="ClosePopup(true)"></div>
            </div>
            <div class="modal-body">
                <p>{{popupMessage}}</p>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm" data-dismiss="modal"
                    (click)="ClosePopup(true)">Close</a>
            </div>
        </div>
    </div>
</div>
<button class="d-none" #hiddengreaterCreditTimePopUp [hidden]="true" data-toggle="modal"
    data-target="#greaterCreditTimePopUp"></button>
<button class="d-none" #hiddenCheckFacilityPopupBtn [hidden]="true" data-toggle="modal"
    data-target="#checkFacilityPopup"></button>
<button class="d-none" #hiddencheckAlreadyBlockedLeasePopup [hidden]="true" data-toggle="modal"
    data-target="#checkAlreadyBlockedLeasePopup"></button>
<button class="d-none" #hiddenpastDateConfirm [hidden]="true" data-toggle="modal"
    data-target="#pastDateConfirm"></button>