<div class="dislpaytable">
    <div class="valign-content">
        <div class="valign-content-inner">
            <div class="center-login">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="title-group">
                        <div class="title">Reset Password</div>
                    </div>							
                    <div class="form-group">
                        <div class="form-with-icon validation-tooltip">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fpForm.email.errors }">
                            <!-- <input class="form-control" placeholder="Email"> -->
                            <div *ngIf="submitted && fpForm.email.errors" class="tooltiptext text-right">                            
                                <small class="error text-danger" *ngIf="fpForm.email.errors.required">Email is required</small>
                                <small class="error text-danger" *ngIf="fpForm.email.errors.pattern">Invalid email address</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-btn-bottom">
                        <div class="form-btn">
                            <button type="submit" class="form-main-btn">Submit</button>
                            <div class="forgot-password">
                                <a routerLink="/login">Back to Login</a>
                            </div>
                        </div>						
                    </div>
                </form>
                <ul class="login-footer-buttons">
                    <li><a routerLink="/contact-us" class="footer-link">Contact Us</a></li>
                    <li><a routerLink="/login-request" class="footer-link">Request a Login</a></li>
                    <li><a routerLink="/subpoena-pickup-status" class="footer-link">Subpoena Pickup Status</a></li>
                    <li><a routerLink="/patient-portal" class="footer-link">Patient Login</a></li>
                </ul>								
            </div>
        </div>
    </div>
</div>