<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header-title">PI Billing</div>
            </div>
        </div>
    </div>
    <div class="inner-page-body">
        <div class="tab-section">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <!-- {{class="nav-link active"}} -->
                    <a class="nav-link" data-toggle="tab" [routerLink]="'proc-groups'" routerLinkActive="active">Proc. Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'proc-codes'" routerLinkActive="active">Proc. Codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'pi-invoice-pricing'" routerLinkActive="active">PI Invoice Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'facilities'" routerLinkActive="active">Facilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'dx-codes'" routerLinkActive="active">DX Codes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'pre-neg-rates'" routerLinkActive="active">Pre-Neg Rates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'bpart'" routerLinkActive="active">Body Parts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" [routerLink]="'study-description'" routerLinkActive="active">Study Description</a>
                </li>
            </ul>
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

