<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Generate Bill & Hold Lien</h5>
        <div class="close-dismiss" (click)="close()"></div>
    </div>
    <div class="modal-body">
        <p>
            Are you sure to want to generate bills for the selected studies and hold the liens?
        </p>
        <a href="javascript:void(0)" (click)="onHoldLien()" class="btn btn-theme">Yes</a>
        <a href="javascript:void(0)" (click)="close()" class="btn ">Cancel</a>
    </div>
</div>