.is-invalid{
    border-color: red !important;
}
:host ::ng-deep .ck-editor__editable_inline {
    height: 280px !important;
    overflow-y: scroll !important
}
.font-size
{
    font-size: 15px !important;
}
.documentTabHide{
    display:none !important;
  }

.invalid-feedback {    text-transform: capitalize;
    white-space: inherit!important;
    text-overflow: inherit!important;
    white-space: pre-wrap!important;
    overflow: inherit;}
  