<div class="main-page-body">
	<div class="page-header">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="page-header-title">Scheduling Facilities Settings</div>
			</div>
		</div>
	</div>
	<div class="inner-page-body">
		<div class="tab-section">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link " data-toggle="tab" [routerLink]="'general'" routerLinkActive="active">General Tab</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " data-toggle="tab" [routerLink]="'financialtype'" routerLinkActive="active">Financial Type</a>
				</li>
			</ul>
			<div class="tab-content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>