<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header-title">Dashboard</div>
            </div>
        </div>
    </div>
    <div class="inner-page-body">
        <div class="dashboard-page">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="report-overview-module"></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="dashboard-task panel-group" id="tasks-accordion">
                        <div class="dashboard-task-header">Assigned Tasks</div>
                        <div class="dashboard-task-body">
                            <div class="dashboard-item done" *ngFor="let singleTask of allTaskArray;let i=index;">
                                <div class="single-todo collapsed" data-toggle="collapse" attr.data-target="#task{{i}}"
                                    aria-expanded="false" attr.aria-controls="task{{i}}">
                                    <div class="item-details">
                                        <div class="todo-title"><a
                                                href="javascript:void(0)">{{singleTask.TaskTitle}}</a></div>
                                        <div class="todo-assigned">Assigned By <span
                                                style="color: currentColor !important;">{{singleTask.TaskAssignBy3}}</span>
                                        </div>
                                    </div>
                                    <div class="time">
                                    </div>
                                </div>
                                <div class="task-detail panel-collapse collapse" id="task{{i}}"
                                    data-parent="#tasks-accordion">
                                    <p>{{singleTask.TaskSpecifics}}</p>
                                </div>
                            </div>
                            <div class="single-task" *ngIf="allTaskArray.length==0">
                                <h3>No Pending Tasks</h3>
                            </div>
                        </div>

                        <div class="dashboard-task-footer" *ngIf="allTaskArray.length>0">
                            <a data-toggle="modal" data-target="#task-manager" class="btn btn-theme"
                                (click)="showTaskManagementWindow()">View More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="dashboard-task">
                        <div class="dashboard-task-header">Calender</div>
                        <div class="dashboard-task-body">
                            <div class="same-data">
                                <img src="assets/images/calender.png" alt="Calender">
                            </div>
                        </div>
                        <div class="dashboard-task-footer">
                            <a [routerLink]="['/myprofile/calender']" class="btn btn-theme">View More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="dashboard-task">
                        <div class="dashboard-task-header">Team Members</div>
                        <div class="dashboard-task-body">
                            <div class="table-responsive manual-table">
                                <dx-data-grid id="gridContainer" [dataSource]="teamMemberList"
                                    [allowColumnResizing]="true" [columnAutoWidth]="true" [allowColumnReordering]="true"
                                    [columnMinWidth]="30" keyExpr="USERID" [showBorders]="true">
                                    <dxo-sorting mode="none"></dxo-sorting>
                                    <dxo-header-filter [visible]="false" [allowSearch]="false">
                                    </dxo-header-filter>
                                    <dxo-load-panel [enabled]="true">
                                    </dxo-load-panel>
                                    <dxi-column dataField="USERID" [width]="100" caption="Action"
                                        [allowFiltering]="false" [allowSorting]="false" [visible]="false">
                                    </dxi-column>
                                    <dxi-column dataField="FIRSTNAME" caption="FIRST NAME" cellTemplate="cellTemplate">
                                    </dxi-column>
                                    <dxi-column dataField="LASTNAME" caption="LAST NAME"></dxi-column>
                                    <dxi-column dataField="WORKEMAIL" caption="WORK EMAIL"></dxi-column>
                                    <dxi-column dataField="DepartmentName" caption="DEPARTMENT Name">
                                    </dxi-column>
                                    <dxi-column dataField="Hours" caption="SHIF HOURS"></dxi-column>
                                    <div *dxTemplate="let data of 'cellTemplate'">
                                        <a href="javascript:void(0)" (click)="getRowCurrentDetail(data)"
                                            data-toggle="modal" data-target="#addEditrecord">{{data.data.FIRSTNAME}}</a>
                                    </div>
                                </dx-data-grid>
                            </div>
                        </div>
                        <div class="dashboard-task-footer">
                            <a [routerLink]="['/myprofile/team-members']" class="btn btn-theme">View More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="dashboard-task">
                        <div class="dashboard-task-header">Links</div>
                        <div class="dashboard-task-body">
                            <div class="table-responsive links-table">
                                <dx-data-grid id="gridContainer" [dataSource]="linksList" [allowColumnResizing]="true"
                                    [columnAutoWidth]="true" [allowColumnReordering]="true"
                                    [columnResizingMode]="columnResizingMode" [columnMinWidth]="30" keyExpr="LinkId"
                                    [showBorders]="true">
                                    <dxo-sorting mode="multiple"></dxo-sorting>
                                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                    <dxo-load-panel [enabled]="true">
                                    </dxo-load-panel>
                                    <dxi-column dataField="Category" caption="Category" [groupIndex]="0"
                                        [visible]="false"></dxi-column>
                                    <dxi-column dataField="Did" [width]="100" caption="id" [allowFiltering]="false"
                                        [allowSorting]="false" [visible]="false"></dxi-column>
                                    <dxi-column dataField="Link" caption="Link" [visible]="false"></dxi-column>
                                    <dxi-column dataField="Anchor" caption="Anchor" [visible]="false"></dxi-column>
                                    <dxi-column caption="URL" cellTemplate="cellTemplate"></dxi-column>
                                    <dxi-column dataField="Description" caption="Description"></dxi-column>
                                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                                    <div *dxTemplate="let data of 'cellTemplate'">
                                        <a [href]="data.data.Link" target="_blank">{{data.data.Anchor}}</a>
                                    </div>
                                </dx-data-grid>
                            </div>
                        </div>
                        <div class="dashboard-task-footer">
                            <a href="javascript:void(0)" [routerLink]="['/myprofile/links']" class="btn btn-theme">View
                                More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-loader></app-loader> -->
<!--Add/Update Pop Up Star-->
<div class="modal fade modal-theme in" id="addEditrecord" role="dialog"
    aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{userName}}</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <div>
                    <ckeditor #myckeditor [(ngModel)]="userDuties" [config]="ckConfig" (paste)="onPaste($event)"
                        (change)="onChange($event)">
                    </ckeditor>
                    <!-- <ckeditor [editor]="Editor"  [(ngModel)]="userDuties" [disabled]="true"></ckeditor> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-border-gray btn-sm pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>