@font-face {
  font-family: "HighSummit";
  src: url("../fonts/HighSummit.otf") format("truetype");
}
@font-face {
  font-family: "TheSuavity";
  src: url("../fonts/TheSuavity.otf") format("truetype");
}
@font-face {
  font-family: "MrDeHaviland";
  src: url("../fonts/MrDeHaviland-Regular.ttf") format("truetype");
}

