<div class="tab-pane" id="functionality-tab">
    <div class="theme-form-center">
        <form [formGroup]="functionalityForm" (ngSubmit)="onSubmit()" class="theme-form">
            <div class="theme-panel-body">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="user-detail">
							<div class="row">
								<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
									<div class="checkbox-theme">
										<input class="form-control" id="active2" formControlName="isFunctional"
											type="checkbox">
										<label for="active2" class="arrow-label">Active</label>
									</div>
									<div class="form-group">
										<div class="theme-label">Service Time</div>
										<div class="input-group icon-active">
											<input type="time" class="form-control"
												[ngClass]="{ 'is-invalid': (submitted && functionForm.functionalServiceTime.errors)}"
												formControlName="functionalServiceTime" id="timepicker5">
											<!-- <i class="fa-right-icon fa fa-clock-o"></i> -->
										</div>
										<div *ngIf="submitted && functionForm.functionalServiceTime.errors"
											class="tooltiptext text-right">
											<small class="error text-danger"
												*ngIf="functionForm.functionalServiceTime.errors.required">
												Required
											</small>
										</div>
									</div>
									<div class="form-group">
										<div class="theme-label">Send Email To</div>
										<div class="input-group">
											<input type="text" class="form-control"
												[ngClass]="{ 'is-invalid': (submitted && functionForm.functionalEmails.errors)}"
												formControlName="functionalEmails" required>
										</div>
										<div *ngIf="submitted && functionForm.functionalEmails.errors"
											class="tooltiptext text-right">
											<small class="error text-danger"
												*ngIf="functionForm.functionalEmails.errors.required">
												Required
											</small>
											<small class="error text-danger"
												*ngIf="functionForm.functionalEmails.errors.email">
												Email Pattern
											</small>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                        <!-- <div class="note-list">
                            <div class="note-list-inner">
                                <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING</p>								
                            </div>
                            <div class="note-list-inner">
                                <p>IT IS A LONG ESTABLISHED FACT THAT A READER WILL BE</p>								
                            </div>
                            <div class="note-list-inner">
                                <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING</p>								
                            </div>
                            <div class="note-list-inner">
                                <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING</p>								
                            </div>
                            <div class="note-list-inner">
                                <p>IT IS A LONG ESTABLISHED FACT THAT A READER WILL BE</p>								
                            </div>
                            <div class="note-list-inner">
                                <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING</p>								
                            </div>
                        </div> -->
                        <div class="input-group">
                            <textarea class="form-control"
                                [ngClass]="{ 'is-invalid': (submitted && functionForm.functionalNote.errors)}"
                                formControlName="functionalNote" placeholder="Add Note"></textarea>
                        </div>
                        <div *ngIf="submitted && functionForm.functionalNote.errors" class="tooltiptext text-right">
                            <small class="error text-danger" *ngIf="functionForm.functionalNote.errors.required">
                                Required
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="theme-panel-footer">
                <button type="submit" href="javascript:void(0)" class="btn btn-theme">Update</button>
            </div>
        </form>
    </div>
</div>