<div class="tab-pane" id="pend-pymt-tab">
    <div class="tab-section">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" [routerLink]="'defaultsettings'" routerLinkActive="active">Default Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" [routerLink]="'casestatus'" routerLinkActive="active">Case Status</a>
            </li>
        </ul>
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
        </div>  
        </div>  