<div class="main-page-body">
    <div class="page-header" *ngIf="selectedTab===6">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="page-header-title">Reminders</div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <a href="javascript:void(0)" class="btn btn-theme filter-btn filter-mobile"><i class="fa fa-filter"
                        aria-hidden="true"></i> Filter</a>
            </div>
        </div>
    </div>

    <div class="inner-page-body"  *ngIf="selectedTab===6">
        <div class="search-field search-field-theme collapse show">
            <div class="form-group">
                <ul class="reminder-body">
                    <li>Remind Reading Rad after</li>
                    <li><input type="text" class="form-control"></li>
                    <li>days every</li>
                    <li><input type="text" class="form-control"></li>
                    <li>days if they did not sign the bulk lien assignment</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-header" >
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="page-header-title">RAD Portal Settings</div>
            </div>
        </div>
    </div>
    <div class="inner-page-body">

        <div class="tab-section">
            <ul class="nav nav-tabs">
                <ng-container *ngFor="let t of radPortalTabs;let i= index">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': i===0}" data-toggle="tab" [attr.href]="'#tab'+i"
                            (click)="selectTab(i)">{{t.tabName}}
                        </a>
                    </li>

                </ng-container>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="tab0">
                    <form #f="ngForm" (ngSubmit)="onUpdate0Tab()" >
                        <br>
                        <div class="search-field search-field-theme collapse show">
                            <div class="theme-form">
                                <div class="form-group">
                                    <div class="theme-label">TAB NAME</div>
                                    <div class="input-group">
                                        <input type="text" #tabName="ngModel" [(ngModel)]="tab0Model.tabName"
                                            name="tabName" class="form-control" #refPatientId style="width: 300px;"
                                            [ngClass]="{ 'is-invalid': f.submitted && tabName.invalid}"
                                            required>
                                        <div *ngIf="(tabName.touched || f.submitted) && tabName.invalid "
                                            class="tooltiptext text-right">
                                            <small class="error text-danger" *ngIf="tabName?.errors?.required">Tab Name
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="theme-label">STATUS</div>
                                    <ng-select [items]="statusList" [multiple]="false" bindLabel="Status"
                                        placeholder="Select" groupBy="Type" [(ngModel)]="tab0Model.status"
                                        [selectableGroup]="true" [selectableGroupAsModel]="false"
                                        [closeOnSelect]="false" bindValue="STATUS" name="status">
                                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$"
                                            let-index="index">
                                            <input id="item-{{index}}" type="checkbox"
                                                [ngModelOptions]="{ standalone : true }" [(ngModel)]="item$.selected" />
                                            {{item.Type | uppercase}}
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox"
                                                [ngModelOptions]="{ standalone : true }" [(ngModel)]="item$.selected" />
                                            {{item.STATUS}}
                                        </ng-template>
                                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                <span class="ng-value-label"> {{item.STATUS}}</span>
                                                <span class="ng-value-icon right" (click)="clear(item)"
                                                    aria-hidden="true">×</span>
                                            </div>
                                            <div class="ng-value" *ngIf="items.length > 1">
                                                <span class="ng-value-label">{{items.length - 1}} more...</span>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>


                                <div class="form-group autocomplete form-group1">
                                    <div class="theme-label">FINANCIAL TYPE</div>
                                    <div class="input-group">
                                        <ng-select style="width: 250px;" [items]="financialTypeList"
                                            placeholder="SELECT" bindLabel="financialtypename" [multiple]="false"
                                            [closeOnSelect]="false" bindValue="financialtypename"
                                            [(ngModel)]="tab0Model.financialType" name=financialType>
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                    <span class="ng-value-label"> {{item.financialtypename}}</span>
                                                    <span class="ng-value-icon right" (click)="clear(item)"
                                                        aria-hidden="true">×</span>
                                                </div>
                                                <div class="ng-value" *ngIf="items.length > 1">
                                                    <span class="ng-value-label">{{items.length - 1}} more..</span>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">DESCRIPTION</div>
                                    <div class="input-group">
                                        <textarea #description="ngModel" [(ngModel)]="tab0Model.description"
                                            name="description" class="form-control desc" #refFirstName></textarea>
                                    </div>
                                </div>
                                <div class="form-action">
                                    <input type="submit" class="btn btn-theme" value="Update">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="tab1">
                    <form #f1="ngForm" (ngSubmit)="onUpdate1Tab()" >
                        <br>
                        <div class="search-field search-field-theme collapse show">
                            <div class="theme-form">
                                <div class="form-group">
                                    <div class="theme-label">TAB NAME</div>
                                    <div class="input-group">
                                        <input type="text" #tabName1="ngModel" [(ngModel)]="tab1Model.tabName"
                                            name="tabName" class="form-control" #refPatientId style="width: 300px;"
                                            required>
                                        <div *ngIf="(tabName1.touched || f1.submitted) && tabName1.invalid "
                                            class="tooltiptext text-right">
                                            <small class="error text-danger" *ngIf="tabName?.errors?.required">Tab Name
                                                is required.</small>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="theme-label">STATUS</div>
                                    <ng-select [items]="statusList" [multiple]="false" bindLabel="Status"
                                        placeholder="Select" groupBy="Type" [(ngModel)]="tab1Model.status"
                                        [selectableGroup]="true" [selectableGroupAsModel]="false"
                                        [closeOnSelect]="false" bindValue="STATUS" name="status">
                                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$"
                                            let-index="index">
                                            <input id="item-{{index}}" type="checkbox"
                                                [ngModelOptions]="{ standalone : true }" [(ngModel)]="item$.selected" />
                                            {{item.Type | uppercase}}
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox"
                                                [ngModelOptions]="{ standalone : true }" [(ngModel)]="item$.selected" />
                                            {{item.STATUS}}
                                        </ng-template>
                                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                <span class="ng-value-label"> {{item.STATUS}}</span>
                                                <span class="ng-value-icon right" (click)="clear(item)"
                                                    aria-hidden="true">×</span>
                                            </div>
                                            <div class="ng-value" *ngIf="items.length > 1">
                                                <span class="ng-value-label">{{items.length - 1}} more...</span>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>


                                <div class="form-group autocomplete form-group1">
                                    <div class="theme-label">FINANCIAL TYPE</div>
                                    <div class="input-group">
                                        <ng-select [items]="financialTypeList" placeholder="SELECT"
                                            bindLabel="financialtypename" [multiple]="false" [closeOnSelect]="false"
                                            bindValue="financialtypename" [(ngModel)]="tab1Model.financialType"
                                            name="financialType">
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                    <span class="ng-value-label"> {{item.financialtypename}}</span>
                                                    <span class="ng-value-icon right" (click)="clear(item)"
                                                        aria-hidden="true">×</span>
                                                </div>
                                                <div class="ng-value" *ngIf="items.length > 1">
                                                    <span class="ng-value-label">{{items.length - 1}} more..</span>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="theme-label">DESCRIPTION</div>
                                    <div class="input-group">
                                        <textarea [(ngModel)]="tab1Model.description" name="description"
                                            class="form-control desc" #refFirstName></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox-theme pull-left">
                                        <input [(ngModel)]="tab1Model.BulkLienAssignmentSignatureEmail"
                                            name="BulkLienAssignmentSignatureEmail" id="signinkeep" class="styled"
                                            type="checkbox">
                                        <label for="signinkeep" class="arrow-label">Bulk Lien Assignment Signature
                                            Email</label>
                                    </div>
                                </div>

                                <div class="form-action">
                                    <input type="submit" class="btn btn-theme" value="Update">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="tab2">
                    <form #f2="ngForm" (ngSubmit)="onUpdate2Tab()" >
                        <br>
                        <div class="search-field search-field-theme collapse show">
                            <div class="theme-form">
                                <div class="form-group">
                                    <div class="theme-label">TAB NAME</div>
                                    <div class="input-group">
                                        <input type="text" #tabName2="ngModel" [(ngModel)]="tab2Model.tabName"
                                            name="tabName2" class="form-control" #refPatientId style="width: 300px;"
                                            required>
                                        <div *ngIf="(tabName2.touched || f2.submitted) && tabName2.invalid "
                                            class="tooltiptext text-right">
                                            <small class="error text-danger" *ngIf="tabName2?.errors?.required">Tab Name
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                <div class="theme-label">STATUS</div>
                                <ng-select [items]="statusList" [multiple]="false" bindLabel="Status"
                                    placeholder="Select" groupBy="Type" [(ngModel)]="tab2Model.status"
                                    [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false"
                                    bindValue="STATUS">
                                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox"
                                            [ngModelOptions]="{ standalone : true }" [(ngModel)]="item$.selected" />
                                        {{item.Type | uppercase}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox"
                                            [ngModelOptions]="{ standalone : true }" [(ngModel)]="item$.selected" />
                                        {{item.STATUS}}
                                    </ng-template>
                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                        <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                            <span class="ng-value-label"> {{item.STATUS}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                aria-hidden="true">×</span>
                                        </div>
                                        <div class="ng-value" *ngIf="items.length > 1">
                                            <span class="ng-value-label">{{items.length - 1}} more...</span>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>


                            <div class="form-group autocomplete form-group1">
                                <div class="theme-label">FINANCIAL TYPE</div>
                                <div class="input-group">
                                    <ng-select style="width: 250px;" [items]="financialTypeList" placeholder="SELECT"
                                        bindLabel="financialtypename" [multiple]="false" [closeOnSelect]="false"
                                        bindValue="financialtypename" [(ngModel)]="tab2Model.financialType">
                                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                            <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                <span class="ng-value-label"> {{item.financialtypename}}</span>
                                                <span class="ng-value-icon right" (click)="clear(item)"
                                                    aria-hidden="true">×</span>
                                            </div>
                                            <div class="ng-value" *ngIf="items.length > 1">
                                                <span class="ng-value-label">{{items.length - 1}} more..</span>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div> -->

                                <div class="form-group">
                                    <div class="theme-label">DESCRIPTION</div>
                                    <div class="input-group">
                                        <textarea [(ngModel)]="tab2Model.description" name="description"
                                            class="form-control desc" #refFirstName></textarea>
                                    </div>
                                </div>
                                <div class="form-action">
                                    <input type="submit" class="btn btn-theme" value="Update">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="tab3">
                    <!-- <form #f3="ngForm" (ngSubmit)="onUpdate3Tab()" *ngIf="3===selectedTab"> -->
                        <form #f3="ngForm" (ngSubmit)="onUpdate3Tab()">
                        <br>
                        <div class="search-field search-field-theme collapse show">
                            <div class="theme-form">
                                <div class="form-group">
                                    <div class="theme-label">TAB NAME</div>
                                    <div class="input-group">
                                        <input type="text" #tabName3="ngModel" [(ngModel)]="tab3Model.tabName"
                                            name="tabName3" class="form-control" #refPatientId style="width: 300px;"
                                            required>
                                        <div *ngIf="(tabName3.touched || f3.submitted) && tabName3.invalid "
                                            class="tooltiptext text-right">
                                            <small class="error text-danger" *ngIf="tabName3?.errors?.required">Tab Name
                                                is required.</small>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="theme-label">DESCRIPTION</div>
                                    <div class="input-group">
                                        <textarea [(ngModel)]="tab3Model.description" name="description"
                                            class="form-control desc" #refFirstName></textarea>
                                    </div>
                                </div>
                                <div class="form-action">
                                    <input type="submit" class="btn btn-theme" value="Update">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
