<div class="radProtal-section">
    <!-- <div class="radPortal-Header">
        <div class="page-title-group">

            <a href="javascript:void(0)" class="page-title"><img src="assets/images/radflowsolutions-logo.png"
                    routerLink="/dashboard" routerLinkActive="active" class="nav-link" title="dashboard"></a>

            <div class="header-action-right">


                <div class="header-action action-web dropdown">
                    <div class="dropdown-toggle nav-link" id="dropdownlogout" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="user-photo">
                            <i class="pe-icon pe-7s-user"></i>
                        </div>
                        <div class="user-name">Danny</div>
                    </div>
                    <ul class="dropdown-menu animated fadeInUp" aria-labelledby="dropdownlogout">
                        <li><a routerLinkActive="active" routerLink="/myprofile/profile"><i class="fa fa-user-o"></i>My
                                Profile</a></li>
                        <li><a routerLinkActive="active" routerLink="/myprofile/change-password"><i
                                    class="fa fa-key"></i>Change Password</a></li>
                        <li><a (click)="logOut()"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <app-header></app-header>
    <div class="radportal-body">
        <div class="inner-page-body">
            <div class="filter-sec search-field search-field-theme">
                <div class="theme-form">
                    <div class="theme-label-title">By Patient Details</div>
                    <div class="form-group">
                        <div class="theme-label">Patient ID</div>
                        <div class="input-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="readingread">
                        <div class="theme-label">Reading Rad</div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>Today</option>
                                <option>Yesterday</option>
                                <option>Last 7 Days</option>
                                <option>Last 14 Days</option>
                                <option>Last 30 Days</option>
                                <option>Last 60 Days</option>
                                <option>Last 90 Days</option>
                                <option>Last 180 Days</option>
                                <option>Last 365 Days</option>
                                <option>Year To Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">From Date</div>
                        <div class="input-group icon-active">
                            <dx-date-box [displayFormat]="'dd/MM/yyyy'" type="date" [showClearButton]="true"
                                [useMaskBehavior]="true">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">To Date</div>
                        <div class="input-group icon-active">
                            <dx-date-box [displayFormat]="'dd/MM/yyyy'" type="date" [showClearButton]="true"
                                [useMaskBehavior]="true">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">Date Type</div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>Type 1</option>
                                <option>Type 2</option>
                                <option>Type 3</option>
                                <option>Type 4</option>
                                <option>Type 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="cptGroup">
                        <div class="theme-label">CPT Group Combo</div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>Combo 1</option>
                                <option>Combo 2</option>
                                <option>Combo 3</option>
                                <option>Combo 4</option>
                                <option>Combo 5</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group" *ngIf='fundingCmp'>
                        <div class="theme-label">Funding Company</div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>Company 1</option>
                                <option>Company 2</option>
                                <option>Company 3</option>
                                <option>Company 4</option>
                                <option>Company 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="fundingSigned">
                        <div class="theme-label">Funding Co Signed</div>
                        <div class="input-group">
                            <select class="form-control">
                                <option>Signed 1</option>
                                <option>Signed 2</option>
                                <option>Signed 3</option>
                                <option>Signed 4</option>
                                <option>Signed 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"  *ngIf="check" >
                        <div class="theme-label">Check#</div>
                        <div class="input-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group"  *ngIf="checknumber">
                        <div class="theme-label">Check Number</div>
                        <div class="input-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-action">
                        <a href="javascript:void(0)" class="btn btn-theme">SEARCH</a>
                        <a href="javascript:void(0)" class="btn btn-border" (click)="clearFilter()">CLEAR</a>
                    </div>
                </div>
            </div>
            <div class="tab-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#pending-to-bill"
                            (click)="onPendingBillTabClicked()">Pending To Bill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#assigned-unpaid" (click)="onAssignUnpaidTabClicked()">Assigned & Unpaid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#assigned-paid" (click)="onAssignPaidTabClicked()">Assigned & Paid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#retained-unpaid" (click)="onRetainedUnpaidTabClicked()">Retained & Unpaid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#retained-paid" (click)="onRetainedPaidTabClicked()">Retained & Paid</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="pending-to-bill" >
                        <app-pending-bill></app-pending-bill>
                    </div>
                    <div class="tab-pane fade" id="assigned-unpaid">
                        <app-assign-unpaid></app-assign-unpaid>
                    </div>
                    <div class="tab-pane fade" id="assigned-paid">
                        <app-assign-paid></app-assign-paid>
                    </div>
                    <div class="tab-pane fade" id="retained-unpaid">
                       <app-retain-unpaid></app-retain-unpaid>
                    </div>
                    <div class="tab-pane fade" id="retained-paid">
                        <app-retain-paid></app-retain-paid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>