<div [ngClass]="{'d-none':isSignSuccessflyyMessage}">
<div class="esign-request-body" 
	[ngClass]="{'esign-request-body-fixed disabled' : alreadySignedbodyDisabled || esignbodyDisabled }" id="esignbody">

	<div class="white-strip " id="alreadyLienSigned" [style.display]="alreadySignedbodyDisabled ? 'block' : 'none'"
		style="display: block;">
		<div class="main-section">
			<div class="left-section">
				<span>
					El gravamen ya ha sido firmado. Descargar una copia</span>
				<a href="javascript:void(0);" (click)="downloadSignFile()"><img
						src="assets/images/downloadicon.png" /></a>
			</div>
		</div>
	</div>
	<div class="blue-strip " id="bluestrip" [style.display]="esignbodyDisabled ? 'block' : 'none'"
		style="display: block;">
		<div class="main-section">
			<div class="left-section">
				<div style="display: flex;">
					<div class="flagimage">
						<img src="assets/images/flag.png">
					</div>
					<div> <span style="color: #fff">
							Por favor lea el </span><a data-toggle="modal" data-target="#ElecAgreePopUp"
							style="color: #fff; text-decoration: underline">Expedientes electrónicos y divulgación de
							firmas.</a>
						<div class="checkbox-theme">
							<input id="agree" class="styled" (change)="eventCheck($event)" type="checkbox">
							<label for="agree" class="arrow-label">ACEPTO USAR REGISTROS Y FIRMAS ELECTRÓNICAS.</label>
						</div>
					</div>
				</div>
			</div>
			<div class="right-action">
				<div class="switch-group switch-small text-right">
					<span class="text">Click For English</span>
					<label class="switch switch-active">
						<input type="checkbox" checked (change)="changelanguage($event)">
						<span class="slider round"></span>
					</label>

				</div>
				<button type="button" (click)="openlien()" class="btn btn-theme">SEGUIR</button>
				<div class="dropdown">
					<div id="pnltop" style="display: block;">
						<select name="drpactions" (change)="drpactionChanges($event)" class="dropdownaction">
							<option selected="selected" value="0">Otras acciones</option>
							<option value="1">Imprimir y firmar</option>
							<option value="2">Guardar documento</option>
						</select>
						<div id="pdfviewer" style="text-align: center; display: none">
							<iframe id="pdf" name="pdf"></iframe>
						</div>
						<input type="submit" name="printpreview" value="" id="printpreview" style="display: none">
						<input type="submit" name="savepdf" value="" id="savepdf" style="display: none">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top-strip">
		<p>Seleccione el campo de signo para crear o agregar su firma</p>
	</div>
	<div class="top-action top-action-switch">
		<ul>
			<li>
				<a href="javascript:void(0)" (click)="plus()" class="fa fa-search-plus"></a>
			</li>
			<li>
				<a href="javascript:void(0)" (click)="minus()" class="fa fa-search-minus"></a>
			</li>
			<li>
				<a href="javascript:void(0)" (click)="previewAndSave(1)" class="fa fa-print"></a>
			</li>
			<li>
				<a href="javascript:void(0)" (click)="previewAndSave(2)" class="fa fa-download"></a>
			</li>
		</ul>
		<div class="switch-group switch-small text-right">
			<span class="text">Click for English</span>
			<label class="switch">
				<input type="checkbox" checked (change)="changelanguage($event)">
				<span class="slider round"></span>
			</label> 
		</div>
	</div>
	<div class="esign-request-main esign-request-main-group">
		<div id="englishpatient" class="esign-request" style="display: block;">
			<div class="esign-header">
				<div class="esign-header-left">
					<div class="label-input" (click)="scrollToElement(esignSignatureTab)">
						<img src="assets/images/newsign-s.png" tabindex="-1" class="esign-header-web animation-large"
							style="cursor: pointer;">
						<img src="assets/images/mobile-newsign.png" tabindex="-1"
							class="esign-header-mobile animation-large" style="cursor: pointer;">
					</div>
					<img src="assets/images/radflowsolutions-logo.png" class="logo">
				</div>
				<div class="switch-group switch-small text-right">
					<span class="text">Click For English</span>
					<label class="switch">
						<input type="checkbox" checked (change)="changelanguage($event)">
						<span class="slider round"></span>
					</label>

				</div>
			</div>
			<div class="esign-header-title"> <span id="lblepftype" class="page-title">
					Técnico de lesiones personales
					(Imágenes) Enlace</span>
			</div>
			<div class="esign-details">
				<div class="esign-single-line"> <span id="lblepattorney" class="headertext">TAL DESPACHO JURIDICO
						DE:</span>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-head">
							<input name="txtattname" type="text" [value]="allSignData?.AttorneyFullName"
								readonly="readonly" id="txtattname" class="headerinput">
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-head">
							<input name="txtattadd1" type="text" [value]="allSignData?.AttorneyAddress"
								readonly="readonly" id="txtattadd1" class="headerinput">
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-head">
							<input name="txtattadd3" type="text" [value]="allSignData?.AttorneyCityState"
								readonly="readonly" id="txtattadd3" class="headerinput">
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-body"> <span id="lbleptel" class="headerlabel">TEL: &nbsp;</span>
							<span id="lbletel" class="headetext">{{allSignData?.BusinessPhoneNumber}}</span>
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-body"> <span id="lblepfax" class="headerlabel">FAX: &nbsp;</span>
							<span id="lblefax" class="headetext">{{allSignData?.AttorneyFaxNumber}}</span>
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="patient-info-group">
						<div class="patient-info-single"> <span id="lbleppatientname" class="headertext">Patient Name :
								{{allSignData?.FullNameLF}}</span>
						</div>
						<div class="patient-info-single"> <span id="lbleppatientid" class="headertext">Patient ID :
								{{allSignData?.PATIENTID}}</span>
						</div>
						<div class="patient-info-single"> <span id="lblepdob" class="headertext">Date Of Birth :
								{{allSignData?.BIRTHDATE}}</span>
						</div>
					</div>
				</div>
				<div class="paragraph-group">
					<p><strong> * * *(INFORME A SU ABOGADO DE TODO LES PROCEDIMIENTO(S) HECHO CON
							PRECISE IMAGING PARA GARANTIZAR EL PAGO DE LOS SERVICIOS A TRAVÉS DE SU CASO. DE NO INFORMAR
							A
							SU ABOGADO PUEDE HACER QUE USTED SEA RESPONSABLE DEL PAGO DE LOS SERVICIOS.) * * *</strong>
					</p>
					<p><strong>(Por la presente autorizo a Precise Imaging a proporcionarle a usted, mi
							abogado, todos los registros médicos, facturas y gravámenes del examen o exámenes, con
							respecto
							al accidente en el que estuve envuelto en la fecha de la herida escrito por
							debajo.)</strong></p>
					<p><strong> (Por la presente le autorizo y le dirigo usted, mi
							abogado, a pagar directamente a Precise Imaging las sumas adeudadas y adeudadas por los
							servicios que se me presten, tanto por este accidente como por cualquier otras factura que
							se
							deba y deba a Precise Imaging y que retenga dichas sumas de cualquier acuerdo, juicio o
							veredicto que puede ser necesarias para proteger y compensar adecuadamente a Precise
							Imaging.
							Por el presente documento, a mi abogado que pague en su totalidad todas las facturas que se
							adeyden a Precise Imaging.)</strong></p>
					<p><strong>(Entiendo perfectamente que soy responsable directa y plenamente a
							Precise Imaging de todas las facturas médicas presentadas por dicha entidad por los
							servicios
							prestados y que este acuuerdo se hace unicamente por la protección adicional de dicha
							entidad y
							en consideración de la entidad a la espera de pago. Además, entiendo que dicho pago no está
							supeditado a ningun acuerdo, juicio o veredicto por el cual eventualmente pueda recuperar
							dicha
							tasa.Me han informado que si mi abogado no desea cooperar en la protección de los intereses
							de
							Precise Imaging, la entidad no esperará el pago y puede declarar tado el saldo adeudado y
							pagadero. El paciente acepta pagar todos los honorarios razonables de los abogados de
							Precise,
							los costos de cobro y los gastos asociados con la aplicación de gravámenes. Si se requiere
							que
							Precise conserve a un abogado para hacer cumplir cualquier disposición de este acuerdo, ya
							sea
							que se inicie o no un procedimiento legal, la parte que prevalece sustancialmente tendrá
							derecho
							a honorarios razonables de abogados, independientemente de si en el juicio, en la apelación,
							en
							cualquier procedimiento de quiebra, asunto de arbitraje o sin recurso a juicio. En el caso
							de
							que se requiera que Precise dé a una agencia de cobranzas cualquier cantidad pendiente de
							pago
							debida en virtud de este acuerdo, el paciente acepta pagar todos y cada uno de los costos,
							honorarios o cargos impuestos por dicha agencia de cobranzas al cobrar las cantidades
							adeudadas
							en virtud del presente acuerdo.)</strong></p>
					<p><strong>(Por la presente acepto
							renunciar a la ejecución de cualquier Estatuto de Limitaciones por un período adicional de
							cuatro (4) años segun lo dispiesto en el CCP 360.5)</strong></p>
				</div>
			</div>
			<div #esign_signature class="esign-signature">
				<div class="esign-patient-information esign-patient-information-group esign-patient-information-groups">
					<div class="signature-table signature-table-group">
						<div class="single-signature">
							<div class="label-title">
								Fecha(s) de la lesión:</div>
							<div class="label-input">
								<input name="txtepdateofinjury" type="text" readonly [value]="allSignData?.InjuryDate"
									id="txtepdateofinjury" class="text-line">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title">Escriba el primer, segundo nombre y TODOS los apellidos:
							</div>
							<div class="label-input">
								<input name="txtepfullname" type="text" readonly [value]="allSignData?.FullNameLF"
									id="txtepfullname" class="text-line">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title">
								Firma del paciente:</div>
							<div class="label-input patientsign-input">
								<img id="patientsign" *ngIf="patientSignature" [src]="patientSignature"
									style="height: 125px;">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title">Fecha:</div>
							<div class="label-input">
								<input name="txtepdate" readonly type="text" [value]="allSignData?.Currentdate"
									id="txtepdate" class="text-line">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title">
								Nombre del conductor (si fuera pasajero):
							</div>
							<div class="label-input">
								<input name="txtepdrivername" readonly type="text" [value]="allSignData?.DriverName"
									id="txtepdrivername" class="text-line">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="esign-details">
				<div class="paragraph-group">
					<p>El abajo firmante, siendo el abogado registrado del paciente anterior, por la presente acepta
						observar todos
						los términos de lo anterior, y acuerda retener dichas sumas de cualquier acuerdo, juicio o
						veredicto, según sea necesario para proteger adecuadamente y compensar completamente a Precise
						Imaging.
						El abogado también acepta que en caso de que se litigue este derecho de retención, la parte
						ganadora será
						otorgó los honorarios y costas de los abogados. Acepto proporcionar una actualización del estado
						del caso cada cien
						ochenta (180) días a partir de la primera fecha de servicio. Reconozco que la falta de
						proporcionar información periódica
						las actualizaciones del estado del caso pueden dar lugar a que la(s) cuenta(s) del paciente se
						remitan a cobranzas.</p>
				</div>
			</div>
			<div #esignSignatureTab class="esign-patient-information">
				<div class="signature-table">
					<div class="sign-icon" style="position: absolute;left: -116px;">
						<img src="assets/images/sign-arrow-s.png" data-toggle="modal" (click)="getEsignData(false)"
							style="cursor: pointer;" id="opensign" tabindex="-1" class="sign-image">
					</div>
					<div class="single-signature">
						<div class="label-title label-date">Fecha:</div>
						<div class="label-input">
							<input name="txtepdate1" type="text" readonly [value]="allSignData?.Currentdate"
								id="txtepdate1" class="text-line">
						</div>
					</div>
					<div class="extra-signature" style="width: 100%">
						<div class="single-signature extrasignmax">
							<div class="label-input">
								<img src="assets/images/newsign-s.png" data-toggle="modal" (click)="getEsignData(false)"
									class="animation-large" id="opensign" tabindex="-1" style="cursor: pointer;">
							</div>
							<div class="label-group"><input name="" type="text" readonly="readonly"></div>
							<div class="label-title">(Firma del abogado)</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="esign-request-main">
		<div id="Div4" class="esign-request">
			<div class="esign-header">
				<div class="esign-header-left"> <span id="LblHeaderBillName"
						class="PLien-Header">{{allreferrerData?.patientBillName}}</span>
				</div>
			</div>
			<div class="esign-header-title"> <span id="Label1" class="page-title">
					<strong>GRAVAMEN DE RADIÓLOGO MÉDICO POR LESIONES PERSONALES</strong></span>
			</div>
			<div class="esign-details">
				<div class="esign-single-line"> <span id="Label2" class="headertext">
						<strong> AL DESPACHO JURIDICO DE:</strong></span>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-head">
							<input name="txtPattname" type="text" [value]="allSignData?.AttorneyFullName"
								readonly="readonly" id="txtPattname" class="headerinput">
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-head">
							<input name="txtPattadd1" type="text" [value]="allSignData?.AttorneyAddress"
								readonly="readonly" id="txtPattadd1" class="headerinput">
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-head">
							<input name="txtPattadd3" type="text" [value]="allSignData?.AttorneyCityState"
								readonly="readonly" id="txtPattadd3" class="headerinput">
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-body"> <span id="lblPeptel" class="headerlabel">TEL: </span>
							<span id="lblPetel" class="headetext">{{allSignData?.BusinessPhoneNumber}}</span>
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="esign-input-group">
						<div class="esign-input-body"> <span id="lblPepFax" class="headerlabel">FAX: </span>
							<span id="lblPeFax" class="headetext">{{allSignData?.AttorneyFaxNumber}}</span>
						</div>
					</div>
				</div>
				<div class="esign-single-line">
					<div class="patient-info-group">
						<div class="patient-info-single"> <span id="lblPeppatientname" class="headertext">Patient Name :
								{{allSignData?.FullNameLF}}</span>
						</div>
						<div class="patient-info-single"> <span id="lblPeppatientid" class="headertext">Patient ID :
								{{allSignData?.PATIENTID}}</span>
						</div>
						<div class="patient-info-single"> <span id="lblPepdob" class="headertext">Date Of Birth :
								{{allSignData?.BIRTHDATE}}</span>
						</div>
					</div>
				</div>
				<div class="paragraph-group">
					<p><strong>* * *(INFORME A SU ABOGADO DE TODO LOSP PROCEDIMIENTO(S)
							HECHO CON <span id="lblPatientBillName2">{{allreferrerData?.patientBillName}}</span>
							PARA GARANTIZAR EL PAGO DE LOS SERVICIOS A TRAVÉS DE SU CASO. DE NO INFORMAR A SU ABOGADO
							PUEDE
							HACER QUE USTED SEA RESPONSABLE PARA DEL PAGO DE LOS SERVICIOS.) * * * </strong></p>
					<p><strong> (Por la presente autorizo <span
								id="lblPatientBillName4">{{allreferrerData?.patientBillName}}</span>
							(proveedor da radiologiá) entregar a usted, mi abogado, un informe completo del examen,
							diagnóstico, tratamiento y pronóstico de mí mismo, en cuando estuve envuelto en un accidente
							en
							la fecha de la herida escrito por debajo.)</strong></p>
					<p><strong>(Por
							la
							presente le autorizo y le dirigo a usted, mi abogado, a pagar directamente a <span
								id="lblPatientBillName11">{{allreferrerData?.patientBillName}}</span>
							las sumas adeudadas y adeudadas por los servicios profesionales que se me presten. Tanto por
							este accidente como por cualquier otra factura que se deba y deba a <span
								id="lblPatientBillName14">{{allreferrerData?.patientBillName}}</span>
							y que retenga dichas sumas de cualquier acuerdo. juicio o veredicto que puedo ser necesario
							para
							proteger y compensar adecuadamente <span id="lblPatientBillName6">Mednik Medical
								Corporation</span>. Por el presente indundo a mi abogado que pague en su totalidad
							cualquier
							factura médica que se le adeude a <span id="lblPatientBillName7">Mednik Medical
								Corporation</span>.</strong></p>
					<p> <strong>
							(Entiendo perfectamente que soy responsable directa y plenamente a <span
								id="lblPatientBillName15">{{allreferrerData?.patientBillName}}</span>
							de todas las facturas médicas presentadas por dicha proveedor por los servicios prestados y
							que
							este acuerdo se hace únicamente por la protección adicional de dicho proveedor y en
							consideración del proveedor a la espera de pago. Además, entiendo que dicho pago no está
							supeditado a ningún acuerdo. juicio o veredicto por el cual eventualmente pueda recuperar
							dicha
							tasa. Me han informado que si mi abogado no desea cooperar en la protección de los interses
							de
							<span id="lblPatientBillName18">{{allreferrerData?.patientBillName}}</span>. el proveedor no
							esperará el
							pago y puede declarar todo el saldo adeudado y pagadero.El paciente acepta pagar todos los
							honorarios razonables de los abogados de <span
								id="lblPatientBillName22">{{allreferrerData?.patientBillName}}</span>, los costos de
							cobro y
							los gastos asociados con la aplicación de
							gravámenes. Si se requiere que <span
								id="lblPatientBillName20">{{allreferrerData?.patientBillName}}</span>
							conserve a un abogado para hacer cumplir cualquier disposición de este acuerdo, ya sea que
							se
							inicie o no un procedimiento legal, la parte que prevalece sustancialmente tendrá derecho a
							honorarios razonables de abogados, independientemente de si en el juicio, en la apelación,
							en
							cualquier procedimiento de quiebra, asunto de arbitraje o sin recurso a juicio. En el caso
							de
							que se requiera que <span
								id="lblPatientBillName21">{{allreferrerData?.patientBillName}}</span>
							dé a una
							agencia de cobranzas cualquier cantidad pendiente de pago debida en virtud de este acuerdo,
							el
							paciente acepta pagar todos y cada uno de los costos, honorarios o cargos impuestos por
							dicha
							agencia de cobranzas al cobrar las cantidades adeudadas en virtud del presente acuerdo.)
						</strong></p>
					<p><strong>(Por la presente acepto renunciar
							a la ejecución de cualquier Estatuto de Limitaciones por un período adicional de cuatro (4)
							años
							según lo dispuesto en el CCP 360.5)</strong></p>
				</div>
			</div>
			<div class="esign-signature">
				<div class="esign-patient-information esign-patient-information-group">
					<div class="signature-table signature-table-group">
						<div class="single-signature">
							<div class="label-title"><strong>Fecha(s) de la lesión:</strong></div>
							<div class="label-input">
								<input name="txtPepdateofinjury" type="text" readonly [value]="allSignData?.InjuryDate"
									id="txtPepdateofinjury" class="text-line">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title"><strong>Imprimir primero, medio, &amp; TODOS los
									apellidos:</strong>
							</div>
							<div class="label-input">
								<input name="txtPepfullname" type="text" readonly [value]="allSignData?.FullNameLF"
									id="txtPepfullname" class="text-line">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title">
								Firma del paciente:</div>
							<div class="label-input patientsign-input">
								<img id="patientsignP" *ngIf="patientSignature" [src]="patientSignature"
									style="height: 125px;">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title">
								Fecha:</div>
							<div class="label-input">
								<input name="txtPepdate" type="text" readonly [value]="allSignData?.Currentdate"
									id="txtPepdate" class="text-line">
							</div>
						</div>
						<div class="single-signature">
							<div class="label-title">
								Nombre del conductor (si fuera pasajero):
							</div>
							<div class="label-input">
								<input name="txtPepdrivername" readonly type="text" [value]="allSignData?.DriverName" id="txtPepdrivername" class="text-line">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="esign-details">
				<div class="paragraph-group">
					<p>El abajo firmante, siendo el abogado registrado del paciente anterior, por la presente acepta
						observar todos
						los términos de lo anterior, y acuerda retener dichas sumas de cualquier acuerdo, juicio o
						veredicto, según sea necesario para proteger adecuadamente y compensar plenamente <span
							id="lblPatientBillName23">{{allreferrerData?.patientBillName}}</span> abogado más
						acuerda que, en caso de que se litigue este derecho de retención, se otorgará a la parte
						vencedora
						honorarios y costos.</p>
				</div>
			</div>
			<div class="esign-patient-information">
				<div class="signature-table">
					<div class="sign-icon" style="position: absolute;left: -116px;">
						<img src="assets/images/sign-arrow-s.png" data-toggle="modal" (click)="getEsignData(false)"
							style="cursor: pointer;" id="opensign" tabindex="-1" class="sign-image">
					</div>
					<div class="single-signature">
						<div class="label-title label-date">Fecha:</div>
						<div class="label-input">
							<input name="txtPepdate1" type="text" readonly [value]="allSignData?.Currentdate"
								id="txtPepdate1" class="text-line">
						</div>
					</div>
					<div class="extra-signature" style="width: 100%">
						<div class="single-signature extrasignmax">
							<div class="label-input"><img src="assets/images/newsign-s.png" data-toggle="modal"
									(click)="getEsignData(false)" class="animation-large" id="opensign" tabindex="-1"
									style="cursor: pointer;"></div>
							<div class="label-group"><input name="" type="text" readonly="readonly"></div>
							<div class="label-title">(Firma del Abogado)</div>
						</div>
					</div>
				</div>
			</div>
			<div class="esign-details">
				<div class="Attorney-Detail"> <span id="lblRadAddress"
						class="page-title">{{allreferrerData?.RadAddress}}</span>
					<span id="lblRadPhone" class="page-title">{{allreferrerData?.RadPhone}}</span>
					<span id="lblRadFax" class="page-title">{{allreferrerData?.RadFax}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade modal-theme modal-small" #SignPopUp id="SignPopUp" data-backdrop="static"
		data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Por favor firme su gravamen médico y de imágenes</h5>
					<div class="close-dismiss" (click)="signConfirm(false)" data-dismiss="modal"></div>
				</div>
				<form name="form"
					(ngSubmit)="f.form.valid && (firstName.valid && model.signature!='') && submitSign(true)"
					#f="ngForm" class="theme-form" novalidate>
					<div class="modal-body">
						<div class="modal-body-inner">
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="form-group">
										<div class="theme-label">Nombre y Apellido</div>
										<div class="input-group">
											<input type="text" class="form-control" name="firstName"
												[(ngModel)]="model.firstName" #firstName="ngModel"
												[ngModelOptions]="{ standalone : true }" [pattern]="firstNamePattern"
												[ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
												required />
										</div>
										<div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
											<div *ngIf="firstName.errors.required">Se requiere el primer nombre</div>
											<div *ngIf="firstName.errors.pattern">Nombre y Apellido no valido</div>
										</div>
									</div>
								</div>
								<br>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									<div class="form-group">
										<div class="theme-label">
											Nombre y Apellido del Conductor (Opcional) </div>
										<div class="input-group">
											<input type="text" class="form-control" (click)="checkdriverFirstName()" (keyup)="checkdriverFirstName()" name="driverFirstName"
												[(ngModel)]="model.driverFirstName" #driverFirstName="ngModel"
												[ngModelOptions]="{ standalone : true }" />
										</div>
										<div style="font-size: 10px;">
											Solo ingrese el nombre del conductor si usted era el pasajero y NO el
											conductor</div>
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="form-group">
										<div
											[ngClass]="{'signature-pad-group':model.signature=='', 'signature-pad-group remove':model.signature!=''}">
											<signature-pad [options]="signaturePadOptions" [(ngModel)]="model.signature"
											ngDefaultControl 
												[ngModelOptions]="{ standalone : true }"
												[ngClass]="{ 'is-invalid': f.submitted && model.signature=='' }"
												#signature="ngModel" (onEndEvent)="drawComplete()">
											</signature-pad>
										</div>
										<div *ngIf="f.submitted && model.signature==''" class="invalid-feedback">
											<div>se requiere firma</div>
										</div>
									</div>
									<a href="javascript:void(0)" (click)="clearSign();" style="background-color: gray;"
										class="btn btn-theme btn-sm">firma clara</a>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" style="float: left;"
							[disabled]="(firstName.invalid || model.signature =='')?true:false"
							[ngStyle]="{'background-color': ((!firstName.invalid) && (model.signature !='')) ? '#3b8beb' : '#bfbfbf'}"
							class="btn btn-theme btn-sm pull-left">Sign</button>
						<a href="javascript:void(0)" class="btn btn-border-gray btn-sm pull-right" data-dismiss="modal"
							#closeBtn (click)="signConfirm(false)">Close</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade modal-theme modal-small" id="signConfirmPopUp" data-backdrop="static" data-keyboard="false"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="fas fa-bell" aria-hidden="true" style="font-size:20px"></i></h5>
					<div class="close-dismiss"data-dismiss="modal" (click)="signConfirm(false)"></div>
				</div>
				<div class="modal-body">
					<p><strong>Al firmar, acepto tanto el derecho de retención técnico (imágenes) como el derecho de retención profesional (informe del radiólogo)</strong></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-border-gray btn-sm pull-right" data-dismiss="modal"
						(click)="signConfirm(false)">Cancel</button>
					<button type="button" class="btn btn-theme btn-sm pull-left" data-dismiss="modal"
						(click)="signConfirm(true)">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade modal-theme modal-small" id="SignDownloadModel" data-backdrop="static" data-keyboard="false"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						&nbsp;
					</h5>
					<div class="close-dismiss"(click)="onSuccessClose()" data-dismiss="modal"></div>
				</div>
				<form [formGroup]="emailSendForm" class="theme-form">
					<div class="modal-body">
						<div class="modal-body-inner">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="form-group">
										<strong>Hemos recibido su gravamen firmado</strong>
										<p>(Opcional a continuación)</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="form-group download-copy-section">
										<div class="theme-label">Descargar una copia &nbsp;<img
												src="assets/images/downloadicon.png" (click)="downloadSignFile()"
												class="animation-large download-copy-img" id="opensig" tabindex="-1"
												style="cursor: pointer;"></div>
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="form-group">
										<div class="theme-label">Enviar una copia por correo electrónico</div>
										<div class="input-group email-copy-btns esignrequests-email-copy-btns">
											<input type="text" formControlName="emailTxt" [ngClass]="{ 'is-invalid': submitted && refemailSendForm.emailTxt.errors }" class="form-control" />
											<button type="submit" [disabled]="(refemailSendForm.emailTxt.errors)?true:false" [ngStyle]="{'background-color':(refemailSendForm.emailTxt.errors) ? '#bfbfbf' :'#3b8beb'}" data-dismiss="modal" (click)="sendEmailbtn(true)" [attr.data-dismiss]="modelValue" class="btn btn-theme pull-left btn-sm">Enviar correo electrónico</button>
										</div>
										<div *ngIf="(submitted || refemailSendForm.emailTxt.touched) && refemailSendForm.emailTxt.errors" class="tooltiptext text-left">
											<small class="error text-danger" *ngIf="refemailSendForm.emailTxt.errors.required">Correo electronico (requerido)</small>
											<small class="error text-danger" *ngIf="refemailSendForm.emailTxt.errors.email || refemailSendForm.emailTxt.errors.pattern">El correo electrónico debe ser una dirección de correo electrónico válida</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm" data-dismiss="modal"
						(click)="onSuccessClose()"#closeDownloadModelBtn>
							Cerca</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-theme modal-small" id="ElecAgreePopUp" data-backdrop="static" data-keyboard="false"
	tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">CONSENTIMIENTO DE FIRMA ELECTRÓNICA</h5>
				<div class="close-dismiss" data-dismiss="modal"></div>
			</div>
			<form class="theme-form">
				<div class="modal-body">
					<div class="modal-body-inner text-center">
						<div [innerHtml]="elecAgree"></div>
					</div>
				</div>
				<div class="modal-footer text-center">
					<a href="javascript:void(0)" class="btn btn-border-gray btn-sm pull-right"
						data-dismiss="modal">Cerca</a>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade modal-theme modal-small" id="AlreadyExistsDriverNamePopUp" data-backdrop="static" data-keyboard="false"
	tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Alert</h5>
				<div class="close-dismiss" data-dismiss="modal"></div>
			</div>
			<form class="theme-form">
				<div class="modal-body">
					<div class="modal-body-inner text-center">
						Su abogado ya ingresó el nombre de un conductor, ¿está seguro de que desea anularlo y cambiarlo?
					</div>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-border-gray btn-sm pull-right" data-dismiss="modal"
					(click)="confirmDriverName(false)" >Cancelar</button>
				    <button type="button" class="btn btn-theme btn-sm pull-left" data-dismiss="modal"
					(click)="confirmDriverName(true)">Sí</button>					
				</div>
			</form>
		</div>
	</div>
</div>
<button #hiddenSignDownloadModel [hidden]="true" data-toggle="modal" data-target="#SignDownloadModel"></button>
<button #hiddenSignPopUp [hidden]="true" data-toggle="modal" data-target="#SignPopUp"></button>
<button #hiddenAlreadyExistsDriverNamePopUp [hidden]="true" data-toggle="modal" data-target="#AlreadyExistsDriverNamePopUp"></button>
</div>
<div class="esign-successful"  *ngIf="isSignSuccessflyyMessage">
	<img src="assets/images/award.png">
	<p>{{message}}</p>
</div>