<div class="tab-pane active" id="ordered-outbound-tab">	
    <div class="tab-section">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" [routerLink]="'generalsettings'" routerLinkActive="active">General Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" [routerLink]="'calltimingsettings'" routerLinkActive="active">Call Timing</a>
            </li>
        </ul>
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
        </div>  
      </div>    