<router-outlet></router-outlet>
<app-loader></app-loader>
<ng-container *ngIf="isValidToken">
    <app-task-management></app-task-management>
    <app-document-manager></app-document-manager>
    <app-create-alert></app-create-alert>
</ng-container>

<button #hiddenDocManager [hidden]="true" data-toggle="modal" data-target="#docManager"></button>

<div class="modal fade modal-theme modal-large" id="test" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Scanner</h5>
      </div>
      <div class="modal-body">Test</div>
    </div>
  </div>
</div>