<div class="tab-pane" id="ar-tab">
    <div class="tab-section">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" [routerLink]="'checkimageattachment'" routerLinkActive="active">Check Image Attachment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" [routerLink]="'newexportfile'" routerLinkActive="active">New Export File</a>
            </li>
        </ul>
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
        </div>  
  </div>    
