<div class="profile-page-body">
    <div class="container">
        <div class="theme-panel theme-panel-white">
            <div class="theme-panel-header">
                <div class="panel-title">Change your password</div>
            </div>													
            <div class="theme-panel-body">
                <form class="theme-form" [formGroup]="changePasswordForm">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <div class="theme-label">Current Password</div>
                                <div class="input-group icon-active">
                                    <input type="password" 
                                    class="form-control ng-untouched ng-pristine ng-invalid"
                                    [ngClass]="{'is-invalid': IsSubmitted && getFromControls.currentPassword.errors}"
                                    formControlName="currentPassword">
                                    <i class="pe-icon pe-7s-check text-green"></i>
                                </div>
                                <div *ngIf= "IsSubmitted && (getFromControls.currentPassword.errors || !clearFields)" class="tooltiptext text-right">                            
                                    <small class="error text-danger" *ngIf="getFromControls.currentPassword.errors.required">Current Password is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <div class="theme-label">New Password</div>
                                <div class="input-group icon-active">
                                    <input type="password" 
                                    class="form-control ng-dirty ng-untouched ng-pristine ng-invalid"
                                    [ngClass]="{'is-invalid': IsSubmitted && getFromControls.newPassword.errors}"
                                     formControlName="newPassword">
                                    <i class="pe-icon pe-7s-check text-green"></i>
                                    <div *ngIf= "IsSubmitted && getFromControls.newPassword.errors" class="tooltiptext text-right">
                                        <small *ngIf= "IsSubmitted && getFromControls.newPassword.errors.required" class="error text-danger">New Password is Required</small>
                                        <small *ngIf= "IsSubmitted && getFromControls.newPassword.errors.pattern" class="error text-danger">Invalid Password</small>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="error-messages">
                                <ng-container *ngFor="let error of error_messages.password">
                                    <div class="error-message" *ngIf="changePasswordForm.get('password').hasError(error.type) && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </div>
                            <div >
                                <p class="is-danger" *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">Password is Required!</p>
                                <p class="is-danger" *ngIf="changePasswordForm.get('password').hasError('minlength')">Must be at least 8 characters!</p>
                                <p class="is-danger" *ngIf="changePasswordForm.get('password').hasError('hasNumber')">Must contain at least 1 number!</p>
                                <p class="is-danger" *ngIf="changePasswordForm.get('password').hasError('hasCapitalCase')"> Must contain at least 1 in Capital Case!</p>
                                <p class="is-danger" *ngIf="changePasswordForm.get('password').hasError('hasSmallCase')">Must contain at least 1 Letter in Small Case!</p>
                                <p class="is-danger" *ngIf="changePasswordForm.get('password').hasError('hasSpecialCharacters')">Must contain at least 1 Special Character!</p>
                            </div> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <div class="theme-label">Confirm Password</div>
                                <div class="input-group icon-active">
                                    <input type="password" 
                                    class="form-control ng-untouched ng-pristine ng-invalid"
                                    [ngClass]="{'is-invalid': IsSubmitted && getFromControls.confirmPassword.errors}" 
                                    formControlName="confirmPassword">
                                    <i class="pe-icon pe-7s-check text-green"></i>
                                </div>
                                <div *ngIf= "IsSubmitted && getFromControls.confirmPassword.errors" class="tooltiptext text-right">
                                    <small  class="error text-danger" *ngIf= "IsSubmitted && getFromControls.confirmPassword.errors.required"> Confirm Password is Required</small>
                                    <small  class="error text-danger" *ngIf= "IsSubmitted && getFromControls.confirmPassword.errors.pattern">Invalid Password</small>
                                    <small  class="error text-danger" *ngIf= "IsSubmitted && getFromControls.confirmPassword.errors.mustMatch">Confirm Password must match with new password </small>
                                </div>
                            </div>
                            <!-- <div *ngIf="changePasswordForm.controls['confirmPassword'].errors.required && changePasswordForm.controls['confirmPassword'].touched">
                            <p class="is-danger">Password is Required!</p>
                            </div> -->
                                <!-- <p class="is-danger" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch') && changePasswordForm.controls['confirmPassword'].touched">Password not match!</p> -->
                                <!-- <div class="error-messages">
                                    <ng-container *ngFor="let error of error_messages.confirmPassword">
                                        <div class="error-message" *ngIf="changePasswordForm.get('confirmPassword').hasError(error.type) && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)">
                                            {{ error.message }}
                                        </div>
                                    </ng-container>
                                      <div *ngIf="changePasswordForm.controls['confirmPassword'].errors.required && changePasswordForm.controls['confirmPassword'].touched">
                                        <p class="is-danger" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch') && changePasswordForm.controls['confirmPassword'].touched">Password not match!</p>
                                      </div>
                                      <p class="is-danger" *ngIf="changePasswordForm.get('confirmPassword').hasError('NoPassswordMatch')">Password not match!</p>
                                </div> -->
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert">
                        Password must contain: Minimum 8 characters, one lowercase, one capital and one numeric character
                    </div>
                    <div class="theme-panel-footer">
                        <button type="submit" class="btn btn-theme" (click)="onSubmit()" >Update</button>
                        <a href="javascript:void(0)" class="btn btn-border" (click)="clearFields()">Cancel</a>
                    </div>
                </form>
            </div>							
        </div>
    </div>			
</div>
<!-- {{ changePasswordForm.valid | json }}
{{ changePasswordForm.errors | json }}
{{changePasswordForm.controls['password'].hasError('required') | json}}
{{changePasswordForm.controls['confirmPassword'].hasError('required') | json}}
{{changePasswordForm.controls['confirmPassword'].errors.required | json}}
{{changePasswordForm.controls['confirmPassword'].errors.NoPassswordMatch | json}}
{{changePasswordForm.controls['confirmPassword'].errors | json}}
{{changePasswordForm.controls['confirmPassword'].valid | json}} -->

