.is-border-danger {
    border: solid 1px red !important;
  }
  
  .is-danger{
      color:red;
  }
  .error-message {
    color: red;
  }
  input.ng-touched.ng-invalid {
    border: 1px solid red;
  }