<div class="tab-pane" id="brokers-tab">
    <div class="page-top-action">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <a href="javascript:void(0)" (click)="add()" class="btn btn-theme btn-sm pull-left" data-toggle="modal" data-target="#add-brokers-record"><i class="fa fa-plus"></i> Add New Record</a>
                <div class="precisemri-search page-select">
                    <div class="theme-label">Page Size</div>
                        <select class="form-search" (change)= "onPageSizeChange($event.target.value)">
                            <option *ngFor = "let item of pageSizeArray" [selected]= "item.IsSelected == true"  value={{item.value}}>{{item.value}}</option>
                        </select>
                </div>
                <a href="javascript:void(0)" (click)="getAllPaymentBasedBrokerTypes()" class="right btn btn-theme"><i class="fa fa-repeat"></i> Refresh</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <dx-data-grid
            id="gridContainer"
            [dataSource]="paymentBasedBrokerList"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [allowColumnReordering]="true"
            [columnResizingMode]="columnResizingMode"
            [columnMinWidth]="30"
            keyExpr="Id"  
            [showBorders]="true">

            <dxo-sorting mode="multiple"></dxo-sorting>
            <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
            <!-- <dxo-header-filter [visible]="showHeaderFilter" ></dxo-header-filter> -->
				<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            
            <dxi-column dataField="Id" [width]="100" caption="Action"  [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate" [visible]="true"></dxi-column>
            <dxi-column dataField="Broker" caption="Funding Company"></dxi-column>
            <dxi-column dataField="PaymentType" caption="Payment Type"></dxi-column>
            <dxi-column dataField="PaymentBank" caption="Payment Bank"></dxi-column>
            <dxi-column dataField="Payee" caption="Payee"></dxi-column>
            <dxi-column dataField="QBAccount" caption="QB Account"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
                <a href="javascript:void(0)" (click)="edit(data.data.Id)" class="single-action fa fa-pencil-square-o" data-toggle="modal" data-target="#edit-brokers-record"></a>
                <a href="javascript:void(0)" (click)="delete(data.data.Id)" class="single-action fa fa-trash" data-toggle="modal" data-target="#delete-record"></a>
            </div>
        </dx-data-grid>       
    </div>
    <div>
        <div *ngFor="let item of paymentBasedBrokerList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }"></div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>

<div class="modal fade modal-theme modal-small" id="add-brokers-record" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <form [formGroup]="addForm" class="theme-form">
				<div class="modal-body">
					<div class="modal-body-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="theme-label">Funding Company</div>
                                    <div class="input-group">
                                        <select formControlName="brokerId" class="form-control">
                                            <option value=null disabled>Select Funding Company</option>
                                            <option *ngFor="let item of brokerList" value={{item.BrokerId}}>
                                                {{item.Broker}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted && aForm.brokerId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="aForm.brokerId.invalid">Funding company is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">PAYMENT TYPE</div>
                                    <div class="input-group">
                                        <select formControlName="paymentTypeId" class="form-control">
                                            <option value=null disabled>Select Payment Type</option>
                                            <option *ngFor="let item of paymentTypeList" value={{item.PaymentTypeId}}>
                                                {{item.PaymentType}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted && aForm.paymentTypeId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="aForm.paymentTypeId.invalid">Payment type is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">PAYMENT BANK</div>
                                    <div class="input-group">
                                        <select formControlName="paymentBankId" class="form-control">
                                            <option value=null disabled>Select Payment Bank</option>
                                            <option *ngFor="let item of paymentBankList" value={{item.PaymentBankId}}>
                                                {{item.PaymentBank}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted && aForm.paymentBankId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="aForm.paymentBankId.invalid">Payment bank is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">PAYEE</div>
                                    <div class="input-group">
                                        <select formControlName="payeeId" class="form-control">
                                            <option value=null disabled>Select Payee</option>
                                            <option *ngFor="let item of payeeList" value={{item.PayeeId}}>
                                                {{item.Payee}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted && aForm.payeeId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="aForm.payeeId.invalid">Payee is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">QB ACCOUNT</div>
                                    <div class="input-group">
                                        <select formControlName="qbAccountId" class="form-control">
                                            <option value=null disabled>Select QB Account</option>
                                            <option *ngFor="let item of qbAccountList" value={{item.QBAccountId}}>
                                                {{item.QBAccount}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted && aForm.qbAccountId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="aForm.qbAccountId.invalid">QB Account is required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"  data-dismiss="modal">Cancel</a>
					<button type="submit" (click)="onInsertSubmit()" [attr.data-dismiss]="modelValue" class="btn btn-theme pull-left btn-sm">Insert</button>
				</div>
			</form>
        </div>
    </div>
</div>

<div class="modal fade modal-theme modal-small" id="edit-brokers-record" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <form [formGroup]="editForm" class="theme-form">
				<div class="modal-body">
					<div class="modal-body-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="theme-label">Funding Company</div>
                                    <div class="input-group">
                                        <select formControlName="brokerId" class="form-control">
                                            <option value=null disabled>Select Funding Company</option>
                                            <option *ngFor="let item of brokerList" value={{item.BrokerId}}>
                                                {{item.Broker}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted1 && eForm.brokerId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="eForm.brokerId.invalid">Funding Company is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">PAYMENT TYPE</div>
                                    <div class="input-group">
                                        <select formControlName="paymentTypeId" class="form-control">
                                            <option value=null disabled>Select Payment Type</option>
                                            <option *ngFor="let item of paymentTypeList" value={{item.PaymentTypeId}}>
                                                {{item.PaymentType}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted1 && eForm.paymentTypeId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="eForm.paymentTypeId.invalid">Payment type is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">PAYMENT BANK</div>
                                    <div class="input-group">
                                        <select formControlName="paymentBankId" class="form-control">
                                            <option value=null disabled>Select Payment Bank</option>
                                            <option *ngFor="let item of paymentBankList" value={{item.PaymentBankId}}>
                                                {{item.PaymentBank}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted1 && eForm.paymentBankId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="eForm.paymentBankId.invalid">Payment bank is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">PAYEE</div>
                                    <div class="input-group">
                                        <select formControlName="payeeId" class="form-control">
                                            <option value=null disabled>Select Payee</option>
                                            <option *ngFor="let item of payeeList" value={{item.PayeeId}}>
                                                {{item.Payee}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted1 && eForm.payeeId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="eForm.payeeId.invalid">Payee is required</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="theme-label">QB ACCOUNT</div>
                                    <div class="input-group">
                                        <select formControlName="qbAccountId" class="form-control">
                                            <option value=null disabled>Select QB Account</option>
                                            <option *ngFor="let item of qbAccountList" value={{item.QBAccountId}}>
                                                {{item.QBAccount}}
                                            </option>                                              
                                        </select>
                                    </div>
                                    <div *ngIf="submitted1 && eForm.qbAccountId" class="tooltiptext text-right">                            
                                        <small class="error text-danger" *ngIf="eForm.qbAccountId.invalid">QB Account is required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"  data-dismiss="modal">Cancel</a>
					<button type="submit" (click)="onUpdateSubmit()" [attr.data-dismiss]="modelValue1" class="btn btn-theme btn-sm pull-left">Save Changes</button>
				</div>
			</form>
        </div>
    </div>
</div>

<div class="modal fade modal-theme modal-small" id="delete-record" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Record?</p>
            </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"  data-dismiss="modal">Cancel</a>
                    <a (click)="deletePaymentBasedBrokerType()" href="javascript:void(0)" class="btn btn-theme pull-left btn-sm" data-dismiss="modal">Ok</a>
                </div>
        </div>
    </div>
</div>