<div class="inner-tab-content">
    <div class="tableDataSection">
        <div class="row">
            <div class="col-md-6 pt-2">
                <label *ngIf="dataSource.length > 0">
                    <input type="checkbox" [(ngModel)]="isSelectedAll" (change)="onSelectAll($event.target.checked)">
                    Select All
                </label>
            </div>
            <div class="col-md-6">
                <p class="headerBtnSection">
                    <a class="btn btn-common btn-assignAR btn-blue"
                        [ngClass]="selectedData.length > 0 && permission && (permission.IsAdd | lowercase) == 'true' ? 'btn-primary':'btn-grey disabled'" data-toggle="modal"
                        data-target="#SignatureModal" (click)="clearModalPopup()">
                        Sign & Execute Selected Assigned AR </a>
                </p>
            </div>
        </div>
        <div class="tab-pane pendingsignature-section" id="PendingSignature">
            <div class="table-responsive">
                <dx-data-grid #grid id="gridContainerassignUnpaidList" class="radflowGrid radflowGrid_plusMinus" [dataSource]="dataSource"
                    [showBorders]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    (onSelectionChanged)="onSelectCheckbox($event)" [showColumnHeaders]="false">
                    <dxo-paging [pageSize]="pageSize" [pageIndex]="pageNumber"></dxo-paging>
                    <dxo-pager [visible]="false"></dxo-pager>
                    <dxo-sorting mode="none"></dxo-sorting>
                    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple">
                    </dxo-selection>
                    <!-- <dxi-column dataField="batchName" caption="Batchname" alignment="center" class="batchname">
                    </dxi-column> -->
                    <dxi-column cellTemplate="BatchTemplate">
                      <div class="clsBatchBox" *dxTemplate="let data of 'BatchTemplate'">
                      <span>{{data.data.radiologistName}}</span>
                      <span>{{data.data.transactionNumber}}</span>
                      <span >
                        {{data.data.studyCounts }} <span *ngIf="data.data.studyCounts > 1;else oneStudy">Studies</span>
                        <ng-template #oneStudy>
                           <span>Study</span>
                        </ng-template>
                      </span>
                      <span>{{data.data.totalAmount | currency:'USD':'symbol-narrow'}}</span>
                     </div>
                    </dxi-column>

                    <dxi-column dataField="fileName" caption="PDFIcon" cellTemplate="PDFIconTemplate"></dxi-column>
                    <div *dxTemplate="let data of 'PDFIconTemplate'">
                        <a class="PDFIcon" (click)="downloadPDF(data.data)"><i class="fa fa-file-pdf-o PDFIcon"></i></a>
                    </div>
                    <dxo-master-detail [enabled]="true" template="batchDetail"></dxo-master-detail>
                    <div class="innerTable" *dxTemplate="let detail of 'batchDetail'">
                        <dx-data-grid [dataSource]="detail.data.batchWiseData" class="innerList"
                            [columnAutoWidth]="true" [showBorders]="true" [repaintChangesOnly]="true"
                            [allowColumnResizing]="true">
                            <dxo-scrolling columnRenderingMode="virtual"> </dxo-scrolling>
                            <dxo-scrolling [useNative]="true"></dxo-scrolling>

                            <dxi-column  [width]="4+'%'" [allowFiltering]="false" [allowSorting]="false"
                                cellTemplate="readingIconTemplate">
                            </dxi-column>
                            <dxi-column dataField="rad" [width]="10+'%'" caption="RADIOLOGIST"> </dxi-column>
                            <dxi-column dataField="dateRead" [width]="7+'%'" caption="Date Read"></dxi-column>
                            <dxi-column dataField="arAssignedDate" [width]="7+'%'" caption="Date AR Assigned"></dxi-column>
                            <dxi-column dataField="patientId" [width]="8+'%'" caption="Patient ID"></dxi-column>
                            <dxi-column dataField="lastName" [width]="10+'%'" caption="Last Name"></dxi-column>
                            <dxi-column dataField="firstName" [width]="10+'%'" caption="First Name"></dxi-column>
                            <dxi-column dataField="dateOfBirth" [width]="7+'%'" caption="DOB"></dxi-column>
                            <dxi-column dataField="study" [width]="10+'%'" caption="Study"></dxi-column>
                            <dxi-column dataField="accession" [width]="7+'%'" caption="Accession"></dxi-column>
                            <dxi-column dataField="cptGroup" [width]="10+'%'" caption="CPT Group"></dxi-column>
                            <dxi-column cellTemplate="ARPriceTemplate" [width]="10+'%'" caption="AR Price">
                              <div *dxTemplate="let data of 'ARPriceTemplate'">
                                {{data.data.arPrice | currency:'USD':'symbol-narrow'}}
                              </div>
                            </dxi-column>
                            <!-- <dxi-column dataField="arPrice" caption="AR Price"></dxi-column> -->
                            <div *dxTemplate="let data of 'readingIconTemplate'">
                                <a href="javascript:void(0)" class="single-action fa fa-file-text-o" data-toggle="modal"
                                    data-target="#docManager" (click)="showDocManager(data.data.patientId)"></a>
                            </div>
                        </dx-data-grid>
                    </div>
                </dx-data-grid>
            </div>
            <div class="pagination-theme" *ngIf="this.totalRecord>0">
                <div class="pagination-theme">
                    <div
                        *ngFor="let item of dataSource | paginate: { id: 'pagination1' , itemsPerPage: pageSize, currentPage: currentPageNumber, totalItems:totalRecord}">
                    </div>
                    <pagination-controls id="pagination1" (pageChange)="onPageNumberChange($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------signature modal start--------------------------->

<div class="modal fade modal-theme in modal-small LienFundingCoSignature" data-backdrop="static" data-keyboard="false"
    id="SignatureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <form class="modal-dialog modal-dialog-centered" (submit)="onSubmitSignature()" [formGroup]="signatureForm"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SIGN & EXECUTE SELECTED ASSIGNED AR</h5>
                <div class="close-dismiss" (click)="clearSignatureForm()" data-dismiss="modal" #modal_close></div>
            </div>
            <div class="modal-body">
                <div class="modal-content">

                    <p class="innerTitle unsetTranTitle">Sign & Execute the AR Assignment Agreement </p>
                    <div class="ar-assignment-form">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="firstName"
                                            placeholder="First Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="lastName"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="signature-custom">
                                        <signature-pad [options]="signaturePadOptions" name="signature" ngDefaultControl
                                            formControlName="fundingCompanySign" (onEndEvent)="signatureCompleted()">
                                        </signature-pad>
                                    </div>
                                    <div class="signatureBtn">
                                        <a href="javascript:void(0)" (click)="clearSign();"
                                            class="btn btnsignature btn-clear">Clear Signature</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-left btn-sm" (click)="clearSignatureForm()"
                    data-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-theme pull-right btn-sm"
                    [ngClass]="signatureForm.valid ? 'btn-primary':'btn-grey disabled'" id="btnUpdate">Sign & Execute
                    Assignment</button>
            </div>
        </div>
    </form>
</div>

<!--------------------end-------------------------->
