<section class="content-sec">
  <div class="examquestion-section">
    <h1 class="title">{{'EXAM_QUESTIONS_FOR_US.TITLE' | translate}} (US)</h1>
    <form
      [formGroup]="examQuestionUsForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
    >
      <div class="questionSec">
        <div class="questionContent">
          <h4>
            {{'EXAM_QUESTIONS_FOR_US.ANY_ALLERGIES' | translate}}?
          </h4>
        </div>
        <div class="answerContent formControl requiedInfo correctInfo">
          <div class="tab-section float-right">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': this.examQuestionForUS && this.examQuestionForUS.usAllergy === 'Yes'}" (click)="CheckYesOrNo('Yes','usAllergy')" data-toggle="tab">Yes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': this.examQuestionForUS && this.examQuestionForUS.usAllergy === 'No'}" (click)="CheckYesOrNo('No','usAllergy')" data-toggle="tab">No</a>
              </li>
            </ul>
          </div>
          <i class="fa fa-check-circle-o" *ngIf="showCorrect"></i>
        </div>
      </div>

      <div class="questionSec" *ngIf="showCorrect && this.examQuestionForUS.usAllergy === 'Yes'">
        <div class="answerContent formControl requiedInfo correctInfo">
          <textarea
            rows="5"
            formControlName="usAllergyDescription"
            placeholder="Allergies Description?"
            class="mriexam"
          ></textarea>
          <i class="fa fa-check-circle-o"  *ngIf="examQuestionUsForm.controls['usAllergyDescription'].value.length > 0 ||(examQuestionUsForm.controls['usAllergyDescription'].value.length > 0 && examQuestionUsForm.controls.usAllergyDescription.dirty)"></i>
        </div>
      </div>

      <div class="buttonSection">
        <button type="submit"  [disabled]="!examQuestionUsForm.valid" [ngClass]="!examQuestionUsForm.valid ? 'btnSubmit' : 'btn-common' ">{{'EXAM_QUESTIONS_FOR_US.SUBMIT_BUTTON' | translate}}</button>
        <button type="button" (click)="goBack()" class="btn-common btnBack">{{'EXAM_QUESTIONS_FOR_US.GO_BACK_BUTTON' | translate}}</button>
      </div>
    </form>
  </div>
</section>
