<div class="tab-pane" id="no-show-sms-tab">
    <div class="theme-form-center">
        <form class="theme-form" [formGroup]="noShowSmsFormSetting" (ngSubmit)="onSubmit()">
            <div class="theme-panel-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="checkbox-theme">
                            <input class="form-control" id="active12" type="checkbox" formControlName="isActive">
                            <label for="active12" class="arrow-label">Active</label>
                        </div>
                        <div class="form-group autocomplete">
                            <div class="theme-label">Radius Status</div>
                            <div>
                               
                                      <ng-select 
                                            [items]="statusList" 
                                            placeholder="Select" 
                                            formControlName="radiusStatus" 
                                            bindLabel="status" 
                                            [multiple]="true" id="id82" (add)="a1=ValidateMultiSelectTextLength('id82',a1)"
                                            [closeOnSelect]="false"
                                            bindValue="status" 
                                            [(ngModel)]="selectedStatusList"
                                            >  
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <div class="ng-value" *ngFor="let item of items | slice:0:a1">
                                                    <span class="ng-value-label"> {{item.status}}</span>
                                                    <span class="ng-value-icon right" (click)="clear(item)"
                                                        aria-hidden="true">×</span>
                                                </div>
                                                <div class="ng-value" *ngIf="items.length > a1">
                                                    <span class="ng-value-label">{{items.length - a1}} more...</span>
                                                </div>
                                            </ng-template>                                           
                                        </ng-select>
                           
                            </div>
                        </div>
                   
                        <div class="form-group autocomplete">
                            <div class="theme-label">No Show Status</div>
                               <div>
                                <ng-select 
                                [items]="noShowAppointmentStatusList" 
                                placeholder="Select Appointment Status" 
                                formControlName="noShowStatus" 
                                bindLabel="appointmentName" 
                                [multiple]="true" id="id83" (add)="a2=ValidateMultiSelectTextLength('id83',a2)"
                                [closeOnSelect]="false"
                                bindValue="appointmentName" 
                                [(ngModel)]="selectedNoShowStatusList"
                                >              
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:a2">
                                        <span class="ng-value-label"> {{item.appointmentName}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > a2">
                                        <span class="ng-value-label">{{items.length - a2}} more...</span>
                                    </div>
                                </ng-template>                               
                            </ng-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="theme-label">Cut of Date</div>
                            <div class="input-group icon-active">
                                <!-- <input type="date"  class="form-control" id="cut-of-date7" formControlName="noShowSmsCutOff"> -->
                                <dx-date-box
                                    [displayFormat]="dateTimeFormatCustom.Date"
                                    formControlName="noShowSmsCutOff"
                                    type="date"
                                    [showClearButton]="true"
                                    [useMaskBehavior]="true"></dx-date-box>
                                                               
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="theme-label">Run Service At</div>
                            <div class="input-group icon-active">
                                <input type="time" class="form-control" id="timepicker15" formControlName="runServiceTime">
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
            <div class="theme-panel-footer">
                <button type="submit" class="btn btn-theme">Update</button>

            </div>
        </form>									
    </div>
</div>