<div class="tab-pane" id="broker-bill">
    <div class="page-top-action">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="precisemri-search page-select">
                    <div class="theme-label">Page Size</div>
                        <select class="form-search" (change)= "onPageSizeChange($event.target.value)">
                            <option *ngFor = "let item of pageSizeArray" [selected]= "item.IsSelected == true"  value={{item.value}}>{{item.value}}</option>
                        </select>
                </div>
                <a href="javascript:void(0)" (click)="getBrokerBill()" class="right btn btn-theme"><i class="fa fa-repeat"></i> Refresh</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <dx-data-grid
        id="gridContainer"
        [dataSource]="billList"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [allowColumnReordering]="true"
        [columnResizingMode]="columnResizingMode"
        [columnMinWidth]="30"
        keyExpr="PatientId"  
        [showBorders]="true">
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
        <!-- <dxo-header-filter [visible]="showHeaderFilter" ></dxo-header-filter> -->
				<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        
        <dxi-column dataField="PatientId" caption="Patient Id"></dxi-column>
        <dxi-column dataField="InternalStudyId" caption="Internal Study Id"></dxi-column>
        <dxi-column dataField="STUDYDATETIME" caption="STUDY DATE TIME" cellTemplate="dateTemplate1"></dxi-column>
        <dxi-column dataField="GIVENNAME" caption="GIVEN NAME"></dxi-column>
        <dxi-column dataField="FAMILYNAME" caption="FAMILY NAME"></dxi-column>
        <dxi-column dataField="BIRTHDATE" caption="BIRTH DATE" cellTemplate="dateTemplate2"></dxi-column>
        <dxi-column dataField="BROKER" caption="Funding Company"></dxi-column>
        <dxi-column dataField="INJURYDATE" caption="DOI"></dxi-column>
        <dxi-column dataField="ISREFERRALSERVICE" caption="REFERRAL SERVICE" cellTemplate="ISREFERRALSERVICE"></dxi-column>
        <dxi-column dataField="OVERRIDEADDRESSFORBILLING" caption="OVERRIDE" cellTemplate="OVERRIDEADDRESSFORBILLING"></dxi-column>
        <dxi-column dataField="ISADDENDUM" caption="ISADDENDUM" cellTemplate="ISADDENDUM"></dxi-column>

        <div *dxTemplate="let data of 'ISREFERRALSERVICE'"> {{data.value ? "Yes":"No"}} </div>
        <div *dxTemplate="let data of 'OVERRIDEADDRESSFORBILLING'"> {{data.value ? "Yes":"No"}} </div>
        <div *dxTemplate="let data of 'ISADDENDUM'"> {{data.value ? "Yes":"No"}} </div>
        <div *dxTemplate="let data of 'dateTemplate1'">
            {{data.value | date: 'MM/dd/yyyy h:mm:ss a'}}
        </div>	
        <div *dxTemplate="let data of 'dateTemplate2'">
            {{data.value | date: 'MM/dd/yyyy'}}
        </div>	
    </dx-data-grid>
    </div>
    <div>
        <div>
            <div *ngFor="let item of billList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }"></div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>