<div class="inner-tab-content">
    <div class="tableDataSection">
        <p class="headerBtnSection">
            <a class="btn btn-common btn-retainedAR"
                [ngClass]="(checkboxSelectedData.length > 0 && permissionForAssignAR && permissionForAssignAR.IsAdd == 'true') ? 'btn-primary':'btn-grey disabled'" data-toggle="modal"
                data-target="#AssignARFundingModal" (click)="clearModalPopup()">Assign ar to funding CO</a>
            <a class="btn btn-common btn-assignAR"
                [ngClass]="(checkboxSelectedData.length > 0 && permissionForReceivePayment && permissionForReceivePayment.IsAdd == 'true') ? 'btn-primary':'btn-grey disabled'" data-toggle="modal"
                data-target="#ReceivePaymentModal" (click)="clearModalPopup()">Receive payment for selected studies</a>
        </p>
        <div class="tab-pane retainedUnpaid-section" id="RetainedARUnpaid">
            <div class="table-responsive">
                <dx-data-grid #grid id="gridContainerassignUnpaidList" class="radflowGrid radflowGrid_plusMinus" [dataSource]="retainARUnpaid"
                    [showBorders]="false" [allowColumnResizing]="true" [columnAutoWidth]="true"
                    [showColumnHeaders]="false" (onSelectionChanged)="changeCheckbox($event)">
                    <dxo-scrolling columnRenderingMode="virtual"> </dxo-scrolling>
                    <dxo-load-panel [enabled]="true"> </dxo-load-panel>
                    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple">
                    </dxo-selection>
                    <dxo-sorting mode="none"></dxo-sorting>
                    <dxo-paging [pageSize]="pageSize" [pageIndex]="pageNumber"></dxo-paging>
                    <dxo-pager [visible]="false"></dxo-pager>
                    <dxi-column cellTemplate="BatchTemplate">
                      <div class="clsBatchBox" *dxTemplate="let data of 'BatchTemplate'">
                      {{data.data.batchName}}
                      <span class="studyCount">
                        {{data.data.studyCounts }} <span *ngIf="data.data.studyCounts > 1;else oneStudy">Studies</span>
                        <ng-template #oneStudy>
                           <span>Study</span>
                        </ng-template>
                      </span>
                     </div>
                    </dxi-column>

                    <dxo-master-detail [enabled]="true" template="batchDetail"></dxo-master-detail>
                    <div class="innerTable" *dxTemplate="let detail of 'batchDetail'">

                        <dx-data-grid [dataSource]="detail.data.retainedArUnPaidList" class="innerList"
                            [columnAutoWidth]="true" [showBorders]="true" [allowColumnResizing]="true">
                            <dxo-sorting mode="none"></dxo-sorting>
                            <dxo-scrolling columnRenderingMode="virtual"> </dxo-scrolling>
                            <dxo-load-panel [enabled]="true"> </dxo-load-panel>
                            <dxi-column dataField="accessionNumber" cellTemplate="checkboxTemplate" caption="">
                            </dxi-column>
                            <dxi-column dataField="rad" caption="RAD"> </dxi-column>
                            <dxi-column dataField="dateRead" caption="Date Read"></dxi-column>
                            <dxi-column dataField="dateArRetained" caption="AR Retained"></dxi-column>
                            <!-- <dxi-column dataField="fundingco" caption="Funding CO"></dxi-column> -->
                            <dxi-column dataField="patientId" caption="Patient ID"></dxi-column>
                            <dxi-column dataField="lastName" caption="Last Name"></dxi-column>
                            <dxi-column dataField="firstName" caption="First Name"></dxi-column>
                            <dxi-column dataField="dateOfBirth" caption="DOB"></dxi-column>
                            <dxi-column dataField="studyDescription" caption="Study"></dxi-column>
                            <dxi-column dataField="accessionNumber" caption="Access#"></dxi-column>
                            <dxi-column dataField="cptGroup"></dxi-column>
                            <div *dxTemplate="let data of 'checkboxTemplate'">
                                <!-- <dx-check-box name="{{detail.data.batchName}}" id="{{detail.data.batchName}}" [disabled]="inDisplay"></dx-check-box> -->
                                <ng-container>
                                    <input type="checkbox" name="{{detail.data.batchName}}"
                                        id="{{detail.data.batchName}}" [readOnly]="true" onclick="return false">
                                </ng-container>
                            </div>
                            <!-- <dxi-column dataField="billamount" caption="billamount"></dxi-column> -->
                        </dx-data-grid>
                    </div>
                </dx-data-grid>
                <div class="pagination-theme" *ngIf="totalRecord > 0">
                    <div
                        *ngFor="let item of retainARUnpaid | paginate: { id:'paginate1000001', itemsPerPage: pageSize, currentPage: currentPageNumber, totalItems:totalRecord }">
                    </div>
                    <pagination-controls id="paginate1000001" (pageChange)="onPageNumberChange($event)">
                    </pagination-controls>
                </div>
            </div>

        </div>
    </div>
</div>



<!---------------------signature modal start--------------------------->

<div class="modal fade modal-theme in modal-small" data-backdrop="static" data-keyboard="false" id="AssignARFundingModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Selected Accounts Receivables To The Following Funding Company</h5>
                <div class="close-dismiss" data-dismiss="modal" #closeBtn></div>
            </div>
            <form [formGroup]="assignARform">
                <div class="modal-body">
                    <div class="modal-content">
                        <p class="stepText lower-text-data"> 1. Assign a funding company</p>
                        <div class="form-group">
                            <select class="form-control" formControlName="fundingCompany">
                                <option value="">Select</option>
                                <option *ngFor="let item of fundingCompanies" [value]="item.fundingCompanyId">
                                    {{item.fundingCompanyName}}</option>
                            </select>
                        </div>
                        <p class="stepText lower-text-data"> 2. Sign & generate an AR assignments to the selected funding company</p>
                        <div class="ar-assignment-form">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" formControlName="firstName"
                                                placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" formControlName="lastName"
                                                placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="signature-custom">
                                            <signature-pad [options]="signaturePadOptions" name="signature"
                                                ngDefaultControl formControlName="radiologistSign"
                                                [ngModelOptions]="{ standalone : true }" (onEndEvent)="drawComplete()">
                                            </signature-pad>
                                        </div>
                                        <div class="signatureBtn">
                                            <a href="javascript:void(0)" (click)="clearSign();"
                                                class="btn btnsignature btn-clear">Clear Signature</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="note">
                      <a href="javascript:void(0)" class="btn btnsignature btn-preview" (click)="previewAssignment()">Preview Assignment </a>
                      Note:  <span>Once assigned,  the selected funding company will e-sign the assignment</span></p>
                </div>
            </form>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-left btn-sm"
                    data-dismiss="modal">Cancel</a>
                <button type="button" [ngClass]="!assignARform.valid ? 'btn-grey disabled' : 'btn-primary'"
                    (click)="onAssignAR()" class="btn btn-theme pull-right btn-sm" id="btnUpdate">Assign AR</button>
            </div>
        </div>
    </div>
</div>

<!--------------------end-------------------------->

<!---------------------Receive payment for selected studies modal start--------------------------->

<div class="modal fade modal-theme in modal-small" data-backdrop="static" data-keyboard="false" id="ReceivePaymentModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <form [formGroup]="receivePaymentform">
                <div class="modal-header">
                    <h5 class="modal-title">Payment Confirmation</h5>
                    <div class="close-dismiss" data-dismiss="modal" #closePaymentBtn></div>
                </div>
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="check-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="theme-label">Check $</div>
                                    <input type="text" (input)="getInputData($event)" mask="separator.2" thousandSeparator="" separatorLimit="99999999999999" class="form-control" formControlName="checkAmount" placeholder="Check Amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="theme-label">Check Date </div>
                                    <dx-date-box class="form-control" [displayFormat]="'MM/dd/yyyy'" formControlName="checkDate" type="date"
                                    [showClearButton]="true" [useMaskBehavior]="true" [value]="defaultCheckDate">
                                </dx-date-box>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="theme-label">Check #</div>
                                    <input type="text" class="form-control" formControlName="checkNo" maxlength="15" mask="000000000000000" placeholder="Check No">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-border-gray pull-left btn-sm"
                        data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-theme pull-right btn-sm" [ngClass]="!receivePaymentform.valid ? 'btn-grey disabled' : 'btn-primary'" id="btnUpdate" (click)="onMarkAsPaid()">Mark As Paid</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--------------------end-------------------------->
