<div class="tab-pane" id="ordered-review-tab">	
    <div class="theme-form-center">
        <form [formGroup]="orderReviewForm" (ngSubmit)="onSubmit()" class="theme-form">
            <div class="theme-panel-body">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
						<div class="user-detail">
							<div class="row">
								<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
									<div class="checkbox-theme">
										<input class="form-control" formControlName="orderedReviewIsActive"  id="active21" type="checkbox">
										<label for="active21" class="arrow-label">Active</label>
									</div>
									<div class="form-group autocomplete">
										<div class="theme-label">Financial  Type</div>
										<div class="input-group">
											<ng-select 
												[items]="financialTypesList" 
												placeholder="Select"                                             
												formControlName="orderedReviewFinancialType" 
												bindLabel="financialtypename" 
												[multiple]="true" id="id91" (add)="a1=ValidateMultiSelectTextLength('id91',a1)"
												[closeOnSelect]="false"
												bindValue="financialtypename" 
												[(ngModel)]="selectedFinancialList"
												[ngClass]="{ 'is-invalid': (submitted && orForm.orderedReviewFinancialType.errors)}"
												(change)="onChange($event)">   
												<ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
													<div class="ng-value" *ngFor="let item of items | slice:0:a1">
														<span class="ng-value-label"> {{item.financialtypename}}</span>
														<span class="ng-value-icon right" (click)="clear(item)"
															aria-hidden="true">×</span>
													</div>
													<div class="ng-value" *ngIf="items.length > a1">
														<span class="ng-value-label">{{items.length - a1}} more...</span>
													</div>
												</ng-template>                                          
											</ng-select>
										</div>
										<div *ngIf="submitted && orForm.orderedReviewFinancialType.errors" class="tooltiptext text-right">
											<small class="error text-danger" *ngIf="orForm.orderedReviewFinancialType.errors.required">
												Required
											</small>
										</div>
									</div>
									<div class="form-group autocomplete">
										<div class="theme-label">Status</div>
										<div class="input-group">
											<ng-select 
												[items]="statusNamesList" 
												placeholder="Select"                                         
												formControlName="orderedReviewStatus" 
												bindLabel="status" 
												[multiple]="true" id="id92" (add)="a2=ValidateMultiSelectTextLength('id92',a2)"
												[closeOnSelect]="false"
												bindValue="status" 
												[(ngModel)]="selectedStatusList"
												[ngClass]="{ 'is-invalid': (submitted && orForm.orderedReviewStatus.errors)}"
												(change)="onChange($event)">     
												<ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
													<div class="ng-value" *ngFor="let item of items | slice:0:a2">
														<span class="ng-value-label"> {{item.status}}</span>
														<span class="ng-value-icon right" (click)="clear(item)"
															aria-hidden="true">×</span>
													</div>
													<div class="ng-value" *ngIf="items.length > a2">
														<span class="ng-value-label">{{items.length - a2}} more...</span>
													</div>
												</ng-template>                                
											</ng-select>
										</div>
										<div *ngIf="submitted && orForm.orderedReviewStatus.errors" class="tooltiptext text-right">
											<small class="error text-danger" *ngIf="orForm.orderedReviewStatus.errors.required">
												Required
											</small>
										</div>
									</div>
									<div class="form-group autocomplete">
										<div class="theme-label">Only show orders enter by</div>
										<div class="input-group">
											<ng-select 
												[items]="usersList" 
												placeholder="Select"                                            
												formControlName="orderedReviewUserList" 
												bindLabel="userName" 
												[multiple]="true" id="id93" (add)="a3=ValidateMultiSelectTextLength('id93',a3)"
												[closeOnSelect]="false"
												bindValue="userName" 
												[(ngModel)]="selectedUserList"
												[ngClass]="{ 'is-invalid': (submitted && orForm.orderedReviewUserList.errors)}"
												(change)="onChange($event)">          
												<ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
													<div class="ng-value" *ngFor="let item of items | slice:0:a3">
														<span class="ng-value-label"> {{item.userName}}</span>
														<span class="ng-value-icon right" (click)="clear(item)"
															aria-hidden="true">×</span>
													</div>
													<div class="ng-value" *ngIf="items.length > a3">
														<span class="ng-value-label">{{items.length - a3}} more...</span>
													</div>
												</ng-template>                           
											</ng-select>
											   
										</div>
										<div *ngIf="submitted && orForm.orderedReviewUserList.errors" class="tooltiptext text-right">
											<small class="error text-danger" *ngIf="orForm.orderedReviewUserList.errors.required">
												Required
											</small>
										</div>
									</div>
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="input-lable-side">
									   <span>Check for new studies at</span>
										<div class="icon-active icon-active-studies">
											<input type="time" formControlName="orderedReviewServiceRunFirstTime" class="form-control" id="timepicker30">
											<!-- <i class="fa-right-icon fa fa-clock-o"></i> -->
											<div *ngIf="submitted && orForm.orderedReviewServiceRunFirstTime.errors" class="tooltiptext text-right">
												<small class="error text-danger" *ngIf="orForm.orderedReviewServiceRunFirstTime.errors.required">
													Required
												</small>
											</div>	
											
										</div>
									   <span> and </span>
										<div class="icon-active icon-active-studies">
											<input type="time" formControlName="orderedReviewServiceRunSecondTime" class="form-control" id="timepicker31">
											<div *ngIf="submitted && orForm.orderedReviewServiceRunSecondTime.errors" class="tooltiptext text-right">
												<small class="error text-danger" *ngIf="orForm.orderedReviewServiceRunSecondTime.errors.required">
													Required
												</small>
											</div>	
											
										</div>	
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="input-group">
                            <textarea class="form-control" formControlName="orderedReviewNotes" placeholder="Add Note"
                            [ngClass]="{ 'is-invalid': (submitted && orForm.orderedReviewNotes.errors)}"></textarea>
                        </div>
                        <div *ngIf="submitted && orForm.orderedReviewNotes.errors" class="tooltiptext text-right">
                            <small class="error text-danger" *ngIf="orForm.orderedReviewNotes.errors.required">
                                Required
                            </small>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="theme-panel-footer">
                <button type="submit" href="javascript:void(0)" class="btn btn-theme">Update</button>
            </div>            
        </form>									
    </div>
</div>