<div class="main-page-body">
    <div class="page-header">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <div class="page-header-title">Lien Companies</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                <a href="javascript:void(0)" class="float-right btn btn-theme" (click)="addLienHoldingComp()"><i
                        class="fa fa-plus"></i> Add New Record</a>
            </div>
        </div>
    </div>
    <div class="inner-page-body">
        <div class="table-responsive">
            <dx-data-grid id="gridContainer2" [dataSource]="LienConpaniesList" [allowColumnResizing]="true"
                [columnAutoWidth]="true" [allowColumnReordering]="true" [columnResizingMode]="columnResizingMode"
                keyExpr="Id" [showBorders]="true">
                <dxo-sorting mode="multiple"></dxo-sorting>
                <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"> -->
                <!-- </dxo-filter-row> -->
                <!-- <dxo-header-filter [visible]="showHeaderFilter"> -->
                <!-- </dxo-header-filter> -->
				<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-load-panel [enabled]="true">
                </dxo-load-panel>
                <dxi-column dataField="Id" [width]="100" caption="Action" [allowFiltering]="false"
                    [allowSorting]="false" cellTemplate="cellTemplate" [visible]="true"></dxi-column>
                <dxi-column dataField="CompanyName" caption="Company Name"></dxi-column>
                <dxi-column dataField="Address1" caption="Address1"></dxi-column>
                <dxi-column dataField="Address2" caption="Address2"></dxi-column>
                <dxi-column dataField="City" caption="City"></dxi-column>
                <dxi-column dataField="State" caption="State"></dxi-column>
                <dxi-column dataField="ContactName" caption="Contact Name"></dxi-column>
                <dxi-column dataField="Phone" caption="Phone"></dxi-column>
                <dxi-column dataField="Fax" caption="Fax"></dxi-column>
                <dxi-column dataField="TaxID" caption="TaxID"></dxi-column>
                <dxi-column dataField="ProcCodeName" caption="Proc Code"></dxi-column>
                <dxi-column dataField="SellPrice" caption="Sell Price"></dxi-column>
                <dxi-column dataField="Email1" caption="Email1"></dxi-column>
                <dxi-column dataField="Email2" caption="Email2"></dxi-column>
                <dxi-column dataField="Email3" caption="Email3"></dxi-column>


                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void(0)" (click)="editLienComp(data);"
                        class="single-action fa fa-pencil-square-o" data-toggle="modal"
                        data-target="#addEditrecord"></a>
                </div>
            </dx-data-grid>
        </div>
        <div class="pagination-theme" *ngIf="totalRecords>0">
            <div class="pagination-theme">
                <div
                    *ngFor="let item of LienConpaniesList | paginate: { id: 'pagination2' , itemsPerPage: LienCompFilter.PageSize, currentPage: LienCompFilter.PageNumber, totalItems:totalRecords}">
                </div>
                <pagination-controls id="pagination2" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>