<div class="roles-list">
    <div class="row" *ngFor="let role of roleList">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="roles-inner">
                <div class="role-user-name">
                    {{role.NAME}}
                </div>
                <div>
                    <ckeditor #myckeditor
                        [(ngModel)]="role.UserDuties"  [config]="ckConfig" (paste)="onPaste($event)"
                        (change)="onChange($event)">
                    </ckeditor>
                    <!-- <ckeditor [editor]="Editor" [data]="role.UserDuties" [disabled]="true"></ckeditor> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination-theme">
    <div
        *ngFor="let item of roleList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }">
    </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>