<div class="search-field search-field-theme page-top-action">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <form>
        <div class="theme-form">
          <div class="form-group">
            <div class="theme-label">Search</div>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="search" name ="search"
                     (keyup.enter)="applyFilter()">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <button type="submit" class="btn   btn-theme"
                      (click)="applyFilter()">
                Search
              </button>
              <button type="button" class="btn btn-border"
                      (click)="clearFilters()">
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="roles-list">
    <div class="row" *ngFor="let role of roleList">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="roles-inner">
                <div class="role-user-name">
                    {{role.NAME}}
                </div>
                <div>
                    <ckeditor #myckeditor
                        [(ngModel)]="role.UserDuties"  [config]="ckConfig" (paste)="onPaste($event)"
                        (change)="onChange($event)">
                    </ckeditor>
                    <!-- <ckeditor [editor]="Editor" [data]="role.UserDuties" [disabled]="true"></ckeditor> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="noDataDisplay">
      <div class="nodata-display">
        No data to display
    </div>
      
    </div>
</div>
<div class="pagination-theme" *ngIf="!noDataDisplay"  >
    <div 
        *ngFor="let item of roleList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }">
    </div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
