.PDFIcon{
    cursor: pointer;
}
.PDFIcon i.fa {
    color: #3b8beb;
    font-size: 16px;
    font-weight: 600;
}
.modal-lower-case {
  text-transform: none !important;
}

.studyCount{
  margin-left: 10px;
}


.clsBatchBox {
  /* text-align: left;
  width: 25%;
  display: inline-block;
  white-space: nowrap; */
  display: flex;
  width: 99%;
  margin: auto;
}

.clsChecknumberBox {
  /* text-align: left;
  width: 35%;
  display: inline-block;
  white-space: nowrap; */
  display: flex;
  width: 98%;
  margin: auto;
}

.clsChecknumberBox>span{
text-align: left;
flex: 30%;
}
.clsBatchBox>span:first-child{
text-align: left;
}
.clsChecknumberBox>span:last-child{
text-align: right;
}
.clsBatchBox>span{
text-align: right;
flex: 25%;
}
.clsBatchBox>span:last-child{
text-align: right;
}

