<div class="inner-tab-content">
    <div class="clsPlusMinusButton" *ngIf="this.totalRecord>0">
        <a href="javascript:;" (click)="onExpand()" class="btn btn-common">+</a>
        <a href="javascript:;" (click)="onCollapse()" class="btn btn-common">-</a>
    </div>
    <div class="tab-pane reatinedpaid-section" id="RetainedARPaid">
        <div class="table-responsive">
            <dx-data-grid #grid id="gridContainerassignUnpaidList" class="radflowGrid radflowGrid_plusMinus" [dataSource]="retainedARpaid"
                [showBorders]="false" [allowColumnResizing]="true" [columnAutoWidth]="true" [showColumnHeaders]="false">
                <dxo-selection mode="single"></dxo-selection>
                <dxo-paging [pageSize]="pageSize" [pageIndex]="pageNumber"></dxo-paging>
                <dxo-pager [visible]="false"></dxo-pager>
                <dxo-sorting mode="none"></dxo-sorting>

                <dxi-column cellTemplate="CheckNumberTemplate"></dxi-column>

                <div *dxTemplate="let data of 'CheckNumberTemplate'">
                    <div *ngIf="data.data.checkNumber && data.data.checkDate && data.data.checkAmount" class="clsChecknumberBox modal-lower-case">
                        <span class="mr-2">Check No: {{data.data.checkNumber}}</span>
                         <span class="mr-2">Check Date: {{data.data.checkDate}}</span>
                         <span class="mr-2">Amount: {{data.data.checkAmount | currency:'USD':'symbol-narrow'}}</span>
                    </div>
                </div>

                <dxo-master-detail [enabled]="true" template="batchNameList"></dxo-master-detail>
                <div class="innerBatchTitle radflowGrid" *dxTemplate="let detail of 'batchNameList'">
                    <dx-data-grid [dataSource]="detail.data.retainedArPaidBatches" class="innerList innerTable" [columnAutoWidth]="true"
                        [showBorders]="false" [repaintChangesOnly]="true" [allowColumnResizing]="true"  [showColumnHeaders]="true">
                        <dxo-scrolling columnRenderingMode="virtual"> </dxo-scrolling>
                        <dxo-sorting mode="none"></dxo-sorting>
                        <!-- <dxi-column dataField="batchName" caption="Batchname"> </dxi-column> -->
                        <!-- <dxi-column cellTemplate="BatchTemplate">
                          <div class="clsBatchBox" *dxTemplate="let data of 'BatchTemplate'">
                          <span>{{data.data.radiologistName}}</span>
                          <span>{{data.data.transactionNumber}}</span>
                          <span class="studyCount">
                            {{data.data.studyCounts }} <span *ngIf="data.data.studyCounts > 1;else oneStudy">Studies</span>
                            <ng-template #oneStudy>
                               <span>Study</span>
                            </ng-template>
                          </span>
                          <span>{{data.data.totalAmount | currency:'USD':'symbol-narrow'}}</span>
                         </div>
                        </dxi-column> -->

                        <dxi-column dataField="radiologistName" caption="Reading Radiologist"></dxi-column>

                        <dxi-column dataField="transactionNumber" caption="Transaction Number" cellTemplate="transactionNumberTemplate">
                          <div *dxTemplate="let data of 'transactionNumberTemplate'" class="trnNumber">
                            <span>{{data.data.transactionNumber}}</span><a class="copyIcon" (click)="copyToClipboard(data.data.transactionNumber)"><i class="fa fa-copy"></i></a>
                          </div>
                        </dxi-column>

                        <dxi-column dataField="studyCounts" caption="Study Count"></dxi-column>
                        <dxi-column dataField="totalAmount" caption="Purchase Total" cellTemplate="TotalAmount"></dxi-column>
                        <div *dxTemplate="let data of 'TotalAmount'">
                          <span>{{data.data.totalAmount | currency:'USD':'symbol-narrow'}}</span>
                      </div>
                        <dxo-master-detail [enabled]="true" [autoExpandAll]="expandAll"
                            [template]="'batchDetail'"></dxo-master-detail>
                        <div class="innerTable" *dxTemplate="let detail of 'batchDetail'">
                            <dx-data-grid [dataSource]="detail.data.retainedArPaidList" class="innerList" [columnAutoWidth]="true"
                                [showBorders]="true" [repaintChangesOnly]="true" [allowColumnResizing]="true">
                                <dxo-scrolling columnRenderingMode="virtual"> </dxo-scrolling>
                                <dxo-sorting mode="none"></dxo-sorting>
                                <dxi-column dataField="rad" caption="RAD"> </dxi-column>
                                <dxi-column dataField="dateRead" caption="Date Read"></dxi-column>
                                <dxi-column dataField="dateArRetained" caption="AR Retained"></dxi-column>
                                <dxi-column dataField="paidDate" caption="Paid Date"></dxi-column>
                                <!-- <dxi-column dataField="fundingco" caption="Funding CO"></dxi-column> -->
                                <dxi-column dataField="patientId" caption="Patient ID"></dxi-column>
                                <dxi-column dataField="lastName" caption="Last Name"></dxi-column>
                                <dxi-column dataField="firstName" caption="First Name"></dxi-column>
                                <dxi-column dataField="dateOfBirth" caption="DOB"></dxi-column>
                                <dxi-column dataField="studydescription" caption="Study"></dxi-column>
                                <dxi-column dataField="dateOfStudy" caption="DOS"></dxi-column>
                                <dxi-column dataField="accessionNumber" caption="Access#"></dxi-column>
                                <dxi-column dataField="cptGroup" ></dxi-column>
                            </dx-data-grid>

                        </div>
                    </dx-data-grid>

                </div>
            </dx-data-grid>
        </div>
        <div class="pagination-theme" *ngIf="totalRecord > 0">
            <div
                *ngFor="let item of retainedARpaid | paginate: { id:'paginate2', itemsPerPage: pageSize, currentPage: currentPageNumber, totalItems:totalRecord }">
            </div>
            <pagination-controls id="paginate2" (pageChange)="onPageNumberChange($event)"></pagination-controls>
        </div>
    </div>
</div>
