<div class="dislpaytable">
    <div class="valign-content">
        <div class="valign-content-inner"> 
            <div *ngIf="isValidResetPassword" id="divResetPasswordInput" class="center-login">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="title-group">
                        <div class="title">Reset Password</div>
                    </div>							
                    <div class="form-group">
                        <div class="form-with-icon validation-tooltip">
                            <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" [ngClass]="{ 'is-invalid': IsSubmitted && rpForm.newPassword.errors }">
                            <!-- <input class="form-control" placeholder="Email"> -->
                            <div *ngIf="IsSubmitted && rpForm.newPassword.errors" class="tooltiptext text-right">
                                <small *ngIf= "IsSubmitted && rpForm.newPassword.errors.required" class="error text-danger text-capitalize">NEW PASSWORD IS REQUIRED</small>
                                <small *ngIf= "IsSubmitted && rpForm.newPassword.errors.pattern" class="error text-danger">PASSWORD DOESN'T MEET MIN. STRENGTH CRITERIA</small>                            

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-with-icon validation-tooltip">
                            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': IsSubmitted && rpForm.confirmPassword.errors }">
                            <!-- <input class="form-control" placeholder="Email"> -->
                            <div *ngIf="IsSubmitted && rpForm.confirmPassword.errors" class="tooltiptext text-right">   
                                <small  class="error text-danger" *ngIf= "IsSubmitted && rpForm.confirmPassword.errors.required"> CONFIRM PASSWORD IS REQUIRED</small>
                                <small  class="error text-danger" *ngIf= "IsSubmitted && (rpForm.confirmPassword.errors.mustMatch || rpForm.confirmPassword.errors.pattern)">CONFIRM PASSWORD MUST MATCH WITH NEW PASSWORD </small>                         

                            </div>
                        </div>
                    </div>
                    <div class="form-group alert alert-info text-center">
                     <span>PASSWORD MUST CONTAIN: MINIMUM 8 CHARACTERS, ONE LOWERCASE, ONE CAPITAL AND ONE NUMERIC CHARACTER</span>
                    </div>
                    <div class="form-btn-bottom">
                        <div class="form-btn">
                            <button type="submit" class="form-main-btn">Submit</button>
                     
                            <div class="forgot-password">
                                <a routerLink="/login">Back to Login</a>
                            </div>
                        </div>						
                    </div>
                </form>
                <ul class="login-footer-buttons">
                    <li><a routerLink="/contact-us" class="footer-link">Contact Us</a></li>                  
                </ul>								
            </div>
            <div  *ngIf="!isValidResetPassword" id="divResetPasswordExpireMessage">
            <span><h2><label>{{strSuccessMessage}}</label></h2></span>
            </div>
             
        </div>
    </div>
</div>