<div class="main-page-body">
   <div class="page-header">
      <div class="row">
         <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
            <div class="page-header-title">Referrers</div>
         </div>
         <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
            <a href="javascript:void(0)" class="btn btn-theme filter-btn filter-mobile"><i class="fa fa-filter"
                  aria-hidden="true"></i> Filter</a>
         </div>
      </div>
   </div>
   <div class="inner-page-body">
      <div class="search-field search-field-theme collapse show">
         <form [formGroup]="referrersForm" class="theme-form">
            <div class="form-group">
               <div class="theme-label">Search</div>
               <div class="input-group">
                  <input type="text" formControlName="searchText" class="form-control">
               </div>
            </div>
            <div class="form-group">
               <div class="theme-label">EXILED</div>
               <div class="input-group">
                  <select class="form-control" formControlName="exiledOption">
                     <option value="">Select</option>
                     <option value=true>Yes</option>
                     <option value=false>No</option>
                  </select>
               </div>
            </div>
            <div class="form-action">
               <button href="javascript:void(0)" type="submit" (click)="searchReferrers()" class="btn btn-theme">Search</button>
               <a href="javascript:void(0)" (click)="clearReferrers()" class="btn btn-border">Clear</a>
            </div>
         </form>
      </div>
      <div class="search-field search-field-mobile">
         <div class="remove-cataloge"></div>
         <form class="theme-form">
            <div class="filter-data">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                     <div class="form-group">
                        <div class="theme-label">Search</div>
                        <div class="input-group">
                           <input type="text" class="form-control">
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                     <div class="form-group">
                        <div class="theme-label">Status</div>
                        <div class="input-group">
                           <select class="form-control">
                              <option selected>Exiled</option>
                              <option>Yes</option>
                              <option>No</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-action">
               <button href="javascript:void(0)" type="submit" class="btn btn-theme">Search</button>
               <a href="javascript:void(0)" class="btn btn-border">Clear</a>
            </div>
         </form>
      </div>

      <div class="page-top-action">
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <div class="precisemri-search">
                  <div class=" precisemri-search page-select">
                     <div class="theme-label">Page Size</div>
                     <select class="form-search" (change)="onPageSizeChange($event.target.value)">
                        <option *ngFor="let item of pageSizeArray" [selected]="item.IsSelected == true"
                           value={{item.value}}>{{item.value}}</option>
                     </select>
                  </div>
                  <select class="form-search" #actionDropDown>
                     <option selected value="0">Select an Action</option>
                     <option value="Save Grid">Save Grid</option>
                  </select>
                  <button type="button" class="search" [disabled]="actionDropDown.value==0?true:false"
                     [ngStyle]="{'background-color': (actionDropDown.value==0) ? '#bfbfbf' : '#3b8beb'}"
                     (click)="goButtonClick(actionDropDown)">Go</button>
               </div>
               <a href="javascript:void(0)" class="right btn btn-theme" (click)="exportReferrerExcel()"><i
                     class="fa fa-file-excel-o"></i></a>
               <a href="javascript:void(0)" class="right btn btn-theme" (click)="getAllReferrers()"><i
                     class="fa fa-repeat"></i> Refresh</a>
            </div>
         </div>
      </div>
      <div class="table-responsive">
         <dx-data-grid id="gridContainer" [dataSource]="referrerList" [allowColumnResizing]="true"
            [columnAutoWidth]="true" [allowColumnReordering]="true" [columnResizingMode]="columnResizingMode"
            [columnMinWidth]="30" keyExpr="ReferrerID" [showBorders]="true">
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"> -->
            <!-- </dxo-filter-row> -->
            <!-- <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter> -->
            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
            <!-- <dxo-search-panel 
            [visible]="true" 
            [width]="300" 
            placeholder="Search...">
            </dxo-search-panel> -->
            <!-- <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager 
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[15,50, 100, 1000]"
            [showInfo]="true" >
            </dxo-pager> -->
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxi-column [width]="40" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
            </dxi-column>
            <dxi-column dataField="Type" caption="TYPE" [allowFixing]="true"></dxi-column>
            <dxi-column caption="BI" [allowFixing]="false" cellTemplate="BILINKTemplate"></dxi-column>
            <dxi-column dataField="FullName" caption="COMPANY NAME"></dxi-column>
            <!-- <dxi-column dataField="Specialty" caption="SPECIALTY"></dxi-column>
            <dxi-column dataField="NPIPhysicianID" caption="NPI / PHYSICIAN ID" alignment="left"></dxi-column> -->
            <dxi-column dataField="BusinessPhoneNumber" caption="BUSINESS PHONE" cellTemplate='BusinessPhoneNumber'
               alignment="center"></dxi-column>
            <!-- <dxi-column dataField="CellPhoneNumber" caption="CELL PHONE" cellTemplate='cellPhone' alignment="center">
            </dxi-column>
            <dxi-column dataField="PagerPhoneNumber" caption="PAGER PHONE"></dxi-column> -->
            <dxi-column dataField="FaxNumber" caption="FAX NUMBER" cellTemplate='FaxNumber'></dxi-column>
            <dxi-column dataField="Email" caption="EMAIL"></dxi-column>
            <dxi-column dataField="DateAdded" caption="DATE ADDED" cellTemplate="dateTemplate"></dxi-column>
            <!-- <dxi-column dataField="AutoFaxFinal" CellTemplate="AUTO FAX FINAL"
               [(visible)]="isShowColumnWithNoData"></dxi-column> -->
            <!-- <dxi-column dataField="AutoFaxFinal" caption="AutoFaxFinal" cellTemplate="AUTO FAX FINAL"
               [(visible)]="isShowColumnWithNoData">
            </dxi-column>
            <dxi-column dataField="AutoEmailFinal" caption="AUTO EMAIL FINAL" cellTemplate="AUTO EMAIL FINAL"
               [(visible)]="isShowColumnWithNoData">
            </dxi-column> -->
            <!-- <dxi-column dataField="AutoEmailFinal" caption="AUTO EMAIL FINAL" [(visible)]="isShowColumnWithNoData">
            </dxi-column> -->


            <dxi-column dataField="Address" caption="ADDRESS" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="ZipPostalCode" caption="ZIP" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="City" caption="CITY" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="StateProvince" caption="STATE" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <!-- <dxi-column dataField="MRI" caption="MRI" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="MRIWithoutContrast" caption="MRI WITHOUT CONTRAST"
               [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="MRIWithContrast" caption="MRI WITH CONTRAST" [(visible)]="isShowColumnWithNoData">
            </dxi-column>
            <dxi-column dataField="CT" caption="CT" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="CTWithoutContrast" caption="CT WITHOUT CONTRAST"
               [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="CTWithContrast" caption="CT WITH CONTRAST" [(visible)]="isShowColumnWithNoData">
            </dxi-column>
            <dxi-column dataField="Xray1View" caption="XRAY 1 VIEW" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="Xray2Views" caption="XRAY 2 VIEW" [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="Xray3Views" caption="XRAY 3 VIEW" [(visible)]="isShowColumnWithNoData"></dxi-column> -->

            <dxi-column dataField="Exiled" caption="EXILED" cellTemplate="EXILED" [(visible)]="isShowColumnWithNoData">
            </dxi-column>
            <!-- <dxi-column dataField="Exiled" caption="EXILED" [(visible)]="isShowColumnWithNoData"></dxi-column> -->
            <div *dxTemplate="let data of 'BILINKTemplate'">
               <a *ngIf="data.data.Type!='Doctor'" [href]="data.data.BILink" target="blank">
                  <img src="assets/images/BILink.png" width="20" height="20">
               </a>
            </div>
            <dxi-column dataField="ExiledDate" caption="EXILED DATE" cellTemplate="date2Template"
               [(visible)]="isShowColumnWithNoData"></dxi-column>
            <dxi-column dataField="ExiledComment" caption="EXILED COMMENT" [(visible)]="isShowColumnWithNoData">
            </dxi-column>

            <div *dxTemplate="let data of 'AUTO FAX FINAL'"> {{data.value ? "Yes":"No"}} </div>
            <div *dxTemplate="let data of 'AUTO EMAIL FINAL'"> {{data.value ? "Yes":"No"}} </div>
            <div *dxTemplate="let data of 'EXILED'"> {{data.value ? "Yes":"No"}} </div>
            <div *dxTemplate="let data of 'cellTemplate'">
               <a href="javascript:void(0)" class="single-action fa fa-pencil-square-o" style="font-size: 12px"
                  (click)="getCurrentReferrerDetail(data)" data-toggle="modal" data-target="#ReferrerDetailWindow"></a>
            </div>
            <div *dxTemplate="let data of 'BusinessPhoneNumber'">
               <p *ngIf="data && data.value">
                  {{ data.value | mask: '(000) 000-0000' }}
               </p>
            </div>
            <div *dxTemplate="let data of 'FaxNumber'">
               <p *ngIf="data && data.value">
                  {{ data.value | mask: '(000) 000-0000' }}
               </p>
            </div>
            <div *dxTemplate="let data of 'cellPhone'">
               <p *ngIf="data && data.value">
                  {{ data.value | mask: '(000) 000-0000' }}
               </p>
            </div>
            <div *dxTemplate="let data of 'dateTemplate'">
               {{data.value | date:dateTimeFormatCustom.Date}}
            </div>
            <div *dxTemplate="let data of 'date2Template'">
               {{data.value | date:dateTimeFormatCustom.Date}}
            </div>
            <!-- <div *dxTemplate="let data of 'AUTO FAX FINAL'"> {{data.value ? "Yes":"No"}} </div>
            <div *dxTemplate="let data of 'AUTO EMAIL FINAL'"> {{data.value ? "Yes":"No"}} </div> -->
         </dx-data-grid>
      </div>
      <div class="modal fade modal-theme create-alert-popup" id="create-alert" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-modal="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Create Alert</h5>
                  <div class="close-dismiss" data-dismiss="modal"></div>
               </div>
               <div class="modal-body">
                  <div class="modal-body-inner">
                     <form class="theme-form">
                        <div class="row">
                           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="row">
                                 <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <div class="theme-label-subtitle">Type</div>
                                 </div>
                                 <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                       <div class="input-group">
                                          <select class="form-control">
                                             <option selected>Missing Info</option>
                                             <option>Type Info1</option>
                                             <option>Type Info2</option>
                                             <option>Type Info3</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <div class="theme-label-subtitle">Reason</div>
                                 </div>
                                 <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                       <div class="input-group">
                                          <select class="form-control">
                                             <option selected>Select Reason</option>
                                             <option>Reason 1</option>
                                             <option>Reason 2</option>
                                             <option>Reason 3</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <div class="theme-label-subtitle">Patient ID</div>
                                 </div>
                                 <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                       <div class="input-group">
                                          <input type="text" class="form-control">
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                       <div class="input-group">
                                          <input type="text" class="form-control"
                                             placeholder="Liability Confirmation is needed for PatientID from Precise Imaging" />
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="cke-editor-group">
                                       <textarea class="form-control" id="alert-editor" cols="30" rows="10"
                                          required></textarea>
                                    </div>
                                 </div>
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <textarea class="form-control" cols="10" rows="5"
                                       placeholder="Internal Notes (ww to be sent)" required></textarea>
                                 </div>
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="checkbox-theme">
                                       <input class="form-control" id="notify" class="styled" type="checkbox">
                                       <label for="notify" class="arrow-labe2">Notify Internal User</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                              <div class="create-alert-list">
                                 <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                       <div class="theme-label-subtitle">Precise12345 - VALDEZ, TOny</div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
                                       <div class="theme-label-subtitle">Click an icon to send to that destination</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="create-alert-list">
                                 <div class="create-alert-list-left">
                                    <div class="theme-label-subtitle">Attorney</div>
                                 </div>
                                 <div class="create-alert-list-right">
                                    <div class="create-alert-list-right-top">
                                       <div class="theme-label-subtitle">N/A</div>
                                    </div>
                                    <div class="create-alert-list-right-bottom">
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-print pe-icon"></i>&nbsp; N/A
                                          </div>
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-mail-open-file pe-icon"></i>&nbsp; N/A
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="create-alert-list">
                                 <div class="create-alert-list-left">
                                    <div class="theme-label-subtitle">Ref.Phy.</div>
                                 </div>
                                 <div class="create-alert-list-right">
                                    <div class="create-alert-list-right-top">
                                       <div class="theme-label-subtitle">Brent Pratley</div>
                                    </div>
                                    <div class="create-alert-list-right-bottom">
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-print pe-icon"></i>&nbsp; 5624908589
                                          </div>
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-mail-open-file pe-icon"></i>&nbsp; N/A
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="create-alert-list">
                                 <div class="create-alert-list-left">
                                    <div class="theme-label-subtitle">Broker</div>
                                 </div>
                                 <div class="create-alert-list-right">
                                    <div class="create-alert-list-right-top">
                                       <div class="theme-label-subtitle">N/A</div>
                                    </div>
                                    <div class="create-alert-list-right-bottom">
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-print pe-icon"></i>&nbsp; N/A
                                          </div>
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-mail-open-file pe-icon"></i>&nbsp; N/A &nbsp; Main
                                          </div>
                                       </div>
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-print pe-icon"></i>&nbsp; N/A
                                          </div>
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-mail-open-file pe-icon"></i>&nbsp; N/A &nbsp; Billing
                                          </div>
                                       </div>
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-print pe-icon"></i>&nbsp; N/A
                                          </div>
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-mail-open-file pe-icon"></i>&nbsp; N/A &nbsp; AP
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="create-alert-list">
                                 <div class="create-alert-list-left">
                                    <div class="theme-label-subtitle">Patient</div>
                                 </div>
                                 <div class="create-alert-list-right">
                                    <div class="create-alert-list-right-top">
                                       <div class="theme-label-subtitle">N/A</div>
                                    </div>
                                    <div class="create-alert-list-right-bottom">
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-print pe-icon"></i>&nbsp; N/A
                                          </div>
                                       </div>
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-mail-open-file pe-icon"></i>&nbsp; N/A
                                          </div>
                                       </div>
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe-icon"><img src="assets/images/sms.png"></i>&nbsp; 9095685183
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="create-alert-list">
                                 <div class="create-alert-list-left">
                                    <div class="theme-label-subtitle">Addt'tl <br />Desk</div>
                                 </div>
                                 <div class="create-alert-list-right">
                                    <div class="create-alert-list-right-top">
                                       <div class="theme-label-subtitle">N/A</div>
                                    </div>
                                    <div class="create-alert-list-right-bottom">
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-print pe-icon"></i>
                                          </div>
                                       </div>
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe pe-7s-mail-open-file pe-icon"></i>
                                          </div>
                                       </div>
                                       <div class="create-alert-icon-list">
                                          <div class="create-alert-icon-detail">
                                             <i class="pe-icon"><img src="assets/images/sms.png"></i>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>

                  </div>
                  <div class="modal-footer">
                     <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"
                        data-dismiss="modal">Cancel</a>
                     <button type="button" class="btn btn-theme pull-left btn-sm" data-dismiss="modal">Create Alert
                        Only</button>
                     <button type="button" class="btn btn-theme pull-left btn-sm" data-dismiss="modal">Create &amp; Send
                        Alert</button>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <div>
         <div>
            <div
               *ngFor="let item of referrerList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }">
            </div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
         </div>
      </div>
   </div>
</div>
<app-referrer-detail></app-referrer-detail>
<app-document-referral-and-fundingco></app-document-referral-and-fundingco>