<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Invoice</h5>
        <div class="close-dismiss"></div>
        <div class="close-dismiss" (click)="close()"></div>
    </div>
    <div class="modal-body">
        <form class="theme-form" [formGroup]="payInvoiceForm">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="theme-label">Check #</div>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="checkId" appInputSpaceTrim
                                (keypress)="keyPressAlphaNumeric($event)" (change)="onPaste($event)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">Check Date</div>
                        <div class="input-group icon-active">
                            <dx-date-box #dob type="date" disabled [displayFormat]="dateTimeFormatCustom.Date"
                                [showClearButton]="false" [useMaskBehavior]="true" formControlName="checkDate"
                                [(value)]="currentDate">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="theme-label">Check Amount</div>
                        <div class="input-group">
                            <input type="text" (change)="transformAmount($event)" [(ngModel)]="formattedInputAmount"
                                class="form-control number" formControlName="checkAmount" appCurrencyInput
                                [ngClass]="{ 'is-invalid': payInvoiceFormControls.checkAmount.errors }">
                        </div>                        
                        <div *ngIf="payInvoiceFormControls.checkAmount.errors" class="invalid-feedback">
                            <div *ngIf="payInvoiceFormControls.checkAmount.errors.min">
                                amount should be less then $1
                            
                         </div>
                            <div *ngIf="payInvoiceFormControls.checkAmount.errors.max">
                               amount should be less then $9,99,999
                           
                        </div>
                            <div *ngIf="payInvoiceFormControls.checkAmount.errors.maxlength && !payInvoiceFormControls.checkAmount.errors?.pattern">
                                check amount should be a vaid number/decimal.</div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-theme" [disabled]="!payInvoiceForm.valid" (click)="MakePayment($event)"
            [ngStyle]="{'background-color':(!payInvoiceForm.valid)? '#bfbfbf' : '#3b8beb'}">Mark As Paid</button>
        <a href="javascript:void(0)" class="btn btn-border-gray btn-sm pull-right" (click)="cancel()">Cancel</a>
    </div>
</div>