@import "~@ng-select/ng-select/themes/default.theme.css";
@import "@fontsource/exo-2";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.contact-form-sec .dx-progressbar-status {
    display: none;
  }
  .contact-form-sec .dx-trackbar-container.dx-progressbar-container {
    height: 3px;
  }
  .contact-form-sec .dx-progressbar-range {
    border-color: #008ff7;
    background: #008ff7;
  }
  .contact-form-sec .dx-progressbar-range:after {
    content: '';
    position: absolute;
    right: -4px;
    top: -4px;
    background: #008ff7;
    width: 9px;
    height: 10px;
    border-radius: 50%;
  }.contact-form-sec .dx-progressbar-status {
  display: none;
}
.contact-form-sec .dx-trackbar-container.dx-progressbar-container {
  height: 3px;
}
.contact-form-sec .dx-progressbar-range {
  border-color: #008ff7;
  background: #008ff7;
}
.contact-form-sec .dx-progressbar-range:after {
  content: '';
  position: absolute;
  right: -4px;
  top: -4px;
  background: #008ff7;
  width: 9px;
  height: 10px;
  border-radius: 50%;
}
.contact-form-sec .dx-progressbar-wrapper {
    margin-bottom: 24px;
}
.attorneyDatepicker .dx-dropdowneditor-button .dx-button-content .dx-dropdowneditor-icon {
  color: #62c4f1 !important;
}
.attorneyDatepicker .dx-texteditor.dx-editor-outlined {
  padding-left: 0;
  border: 1px solid #03c8f1;
}

.attorneyDatepicker .dx-texteditor.dx-editor-outlined .dx-texteditor-input-container .dx-placeholder {
  font-size: 15px;
  color: #848181;
  font-family: inherit;
}


.attorneyDatepicker .dx-texteditor.dx-editor-outlined .dx-texteditor-input-container .dx-placeholder {
  font-size: 15px;
  color: #8c8989;
}
.attorneyDatepicker .dx-texteditor.dx-editor-outlined .dx-texteditor-input-container .dx-texteditor-input {
  padding: 9px 0;
}

.appointmentSec .nav.nav-pills .nav-item {
background: #F7F6F6;
}

.appointmentSec .nav.nav-pills .nav-item:nth-child(3) a {
border-radius: 0 6px 6px 0;
border: 1px solid #3D8AF7;
border-left: none;
}

.appointmentSec .nav.nav-pills .nav-item a {
border-right: 1px solid #3D8AF7;
border-radius: 0;
font-size: 15px;
font-family: 'exo 2';
font-weight: 500;
padding: 6px 4px;
}

/* .appointmentSec .nav.nav-pills .nav-item:nth-child(3) a {
border-right: 0;
} */

.appointmentSec .nav.nav-pills .nav-item:nth-child(1) a{
border-radius: 6px 0 0 6px;

border: 1px solid #3D8AF7;
border-right: none;
}
.appointmentSec .nav.nav-pills .nav-item:nth-child(2) a {
  border: 1px solid #3D8AF7;
  /* border-left: none; */
  /* border-right: none; */
}

.appointmentSec .nav.nav-pills .nav-item:nth-child(1) .nav-link.active {
border-radius: 6px 0 0 6px;
}
.appointmentSec .nav.nav-pills .nav-item:nth-child(3) .nav-link.active {
border-radius: 0 6px 6px 0;
}

.appointmentSec .nav.nav-pills {
margin-bottom: 26px;
width: 100%;
display: grid;
grid-template-columns: 33.333% 33.333% 33.333%;
padding: 0;
}
.es-lang .appointmentSec .nav.nav-pills {
  grid-template-columns: 24.333% 47.333% 27.333%;
}
.main-content canvas {
  position: inherit;
  bottom: 0;
  left: 0;
}


@media screen and (max-width:767px) {
  .login-page .login-right .valign-content-inner {
    max-width: 100%;
    padding: 130px 16px;
    width: 100%;
}

.appointmentSec .nav.nav-pills {
  grid-template-columns: 26.333% 43.333% 28.333%;
}
.es-lang .appointmentSec .nav.nav-pills {
  grid-template-columns: 22.333% 54.333% 24.333%;
}
.login-page .login-right .patient-login .center-login .title-group .title img {
  width: 100%;
}
.login-page .login-right .patient-login .center-login .form-btn .form-main-btn
{
  font-size:10px !important;
}
.appointmentSec .nav.nav-pills .nav-item a{
  font-size: 12px;
}

}





.custom-tooltip-inner {
  background: #ffffff !important;
  max-height: 200px;
  overflow-y: auto;
  max-width: 230px;
  overflow-x: hidden;
  pointer-events: auto;
}
.infoIcon .bs-tooltip-left .arrow::before {
  border-left-color: #fff !important;
}
.infoIcon .tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 4px #737373;
}
.custom-tooltip-inner p {
  font-family: 'exo 2';
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
}
.custom-tooltip-inner img {
  width: 80px;
  height: auto;
  object-fit: contain;
}
.infoIcon .tooltip.show{
  opacity: 1;
}

#signatureModal .modal-body{
  text-transform: capitalize !important;
}

.radflowGrid tr.dx-row.dx-data-row.dx-column-lines td {
  background: #E5E5E5;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 8px !important;
}
.radflowGrid .innerTable tr.dx-row.dx-data-row.dx-column-lines td {
  background: rgb(255, 255, 255);
}

.radflowGrid .innerTable tr.dx-row.dx-column-lines.dx-header-row td {
  padding: 6px 8px !important;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  vertical-align: top !important;
  border-bottom: none !important;
  white-space: nowrap !important;
  background-color: #e1f0ff !important;
  border-left: 1px solid #ddd !important;
}

.radflowGrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-group-space + td{
  text-align: center!important;
}

#AddFundingCmpModal .modal-dialog .modal-body .tab-section.addFundingCmp-tab {
  height: auto;
}

.radflowGrid_plusMinus .dx-datagrid-group-closed::before {
  content: "+" !important;
  font-family: cursive;
  font-size: 25px;
}

.radflowGrid_plusMinus .dx-datagrid-group-opened::before {
  content: "-" !important;
  font-family: cursive;
  font-size: 25px;
}
.account-debtor{
  background-image: url(assets/images/account-debtor.png);
  display: block;
  background-repeat:no-repeat;
  background-position: center;
}