<div class="modal fade modal-theme in" id="docManager" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{headerTitle}} Document Manager </h5>
                <div class="close-dismiss" data-dismiss="modal" (click)="updateTabId('All',false)"></div>
            </div>
            <div class="modal-body">
                <div class="tab-section">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#All" (click)="updateTabId('All',true)"
                                [ngClass]="{'active': tabId === 'All'}">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Scheduling"
                                (click)="updateTabId('Scheduling',true)"
                                [ngClass]="{'active': tabId === 'Scheduling'}">Scheduling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Reports" (click)="updateTabId('Reports',true)"
                                [ngClass]="{'active': tabId === 'Reports'}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Billing/Payments"
                                (click)="updateTabId('Billing/Payments',true)"
                                [ngClass]="{'active': tabId === 'Billing/Payments'}">Billing/Payments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Subs" (click)="updateTabId('Subs',true)"
                                [ngClass]="{'active': tabId === 'Subs'}">Subs</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active ccc" [attr.id]="tabId">
                            <dx-file-manager id="fileManager" [fileSystemProvider]="fileItems"
                                [selectedItemKeys]="selectedFileKeys" class="pointer-column"
                                (onSelectionChanged)="fileManager_onSelectionChanged($event)"
                                (onContextMenuItemClick)="onItemClick($event)"
                                (onSelectedFileOpened)="selectedFileDisplay($event)"
                                (onOptionChanged)="onOptionChanged($event)" (onContentReady)="onContentReady($event)"
                                noDataText="No files">

                                <dxo-item-view [showParentFolder]="false">
                                    <dxo-details>
                                        <dxi-column dataField="name" width="400"></dxi-column>
                                        <dxi-column dataField="docType" caption="Type" width="300"></dxi-column>
                                        <dxi-column dataField="uploadedBy" caption="Uploaded By" width="220">
                                        </dxi-column>
                                        <dxi-column dataField="uploadedOn" caption="Uploaded On" width="200">
                                        </dxi-column>
                                        <dxi-column dataField="docId" [visible]="false" caption="DocId"></dxi-column>
                                        <dxi-column dataField="fileBase64" [visible]="false" caption="Image Data">
                                        </dxi-column>
                                        <dxi-column dataField="referreId" [visible]="false" caption="PatientId">
                                        </dxi-column>
                                        <dxi-column dataField="patientLastName" [visible]="false"
                                            caption="patient Last Name"></dxi-column>
                                        <dxi-column dataField="patientFirstName" [visible]="false"
                                            caption="patient First Name"></dxi-column>
                                        <dxi-column dataField="docTypeId" [visible]="false" caption="DocTypeId">
                                        </dxi-column>
                                        <dxi-column dataField="docFromAttorney" width="200" caption="Doc From Attorney">
                                        </dxi-column>
                                    </dxo-details>
                                    <div *dxTemplate="let data of 'uploadedOn'">
                                        <ng-container *ngIf="data && data.value">
                                            {{data.value | date:dateTimeFormatCustom.DateTime }}
                                        </ng-container>
                                    </div>
                                </dxo-item-view>

                                <dxo-toolbar>
                                    <dxi-item name="showNavPane" [visible]="false"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item widget="dxMenu" location="before" [options]="CustomToolBarItem1">
                                    </dxi-item>
                                    <dxi-file-selection-item widget="dxMenu" [options]="CustomToolBarItem2">
                                    </dxi-file-selection-item>
                                    <dxi-item name="refresh" [visible]="false"></dxi-item>
                                </dxo-toolbar>
                                <dxo-context-menu>
                                    <dxi-item text="Open" beginGroup="true"></dxi-item>
                                    <dxi-item text="Delete" beginGroup="true"></dxi-item>
                                    <dxi-item text="Rename" beginGroup="true"></dxi-item>
                                    <dxi-item text="Upload" beginGroup="true"></dxi-item>
                                    <dxi-item text="Send Document" beginGroup="true"></dxi-item>
                                </dxo-context-menu>
                            </dx-file-manager>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-theme in" id="viewFile_Doc" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{fileName}}</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body" *ngIf="fileData">
                <iframe width="100%" height="100%" frameBorder="0" [src]="fileData"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-theme modal-small" id="uploadFilePopUp" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Document</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <div class="theme-form">
                    <div class="row">
                        <div class="col-xl-12 center-block">
                            <div class="form-group">
                                <div class="theme-label">Select Document Type</div>
                                <div class="input-group">
                                    <select class="form-control" [ngModel]="selectedDocumentTypeId"
                                        [ngClass]="{ 'is-invalid':selectedDocumentTypeId=='' && docTypeModelChange==true} "
                                        (ngModelChange)="setUploadedFileDocType($event)">
                                        <option selected value="">Select Document Type</option>
                                        <option *ngFor="let item of documentTypeList" [ngValue]="item">
                                            {{item.DocType}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="(selectedDocumentTypeId=='' && docTypeModelChange==true)"
                                    class="invalid-feedback text-right">
                                    <div *ngIf="selectedDocumentTypeId=='' && docTypeModelChange==true">Document Type is
                                        required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 center-block">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="upload-section">
                                        <div class="fileupload" data-provides="fileupload" appFileupload
                                            (onFileDropped)="onFileDropped($event)">
                                            <span class="btn btn-file drag-drop-box ">
                                                <span class="fileupload-new"><i class="fa fa-upload"></i> Drag &amp;
                                                    Drop files Here or Browse</span>
                                                <input type="file" class="file-input" [multiple]="false"
                                                    (change)="fileBrowseHandler($event.target.files)" #fileUpload
                                                    id="fileUpload"
                                                    accept=".jpg,.jpeg,.png,.gif,.bmp,.txt,.doc,.docx,.pdf,.xls,.xlsx">
                                                <span class="fileupload-preview"></span>
                                            </span>
                                        </div>
                                        <p class="red-color" style="float: right; margin-right: 9%;"
                                            *ngIf="isFileSizeSmall">File should be greater than 0Kb</p>
                                        <p class="red-color" style="float: right; margin-right: 7%;"
                                            *ngIf="isfileSizeOk">File should be less than 4MB</p>
                                        <!-- <ng-template #otherMsg>
                                        <p class="red-color">2 MB max file size.</p>   
                                    </ng-template>                                 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="selectedUploadFile || selectedUploadFile?.length>0">
                        <div class="files-list">
                            <div class="single-file" *ngFor="let file of selectedUploadFile; let i = index">
                                <div class="file-icon" style="width: 35px">
                                    <i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 20px;"></i>
                                </div>
                                <div class="info">
                                    <h4 class="name">
                                        {{ file?.name }}
                                    </h4>
                                    <p class="size">
                                        {{ formatBytes(file?.size) }}
                                    </p>
                                    <app-progress [progress]="file?.progress"></app-progress>
                                </div>
                                <div class="delete" (click)="deleteSelectedUploadFile(i)">
                                    <i class="fa fa-trash-o" style="font-size:24px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm"
                    data-dismiss="modal">Cancel</a>
                <button type="button" class="btn btn-theme pull-left btn-sm" data-dismiss="modal"
                    [disabled]="selectedDocumentTypeId=='' || (!selectedUploadFile || selectedUploadFile?.length ==0)"
                    (click)="uploadFile(fileUpload)">Upload</button>
            </div>
        </div>
    </div>

</div>
<div class="modal fade modal-theme modal-small" id="alertInfoPopUp" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                <div class="theme-form">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <div class="theme-label-subtitle">There is an active alert related to an RX issue. Do
                                    you this new RX document to clear the aleart?</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="form-group">
                                <div class="theme-label-subtitle">Type:</div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                <div class="theme-label-subtitle">{{alertInfo.alertType}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="form-group">
                                <div class="theme-label-subtitle">Reason:</div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="input-group">
                                <select class="form-control" [(ngModel)]="selectedHasAlertId"
                                    (change)="updateDocumentAlertInfo(selectedHasAlertId)">
                                    <option selected disabled value="">Select Reason</option>
                                    <option *ngFor="let item of documentManagerAlert.alertInfo"
                                        [ngValue]="item.hasAlertId">
                                        {{item.reason}}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="form-group">
                                <div class="theme-label-subtitle">Date Added:</div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                <div class="theme-label-subtitle">{{alertInfo.alertCreatedOn|date: dateTimeFormatCustom.DateTimeWithSec}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="form-group">
                                <div class="theme-label-subtitle">Added By:</div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="form-group">
                                <div class="theme-label-subtitle">{{alertInfo.alertCreatedBy}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm" data-dismiss="modal"
                    (click)="emptyAlertDoumentInfo()">Cancel</a>
                <button type="button" class="btn btn-border-clear pull-left btn-sm" data-dismiss="modal"
                    (click)="UploadedDocumentForRxOrSimpleUpload(true)">Clear Alert & Upload</button>
                <button type="button" class="btn btn-theme pull-left btn-sm" data-dismiss="modal"
                    (click)="UploadedDocumentForRxOrSimpleUpload(false)">Upload Only</button>
            </div>
        </div>
    </div>
</div>


<!-- Message Pop Up Start -->

<div class="modal fade modal-theme modal-small" id="deleteItemConfirmPopUp" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <div class="close-dismiss" data-dismiss="modal" (click)="deleteOrCancelItem(false)"></div>
            </div>
            <div class="modal-body">
                <p>would you like to delete this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-border-gray pull-right btn-sm" data-dismiss="modal"
                    (click)="deleteOrCancelItem(false)">Cancel</button>
                <button type="button" class="btn btn-theme pull-left btn-sm" data-dismiss="modal"
                    (click)="deleteOrCancelItem(true)">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-theme modal-small" id="RenamePopUp" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rename</h5>
                <div class="close-dismiss" data-dismiss="modal"></div>
            </div>
            <form [formGroup]="renameForm" class="theme-form">
                <div class="modal-body">
                    <div class="modal-body-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="theme-label">Rename</div>
                                    <div class="input-group">
                                        <input type="text" formControlName="renameTxt" class="form-control" />
                                    </div>
                                    <div *ngIf="(submitted || refrenameForm.renameTxt.touched) && refrenameForm.renameTxt.errors"
                                        class="tooltiptext text-right">
                                        <small class="error text-danger"
                                            *ngIf="refrenameForm.renameTxt.errors.required">File name required</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm" data-dismiss="modal"
                        (click)="renameOrCancelItem(false)">Cancel</a>
                    <button type="submit" class="btn btn-theme pull-left btn-sm" data-dismiss="modal"
                        (click)="renameOrCancelItem(true)" [attr.data-dismiss]="modelValue">Rename</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade modal-theme modal-small" id="commonMessagePopUp" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <div class="close-dismiss" data-dismiss="modal" (click)="emptyCommonMessage()"></div>
            </div>
            <div class="modal-body">
                <p>{{commonPopUpMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-theme pull-left btn-sm" data-dismiss="modal"
                    (click)="emptyCommonMessage()">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Message Pop Up End -->

<!-- Send Document Pop Up Start-->

<app-send-document></app-send-document>

<!-- Send Document Pop Up End-->

<div class="modal fade modal-theme modal-large DynamsoftScannerPopUp" id="DynamsoftScannerPopUp" data-backdrop="static" data-keyboard="false"
    role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{headerTitle}} Scanner </h5>
                <div class="close-dismiss sureshDoc" data-dismiss="modal" (click)="toggleStartDemo()"></div>
            </div>
            <div class="modal-body">
                <div *ngIf="show">
                    <app-docdwt [data]='currentPatientId' [events]="eventsSubject.asObservable()" 
                    ></app-docdwt>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-border-gray pull-right btn-sm" data-dismiss="modal"
                    (click)="toggleStartDemo()">Cancel</a>

            </div>
        </div>
    </div>

</div>

<button class="d-none" #hiddenCommonMessagePopUpButton [hidden]="true" data-toggle="modal"
    data-target="#commonMessagePopUp"></button>
<button class="d-none" #hiddenFileDeleteItem [hidden]="true" data-toggle="modal"
    data-target="#deleteItemConfirmPopUp"></button>
<button class="d-none" #hiddenAlertInfoPopUp [hidden]="true" data-toggle="modal" data-target="#alertInfoPopUp"></button>
<button class="d-none" #hiddenUploadFilePopUp [hidden]="true" data-toggle="modal"
    data-target="#uploadFilePopUp"></button>
<button class="d-none" #hiddenViewFile [hidden]="true" data-toggle="modal" data-target="#viewFile_Doc"></button>
<button class="d-none" #hiddenShowSendDocumentPopUp [hidden]="true" data-toggle="modal"
    data-target="#send-documents"></button>
<button class="d-none" #hiddenFileRenamePopUpItem [hidden]="true" data-toggle="modal"
    data-target="#RenamePopUp"></button>
<button class="d-none" #hiddenDynamsoftScannerPopUp [hidden]="true" data-toggle="modal"
    data-target="#DynamsoftScannerPopUp"></button>
