
    <div class="table-responsive">
        <dx-data-grid
        id="gridContainer"
        [dataSource]="linksList"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [allowColumnReordering]="true"
        [columnResizingMode]="columnResizingMode"
        [columnMinWidth]="30"
        
        keyExpr="LinkId"  
        [showBorders]="true">
        
        <dxo-sorting mode="multiple"></dxo-sorting>
        <!-- <dxo-filter-row  -->
        <!-- [visible]="showFilterRow"  -->
        <!-- [applyFilter]="currentFilter"> -->
        <!-- </dxo-filter-row> -->
        <!-- <dxo-header-filter  -->
        <!-- [visible]="showHeaderFilter" > -->
        
        <!-- </dxo-header-filter> -->
		
				<dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        <dxo-load-panel [enabled]="true">
        </dxo-load-panel>
        <dxi-column dataField="Category" caption="Category" [groupIndex]="0" [visible]="false"></dxi-column>
        <dxi-column dataField="Did" [width]="100" caption="id"  [allowFiltering]="false"
        [allowSorting]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="Link" caption="Link" [visible]="false"></dxi-column>
        <dxi-column dataField="Anchor" caption="Anchor" [visible]="false"></dxi-column>
        <dxi-column  caption="URL" cellTemplate="cellTemplate"></dxi-column>
        <dxi-column dataField="Description" caption="Description"></dxi-column>
        
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        <div *dxTemplate="let data of 'cellTemplate'">
            <a [href]="data.data.Link" target="_blank">{{data.data.Anchor}}</a>
        </div>
        </dx-data-grid>
    </div>
      <div class="pagination-theme">
        <div *ngFor="let item of linksList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalRecords }"></div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>   
    </div>
