<div class="tab-pane" id="options-tab">
    <div class="theme-form-center">
        <form class="theme-form">
            <div class="theme-panel-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group">
                            <div class="theme-label">Send Email to</div>
                            <div class="input-group">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="alert alert-info" role="alert">
                            when a new study comes in with no attorney fax AND no attorney email. (Only if the status is greater than status signed)
                        </div>
                    </div>
                </div>
            </div>
            <div class="theme-panel-footer">
                <a href="javascript:void(0)" class="btn btn-theme">Update</a>
            </div>
        </form>									
    </div>
</div>